header {
	#top {
		.top-center {
			position: relative;
			padding: 15px 0px;
			@media (max-width: 1199px) {
				flex-wrap: wrap;
			}
			.logo {

			}
			.right.left-right {
				margin: 0px 0px 0px 48px;
			}
			.desktop-menu {
				padding: 0px 6px 0px 40px;
				margin: 0px auto;
				@media (max-width: 1199px) {
					order: 4;
					padding: 20px 0px 0px 35px;
				}
				.megamenu-wrapper {
					position: static;
				}
				ul.megamenu {
					position: static;
					> li {
						> a {
							padding-top: 12px;
							&:before {
								margin-bottom: -5px;
							}
							.megamenu-label {
								top: -4px;
							}
						}
					}
				}
			}
			.right {
				margin: 0px 0px 0px auto;
				.switchers {
					padding-right: 10px;
					.dropdown {
						margin: 8px 30px 8px 0px;
						.dropdown-toggle {
							font-size: 12px;
							font-weight: 600;
							text-transform: uppercase;
							&:after {
								border-top-color: #b2b2b2;
								margin-left: 6px;
							}
						}
					}
				}
				.desktop-search {
					position: relative;
					margin: 0px;
					width: auto;
					.open-search {
						a {
							cursor: pointer;
							svg {
								width: 26px;
								height: 26px;
							}
						}
					}
					.search_form {
						display: none;
						width: 305px;
						&.active {
							display: block;
							position: absolute;
							background: #fff;
							border: 1px solid rgba(0, 0, 0, 0.1);
							right: -30px;
							margin: 10px 0px 0px 0px;
							padding: 15px;
							.button-search {
								right: 27px;
							}
						}
					}
				}
				.my-account {
					margin-left: 25px;
				}
			}
		}
	}
}

.is-sticky {
	#top {
		.pattern {
			> .container {
				display: block;
				.top-center {
					padding: 10px 0px;
					display: flex !important;
				}
				.desktop-menu {
					.horizontal {
						padding-top: 0px !important;
						ul.megamenu {
							> li {
								> a {
									height: 50px;
									padding-top: 12px;
									.megamenu-label {
										top: -4px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}