#top {
	.top-center {
		position: relative;
		padding: 25px 0px;
		.switchers {
			padding-right: 25px;
			.dropdown {
				margin: 8px 30px 8px 0px;
				@media (max-width: 1098px) {
					margin-right: 20px;
				}
				.dropdown-toggle {
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					&:after {
						border-top-color: #b2b2b2;
						margin-left: 6px;
					}
				}
			}
		}
		.right {
			.desktop-search {
				position: relative;
				margin: 0px;
				width: auto;
				.open-search {
					a {
						cursor: pointer;
						svg {
							width: 26px;
							height: 26px;
						}
					}
				}
				.search_form {
					display: none;
					width: 305px;
					&.active {
						display: block;
						position: absolute;
						background: #fff;
						border: 1px solid rgba(0, 0, 0, 0.1);
						right: -30px;
						margin: 10px 0px 0px 0px;
						padding: 15px;
						z-index: 30;
						.button-search {
							right: 27px;
						}
					}
				}
			}
			.my-account {
				margin-left: 25px;
			}
		}
	}
}