/* MasterSlider Start */
/* -----------------------------------------------------
--------------------- BUTTONS --------------------------
------------------------------------------------------*/
.master-slider .ms-btn { 
	-webkit-appearance:none; 
	text-align:center;
	padding:9px 17px;
	display:inline-block;
	font-size:14px;
	line-height:20px;
	text-align:center;
	letter-spacing: .3px;
	border:2px solid;
	border-radius:3px;
	max-width:100%;
	white-space:nowrap;
	background-color:#111111;
	border-color:transparent;
	color:#ffffff;
	font-weight: 400;
	transition:opacity 400ms;
}
.master-slider .ms-btn:hover { 
	transition:opacity 400ms;
	opacity:0.8;
}
.master-slider .ms-btn.btn-square { 
	border-radius:0px;
}
.master-slider .ms-btn.btn-large {
	padding: 12px 24px;
	font-size:15px;
}
.master-slider .ms-btn.btn-white { 
	background-color:#ffffff;
	color:#111111;
}
.master-slider .ms-btn.btn-red { 
	background-color:#e22727;
}
.master-slider .ms-btn.btn-green { 
	background-color:#3da02a;
}
.master-slider .ms-btn.btn-blue { 
	background-color:#2c88f0;
}
.master-slider .ms-btn.btn-orange { 
	background-color:#e0661d;
}
.master-slider .ms-btn.btn-pink { 
	background-color:#f1439d;
}
.master-slider .ms-btn.btn-navy { 
	background-color:#17236b;
}
.master-slider .ms-btn.btn-brown { 
	background-color:#423317;
}
.master-slider .ms-btn.btn-outline { 
	border-color:#111111;
	background-color:transparent;
	color:#111111;
}
.master-slider .ms-btn.btn-light-outline { 
	border-color:#ffffff;
	background-color:transparent;
	color:#ffffff;
}
/* ------------- GENERAL ------------- */
.master-slider {
	position: relative;
	visibility: hidden;
	-moz-transform: translate3d(0 , 0 , 0);
	overflow:hidden;
	line-height:1.7;
}
@media (max-width:1199px) {
.master-slider {min-height:0 !important;}
}
.master-slider, .master-slider * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.master-slider.ms-fullheight{height: 100%;}
.ms-layout-partialview .ms-view {
	overflow: visible;
	background-color:transparent;
}
.ms-layout-partialview .ms-container { overflow: hidden; }
.master-slider img, .ms-slide-bgvideocont video {max-width:none;}
.ms-moz .ms-slide-bgcont>img { transform: translateX(0px); }
.ms-loading-container{
	position:absolute;
	width:100%;
	top:0;
}
.ms-slide-auto-height { display: table; }
.ms-no-swipe, .ms-def-cursor{cursor:auto !important;}
.ms-ie .ms-grab-cursor{cursor: move;}
.ms-ie .ms-grabbing-cursor {cursor: move;}
.ms-view {
	margin:0px auto;
	overflow:hidden;
	background:#ffffff;
	position:relative;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}
.ms-view .ms-slide-container{position:relative;}
.ms-slide {
	position:absolute;
	height:100%;
	-webkit-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);
}
.ms-wk .ms-slide {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ms-slide .ms-slide-bgcont,
.ms-slide .ms-slide-bgvideocont{
	position: absolute;
	overflow:hidden;
	width: 100%;
}
.ms-slide .ms-slide-link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	z-index: 110;
}
.ms-ie .ms-slide-link {
	background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR‌​AA7") 0 0 repeat;
}
.ms-slide .ms-slide-bgvideocont{
	z-index: 105;
	height: 100%;
}
.ms-wk .ms-slide .ms-slide-bgvideocont,
.ms-wk .ms-slide-bgvideocont>video{
	-webkit-transform: translateZ(0.3px);
	transform: translateZ(0.3px);
}
.ms-slide .ms-slide-bgvideo{
	position: absolute;
	top: 0px;
}
.ms-inner-controls-cont, .ms-container {position: relative; margin:0 auto;}
.ms-slide .ms-slide-bgcont img , .ms-container , .ms-inner-controls-cont{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.ms-slide .ms-layer,
.ms-fixed-layers .ms-layer,
.ms-overlay-layers .ms-layer {
    position:absolute;
    pointer-events: auto;
}
.ms-slide .ms-layer.image {
	width:auto !important;
}
.ms-layer-mask {
    position: absolute;
    overflow: hidden;
}
.ms-layer-mask .ms-layer{
    position: relative;
}
.ms-slide .ms-slide-layers,
.ms-overlay-layers .ms-slide-layers,
.ms-fixed-layers {
	position: absolute;
	width:100%;
	height: 100%;
	z-index: 109;
	top:0px;
	pointer-events: none;
}
.ms-parallax-layer {
	width: 100%;
	position: absolute;
	top: 0;
}
.ms-scroll-parallax-cont {
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
}
.ms-wk .ms-scroll-parallax-cont{
	-webkit-transform: translateZ(0.4px);
	transform: translateZ(0.4px);
}
.ms-action-layer{cursor: pointer;}
.ms-btn-container{position: absolute;width:auto !important;}
.ms-btn {white-space: nowrap;}

.master-slider .btn-tiny  {
	border-width:1px;
	padding: 5px 12px;
}
.ms-default-btn:active{top:1px;}
/* controls */
.ms-thumb-list{
	overflow:hidden;
	position:absolute;
}
.ms-bullet{cursor:pointer;float: left;}
.ms-bullets.ms-dir-h {
	position: absolute;
	bottom: 20px;
	right: 50%;
	width: 100px;
}
.ms-bullets.ms-dir-h .ms-bullets-count {
	position: relative;
	right: -50%;
}
.ms-sbar {position: absolute;}
.ms-sbar.ms-dir-h {
	left: 10px;
	right: 10px;
	top: 5px
}
.ms-sbar.ms-dir-v {
	top: 10px;
	bottom: 10px;
	right: 5px
}
.ms-sbar .ms-bar {
	height: 4px;
	background: #333;
	border-radius: 4px;
}
.ms-sbar.ms-dir-v .ms-bar {	width: 4px;}
.ms-sbar .ms-bar{
	position:relative;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.ms-timerbar {
	width: 100%;
	bottom: 0px;
	position: absolute;
}
.ms-time-bar{
	-webkit-transition: width 120ms linear;
	-moz-transition: width 120ms linear;
	-ms-transition: width 120ms linear;
	-o-transition: width 120ms linear;
	transition: width 120ms linear;
}
/* In Android browser, using css animations over slider causes some crashes */
.ms-android .ms-tooltip-point .ms-point-border{
	animation:none;
	-moz-animation:none;
	-webkit-animation:none;
	-o-animation:none;
}
.ms-nav-next:after, 
.ms-nav-prev:after, 
.circle-arrows .ms-nav-prev:before,
.circle-arrows .ms-nav-next:before {
	display:block;
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -35px;
	position: absolute;
	z-index: 1;
	color:#ffffff;
	font-size:18px;
	border-radius:50%;
    font-family: FontAwesome;
    content: "\f053";
}
.ms-nav-next:after,
.circle-arrows .ms-nav-next:before {
	right: 30px;
	left: auto;
	font-family: FontAwesome;
    content: "\f054";
}
.simple-arrows .ms-nav-prev:after,
.simple-arrows .ms-nav-next:after {
	font-size:36px;
	width:36px;
}
.circle-arrows .ms-nav-prev:after,
.circle-arrows .ms-nav-next:after {
	background:rgba(0,0,0,0.1);
}
.circle-arrows .ms-nav-prev:before,
.circle-arrows .ms-nav-next:before {
	font-size:0;
	background:rgba(0,0,0,0.4);
	transform:scale(0,0);
	transition:transform 250ms;
}
.circle-arrows .ms-nav-prev:hover:before,
.circle-arrows .ms-nav-next:hover:before {
	transform:scale(1,1);
	transition:transform 250ms;
}
.ms-bullet {
	width: 12px;
	height: 12px;
	border:2px solid #ffffff;
	border-radius:50%;
	margin:0 3px !important;
	transition:background 400ms;
}
.ms-bullet:hover {
	background:#cccccc;
	transition:background 400ms;
}
.ms-bullet-selected, .ms-bullet-selected:hover {background:#ffffff;}
.ms-timerbar {
	opacity:0.25;
	top:0;
}
@media (max-width: 667px) {
.ms-nav-next,
.ms-nav-prev,
.ms-bullet,
.ms-timerbar {opacity:0}
.master-slider .btn {border-width:1px;}
}
.kenburn .slide-bg {transition:transform 1500ms ease-in-out; transition-delay:2000ms;}
.ms_ready .ms-sl-selected.kenburn .slide-bg {transition:transform 12s linear;}
.ms_ready .ms-sl-selected.zoom-light .slide-bg {transform:scale(1.12,1.12);}
.ms_ready .ms-sl-selected.zoom-left-light .slide-bg {transform:scale(1.1,1.1) translateX(-1%);}
.ms_ready .ms-sl-selected.zoom-right-light .slide-bg {transform:scale(1.1,1.1) translateX(1%);}
.ms_ready .ms-sl-selected.zoom-medium .slide-bg {transform:scale(1.25,1.25);}
.ms_ready .ms-sl-selected.zoom-left-medium .slide-bg {transform:scale(1.25,1.25) translateX(-3%);}
.ms_ready .ms-sl-selected.zoom-right-medium .slide-bg {transform:scale(1.25,1.25) translateX(3%);}
.ms_ready .ms-sl-selected.zoom-hard .slide-bg {transform:scale(1.6,1.6);}
.ms_ready .ms-sl-selected.zoom-left-hard .slide-bg {transform:scale(1.6,1.6) translateX(-6%);}
.ms_ready .ms-sl-selected.zoom-right-hard .slide-bg {transform:scale(1.6,1.6) translateX(6%);}
/* MasterSlider ends */