.carousel-brands {
	margin: 10px 0px 0px 0px;
	border: none;
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	.background {
		background: #fff;
		color: #000;
		a {
			color: #000;
			&:hover {
				color: #000;
			}
		}
		h4 {
			color: #06bec7;
		}
		.footer-newsletter {
			h5 {
				color: #000;
			}
			.line {
				background: rgba(0, 0, 0, 0.1);
			}
			.content {
				background: #fff;
				input {
					background: #e6e6e6;
					color: #000;
				}
			}
			.checkbox {
				label {
					.custom-control-indicator {
						background: #e6e6e6;
					}
				}
			}
		}
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
		.pattern {
			color: #666666;
			.social-payments {
				.left {
					ul {
						li {
							a {
								color: #b2b2b1;
								&:hover {
									color: #000;
								}
							}
						}
					}
				}
			}
			a {
				color: #666666;
			}
		}
	}
}