header.header-type-3 {
	.desktop-menu {
		background: none;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		ul.megamenu {
			margin-top: -1px;
			> li {
				> a {
					color: #000;
				}
			}
		}
 	}
}

.header-type-3 + .breadcrumb {
	margin-top: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 10px;
}

.common-home .main-content .pattern > .container, 
.common-home .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
}

.standard-body .footer .background {
	background: #fff;
}

.common-home {
	.footer {
		border-top: none;
	}
}

.footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	.background {
		background: #fff;
		.pattern {
			a {
				color: #000;
				&:hover {
					color: #000;
				}
			}
			h4 {
				color: #06bec7;
			}
		}
		.footer-newsletter {
			h5 {
				color: #000;
			}
			.content {
				background: #fff;
				input {
					background: #e6e6e6;
					color: #000;
				}
			}
			.checkbox {
				label {
					.custom-control-indicator {
						background: #e6e6e6;
					}
				}
			}
			.line {
				background: rgba(0, 0, 0, 0.1);
			}
		}
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
		.social-payments {
			.left {
				ul {
					li  {
						a {
							color: #b2b2b1;
							&:hover {
								color: #000;
							}
						}
					}
				}
			}
		}
	}
}