header.header-type-6 .slider-header #top .menu2 {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 > * {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg path,
header.header-type-6 .slider-header #top .menu2 .my-account svg path,
header.header-type-6 .slider-header #top .menu2 .wishlist svg path,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg g,
header.header-type-6 .slider-header #top .menu2 .my-account svg g,
header.header-type-6 .slider-header #top .menu2 .wishlist svg g {
  fill: #fff !important;
}
header.header-type-6 .slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
header.header-type-6 .slider-header #top .bottom .social-links li a {
  color: #fff;
}
header.header-type-8 .slider-header #top-bar {
  border: none;
}
header .slider-header {
  background: #000;
}
header .slider-header #top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
header .slider-header #top-bar a {
  color: #fff;
}
header .slider-header #top-bar .dropdown-menu a {
  color: #000;
}
header .slider-header #top-bar .left .social-links li a {
  color: #808080;
}
header .slider-header #top-bar .left .social-links li a:hover {
  color: #fff;
}
header .slider-header #top-bar .right ul.menu,
header .slider-header #top-bar .right .welcome-text {
  border-color: rgba(255, 255, 255, 0.2);
}
header .slider-header #top-bar .right .switchers .dropdown .dropdown-toggle:after {
  border-top-color: #666666;
}
header .slider-header .top-center .right .dropdown .dropdown-toggle {
  color: #fff;
}
header .slider-header .top-center .right .desktop-search .open-search a svg {
  fill: #fff !important;
}
header .slider-header .top-center .right .my-account svg path,
header .slider-header .top-center .right .my-account svg g {
  fill: #fff !important;
}
header .slider-header .top-center .right .wishlist svg path,
header .slider-header .top-center .right .wishlist svg g {
  fill: #fff !important;
}
header .slider-header ul.megamenu > li > a {
  color: #fff;
}
header .slider-header ul.megamenu > li > a:hover {
  color: #06bec7;
}
header .slider-header ul.megamenu > li.active > a {
  color: #06bec7;
}
header .slider-header ul.megamenu li .sub-menu .content {
  background: #000;
  color: #fff;
}
header .slider-header ul.megamenu li .sub-menu .content a {
  color: #fff;
}
header .slider-header ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:before {
  border-left-color: #666;
}
header .slider-header ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
  background: #000;
}
header .is-sticky #top {
  background: #000;
}
#mobile-header-1 {
  background: #000;
  color: #fff;
}
#mobile-header-1 a {
  color: #fff;
}
#mobile-header-1 .dropdown-menu {
  color: #000;
}
#mobile-header-1 .dropdown-menu a {
  color: #000;
}
#mobile-header-1 .search_form input {
  background: #262626;
  color: #fff;
}
#mobile-header-1 .search_form .button-search:before {
  color: #fff;
}
#mobile-header-2 {
  background: #000;
}
#mobile-header-2 .top-center .open-menu2 a svg g,
#mobile-header-2 .top-center .open-menu2 a svg path {
  fill: #fff !important;
}
#mobile-header-3 {
  background: #000;
  color: #fff;
}
#mobile-header-3 a {
  color: #fff;
}
#mobile-header-3 .dropdown-menu {
  color: #000;
}
#mobile-header-3 .dropdown-menu a {
  color: #000;
}
#mobile-header-3 .search_form input {
  background: #262626;
  color: #fff;
}
#mobile-header-3 .top-center .open-wishlist a svg path,
#mobile-header-3 .top-center .open-wishlist a svg g {
  fill: #fff !important;
}
#mobile-header-3 .top-center .open-account a svg path,
#mobile-header-3 .top-center .open-account a svg g {
  fill: #fff !important;
}
#mobile-header-3 .search_form .button-search:before {
  color: #fff;
}
#mobile-header-3 .top-bottom .right .social-links li a {
  color: #808080;
}
#mobile-header-3 .top-bottom .right .social-links li a:hover {
  color: #fff;
}
#mobile-header-3 .top-bottom .open-menu2 svg path,
#mobile-header-3 .top-bottom .open-menu2 svg g {
  fill: #fff !important;
}
.breadcrumb {
  margin-top: 10px;
}
.widget-blog-background > div {
  padding-bottom: 20px;
}
.widget-blog-background .carouselItem .testimonial .rating {
  padding-top: 0px;
  margin-top: 0px;
}
.main-content .pattern > .container,
.standard-body .main-content .pattern > .container {
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .main-content .pattern > .container,
  .standard-body .main-content .pattern > .container {
    padding-bottom: 40px;
  }
}
.common-home .main-content .pattern > .container,
.common-home .standard-body .main-content .pattern > .container {
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .common-home .main-content .pattern > .container,
  .common-home .standard-body .main-content .pattern > .container {
    padding-bottom: 0px;
  }
}
.standard-body .footer .background {
  background: #000;
}
.footer .background {
  background: #000;
}
.footer .background h4 {
  color: #808080;
}
.footer .background a {
  color: #fff;
}
.footer .background .about-us {
  padding: 80px 0px 0px 0px;
}
@media (max-width: 767px) {
  .footer .background .about-us {
    padding-top: 40px;
    text-align: center;
  }
}
.footer .background .about-us img {
  margin-bottom: 15px;
}
.footer .background .about-us p {
  padding: 20px 0px 0px 0px;
  font-size: 15px;
  line-height: 22px;
  color: #808080;
}
@media (max-width: 767px) {
  .footer .background .about-us p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 15px;
  }
}
.footer .background .about-us p span {
  color: #06bec7;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
@media (max-width: 767px) {
  .footer .background .about-us p span {
    font-size: 15px;
  }
}
.footer .background .footer-newsletter-2 {
  padding: 0px 2000px 0px 2000px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 70px;
  margin-left: -2000px;
  margin-right: -2000px;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter-2 {
    margin-top: 40px;
    text-align: center;
  }
}
.footer .background .footer-newsletter-2 h5 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  padding-top: 54px;
}
@media (max-width: 991px) {
  .footer .background .footer-newsletter-2 h5 {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter-2 h5 {
    font-size: 20px;
    padding-top: 36px;
  }
}
.footer .background .footer-newsletter-2 p {
  padding: 0px;
  margin: 0px;
}
.footer .background .footer-newsletter-2 .content {
  margin: 0px auto;
  position: relative;
  z-index: 2;
  padding-top: 45px;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter-2 .content {
    padding-top: 20px;
  }
}
.footer .background .footer-newsletter-2 .content input {
  margin-left: auto;
  margin-right: 10px;
  background: #262626;
  color: #fff;
  width: 410px;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter-2 .content input {
    width: 100%;
  }
}
.footer .background .footer-newsletter-2 .content input:focus {
  background: #333;
}
.footer .background .footer-newsletter-2 .content .button {
  margin-right: auto;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter-2 .content .button {
    font-size: 15px;
    padding-top: 9px;
    white-space: nowrap;
  }
}
.footer .background .footer-newsletter-2 .checkbox {
  padding-top: 2px;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter-2 .checkbox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.footer .background .footer-newsletter-2 .checkbox label {
  font-size: 13px;
  position: relative;
  cursor: pointer;
  margin: 0px;
}
.footer .background .footer-newsletter-2 .checkbox label .custom-control-indicator {
  position: absolute;
  background: #262626;
  width: 20px;
  height: 20px;
  display: block;
  left: -30px;
  top: 0px;
}
.footer .background .footer-newsletter-2 .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
  content: "\f00c";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 20px;
  color: #06bec7;
}
.footer .background .footer-newsletter-2 .checkbox label a {
  text-decoration: underline;
  color: #808080;
}
.footer .background .footer-newsletter-2 .checkbox label a:hover {
  color: #fff;
}
.copyright .pattern {
  color: #999999;
  padding-top: 24px;
}
.copyright .pattern a {
  color: #999;
}
.copyright p {
  text-align: center;
}
.copyright .bar4 {
  padding: 0px 0px 42px 0px;
}
@media (max-width: 767px) {
  .copyright .bar4 {
    overflow: scroll;
    text-align: left;
    padding-bottom: 30px;
  }
}
.copyright .bar4 .item {
  padding: 6px 0px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .copyright .bar4 .item {
    padding-right: 25px;
  }
}
.copyright .bar4 .item .icon {
  min-width: 50px;
}
@media (max-width: 767px) {
  .copyright .bar4 .item .icon {
    min-width: 35px;
  }
}
.copyright .bar4 .item .icon svg {
  width: 36px;
  height: 36px;
}
@media (max-width: 767px) {
  .copyright .bar4 .item .icon svg {
    width: 20px;
    height: 20px;
  }
}
.copyright .bar4 .item .icon svg path,
.copyright .bar4 .item .icon svg g {
  fill: #06bec7 !important;
}
.copyright .bar4 .item h4 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 767px) {
  .copyright .bar4 .item h4 {
    font-size: 13px;
  }
}
.copyright .bar4 .item h4 span {
  text-decoration: underline;
}
.copyright .bar4 .line {
  width: 170px;
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin: 0px 50px;
}
@media (max-width: 1098px) {
  .copyright .bar4 .line {
    margin: 0px 25px;
  }
}
@media (max-width: 767px) {
  .copyright .bar4 .line {
    display: none;
  }
}
.copyright .social-payments {
  padding: 0px 0px 0px 0px;
}
.copyright .social-payments .social {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .copyright .social-payments .social {
    padding-top: 0px;
    width: 100%;
  }
}
.copyright .social-payments .social .social-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.copyright .social-payments .social .social-links li {
  margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
  .copyright .social-payments .social .social-links li {
    margin: 0px 10px;
  }
  .copyright .social-payments .social .social-links li:first-child {
    margin-left: auto;
  }
  .copyright .social-payments .social .social-links li:last-child {
    margin-right: auto;
  }
}
.copyright .social-payments .social .social-links li a {
  color: #575757;
  font-size: 20px;
}
@media (max-width: 767px) {
  .copyright .social-payments .social .social-links li a {
    font-size: 17px;
  }
}
.copyright .social-payments .social .social-links li a:hover {
  color: #fff;
}
.copyright .social-payments .payments {
  margin-left: auto;
  margin-right: 0px;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .copyright .social-payments .payments {
    width: 100%;
    padding-top: 20px;
    margin: 0px;
    text-align: center;
  }
}
.copyright .social-payments .payments a {
  display: inline-block;
  vertical-align: top;
  padding: 0px 0px 0px 7px;
}
@media (max-width: 767px) {
  .copyright .social-payments .payments a {
    padding: 0px 4px;
  }
}
.copyright .social-payments .payments a img {
  max-height: 25px;
}
.copyright .links {
  padding-top: 23px;
  padding-bottom: 10px;
}
.copyright .links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}
@media (max-width: 767px) {
  .copyright .links ul {
    overflow: scroll;
  }
}
.copyright .links ul li {
  margin: 0px 10px;
}
@media (max-width: 767px) {
  .copyright .links ul li {
    white-space: nowrap;
    margin: 0px 20px 0px 0px;
  }
}
.copyright .links ul li:first-child {
  margin-left: auto;
}
.copyright .links ul li:last-child {
  margin-right: auto;
}
.copyright .links ul li a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
