.slider-align-top.common-home {
	#mobile-header-2 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 12;
	}
}

header {
	#top-bar {
		background: #000;
		border: none;
		color: #fff;
		a {
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		.dropdown-menu {
			a {
				color: #000;
				&:hover {
					color: #000;
				}
			}
		}
		.left {
			.social-links {
				li {
					a {
						color: #808080;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
		.right {
			ul.menu,
			.welcome-text {
				border-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

.common-home .main-content .pattern > .container, 
.common-home .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
}

.common-home {
	.footer {
		border-top: none;
	}
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	.background {
		background: #fff;
		.pattern {
			a {
				color: #000;
				&:hover {
					color: #000;
				}
			}
			h4 {
				color: #06bec7;
			}
		}
		.footer-newsletter {
			h5 {
				color: #000;
			}
			.content {
				background: #fff;
				input {
					background: #e6e6e6;
					color: #000;
				}
			}
			.checkbox {
				label {
					.custom-control-indicator {
						background: #e6e6e6;
					}
				}
			}
			.line {
				background: rgba(0, 0, 0, 0.1);
			}
		}
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
		.links {
			text-align: center;
			padding: 73px 0px 0px 0px;
			@media (max-width: 767px) {
				padding: 35px 0px 0px 0px;
				white-space: nowrap;
			}
			ul {
				list-style: none;
				padding: 0px;
				margin: 0px;
				@media (max-width: 767px) {
					overflow: scroll;
				}
				li {
					display: inline-block;
					vertical-align: top;
					padding: 0px 15px;
					@media (max-width: 767px) {
						padding: 0px 25px 0px 0px;
					}
					a {
						font-size: 18px;
						text-transform: uppercase;
						font-weight: 600;
						@media (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}
		}
		.about-us {
			text-align: center;
			padding: 43px 0px 0px 0px;
			@media (max-width: 767px) {
				padding-top: 35px;
			}
			img {
				margin-bottom: 15px;
				max-height: 30px;
			}
			p {
				padding: 20px 0px 0px 0px;
				font-size: 15px;
				line-height: 22px;
				color: #000;
				@media (max-width: 767px) {
					font-size: 14px;
					line-height: 21px;
					padding-top: 15px;
				}
				span {
					color: #06bec7;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 16px;
					@media (max-width: 767px) {
						font-size: 15px;
					}
				}
			}
			.social-links {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 35px 0px 0px 0px;
				margin: 0px;
				@media (max-width: 767px) {
					padding-top: 20px;
				}
				li {
					margin: 0px 11px 0px 12px;
					&:first-child {
						margin-left: auto;
					}
					&:last-child {
						margin-right: auto;
					}
					a {
						color: #b2b2b1;
						font-size: 20px;
						&:hover {
							color: #000;
						}
					}
				}
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
		text-align: center;
		color: #999999;
		a {
			color: #999;
			&:hover {
				color: #999;
			}
		}
		.pattern {
			> .container {
				> *:first-child {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
			}
		}
		.links {
			padding: 36px 0px 0px 0px;
			@media (max-width: 767px) {
				white-space: nowrap;
				overflow: scroll;
				text-align: left;
				padding-top: 32px;
			}
			ul {
				list-style: none;
				margin: 0px;
				padding: 0px;
				li {
					display: inline-block;
					vertical-align: top;
					padding: 0px 10px;
					@media (max-width: 767px) {
						padding: 0px 20px 0px 0px;
					}
					a {
						font-size: 13px;
						text-transform: uppercase;
						color: #000;
						font-weight: 600;
					}
				}
			}
		}
		.payments {
			padding: 24px 0px 0px 0px;
			a {
				display: inline-block;
				vertical-align: top;
				padding: 0px 4px;
			}
		}
		p {
			padding: 26px 0px 0px 0px;
			color: #999999;
		}
	}
}