.carousel-brands {
	border-top: none;
	margin-top: 0px;
}

.footer {
	.about-us {
		padding-top: 36px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			text-align: center;
			padding-top: 10px;
		}
		.item {
			padding-right: 95px;
			padding-top: 30px;
			font-size: 15px;
			line-height: 22px;
			@media (max-width: 767px) {
				width: 100%;
				padding-right: 0px;
				font-size: 14px;
				line-height: 21px;
				padding-top: 20px;
			}
			span {
				text-transform: uppercase;
				color: #06bec7;
				font-weight: 600;
			}
		}
		.social-links {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 38px 0px 0px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding-top: 23px;
				width: 100%;
			}
			li {
				margin: 0px 26px 0px 0px;
				@media (max-width: 767px) {
					margin-left: 13px;
					margin-right: 13px;
					&:first-child {
						margin-left: auto;
					}
					&:last-child {
						margin-right: auto;
					}
				}
				a {
					color: #575757;
					font-size: 20px;
					@media (max-width: 767px) {
						font-size: 17px;
					}
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}

.default3-copyright {
	.links-info {
		padding: 20px 0px 25px 0px;
		margin: 0px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
		ul {
			flex-wrap: wrap;
			list-style: none;
			padding: 10px 0px 0px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				width: 100%;
				flex-wrap: nowrap;
				white-space: nowrap;
				overflow: scroll;
				text-align: center;
			}
			li {
				padding-right: 23px;
				padding-top: 5px;
				@media (max-width: 767px) {
					margin: 0px auto;
					padding-right: 25px;
					padding-left: 0px;
				}
				a {
					font-size: 13px;
					color: #808080;
					text-transform: uppercase;
					font-weight: 600;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.info {
			margin-left: auto;
			margin-right: 0px;
			color: #fff;
			padding: 15px 0px 0px 0px;
			@media (max-width: 767px) {
				margin: 0px;
				text-align: center;
				width: 100%;
			}
			a {
				color: #06bec7;
				text-decoration: underline;
			}
		}
	}
	.payment {
		padding: 10px 0px 15px 0px;
		a {
			display: inline-block;
			vertical-align: top;
			margin-right: 7px;
			img {
				max-height: 28px;
			}
		}
	}
}