header {
	&.header-type-6 {
		.slider-header {
			#top {
				.menu2 {
					border-color: rgba(255, 255, 255, 0.15);
					> * {
						border-color: rgba(255, 255, 255, 0.15);
					}
				}
			}
		}
		.slider-header #top .menu2 .desktop-search .open-search a svg,
		.slider-header #top .menu2 .my-account svg,
		.slider-header #top .menu2 .wishlist svg {
			path, g {
				fill: #fff !important;
			}
		}
		.slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
		.slider-header #top .bottom .social-links li a {
			color: #fff;
		}
	}
	&.header-type-8 {
		.slider-header {
			#top-bar {
				border: none;
			}
		}
	}
	.slider-header {
		background: #000;
		#top-bar {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			color: #fff;
			a {
				color: #fff;
			}
			.dropdown-menu {
				a {
					color: #000;
				}
			}
			.left {
				.social-links {
					li {
						a {	
							color: #808080;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
			.right {
				ul.menu,
				.welcome-text {
					border-color: rgba(255, 255, 255, 0.2);
				}
				.switchers {
					.dropdown {
						.dropdown-toggle {
							&:after {
								border-top-color: #666666;
							}
						}
					}
				}
			}
		}
		.top-center {
			.right {
				.dropdown {
					.dropdown-toggle {
						color: #fff;
					}
				}
				.desktop-search {
					.open-search {
						a {
							svg {
								fill: #fff !important;
							}
						}
					}
				}
				.my-account {
					svg {
						path, g {
							fill: #fff !important;
						}
					}
				}
				.wishlist {
					svg {
						path, g {
							fill: #fff !important;
						}
					}
				}
			}
		}
		ul.megamenu {
			> li {
				> a {
					color: #fff;
					&:hover {
						color: #06bec7;
					}
				}
				&.active {
					> a {
						color: #06bec7;
					}
				}
			}
			li {
				.sub-menu {
					.content {
						background: #000;
						color: #fff;
						a {
							color: #fff;
						}
						.hover-menu {
							a.with-submenu {
								&:before {
									border-left-color: #666;
								}
							}
							.menu {
								ul {
									ul {
										background: #000;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.is-sticky #top {
		background: #000;
	}
}

#mobile-header-1 {
	background: #000;
	color: #fff;
	a {
		color: #fff;
	}
	.dropdown-menu {
		color: #000;
		a {
			color: #000;
		}
	}
	.search_form {
		input {
			background: #fff;
		}
	}
	.search_form .button-search:before {
		color: #000;
	}
}

#mobile-header-2 {
	background: #000;
	.top-center {
		.open-menu2 {
			a {
				svg {
					g,
					path {
						fill: #fff !important;
					}
				}
			}
		}
	}
}

#mobile-header-3 {
	background: #000;
	color: #fff;
	a {
		color: #fff;
	}
	.dropdown-menu {
		color: #000;
		a {
			color: #000;
		}
	}
	.search_form {
		input {
			background: #fff;
		}
	}
	.top-center .open-wishlist a svg {
		path, g {
			fill: #fff !important;
		}
	}
	.top-center .open-account a svg {
		path, g {
			fill: #fff !important;
		}
	}
	.search_form .button-search:before {
		color: #000;
	}
	.top-bottom .right .social-links li a {
		color: #808080;
		&:hover {
			color: #fff;
		}
	}
	.top-bottom .open-menu2 svg {
		path, g {
			fill: #fff !important;
		}
	}
}

.breadcrumb {
	margin-top: 10px;
}

.carousel-brands {
	margin: 10px 0px 0px 0px;
	border: none;
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 55px;
	@media (max-width: 767px) {
		padding-bottom: 40px;
	}
}

.common-home {
	.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
		padding-bottom: 46px;
		@media (max-width: 767px) {
			padding-bottom: 36px;
		}
	}
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	.background {
		background: #fff;
		color: #000;
		.pattern {
			> .container {
				> div:first-child {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
			}
		}
		a {
			color: #000;
			&:hover {
				color: #000;
			}
		}
		h4 {
			color: #06bec7;
			padding-top: 0px;
			margin-top: 57px;
			@media (max-width: 767px) {
				margin-top: 35px;
			}
		}
		.footer-newsletter {
			h5 {
				color: #000;
			}
			.line {
				background: rgba(0, 0, 0, 0.1);
			}
			.content {
				background: #fff;
				input {
					background: #e6e6e6;
					color: #000;
				}
			}
			.checkbox {
				label {
					.custom-control-indicator {
						background: #e6e6e6;
					}
				}
			}
		}
		.about-us {
			padding-top: 60px;
			@media (max-width: 767px) {
				padding-top: 40px;
				text-align: center;
			}
			img {
				margin-bottom: 15px;
				@media (max-width: 767px) {
					max-height: 32px;
				}
			}
			p {
				padding: 20px 0px 0px 0px;
				font-size: 15px;
				line-height: 22px;
				@media (max-width: 767px) {
					font-size: 14px;
					line-height: 21px;
					padding-top: 15px;
				}
				span {
					color: #06bec7;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 16px;
					@media (max-width: 767px) {
						font-size: 15px;
					}
				}
			}
		}	
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
		.pattern {
			> .container {
				> div:first-child {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
				> p {
					display: none;
				}
			}
		}
		.pattern {
			color: #666666;
			a {
				color: #666666;
			}
			.default9-copyright {
				padding-top: 25px;
				.social-links {
					display: flex;
					flex-wrap: wrap;
					list-style: none;
					padding: 0px;
					margin: 0px;
					width: 100%;
					li {
						margin: 0px 10px 0px 10px;
						&:first-child {
							margin-left: auto;
						}
						&:last-child {
							margin-right: auto;
						}
						a {
							color: #b2b2b1;
							font-size: 20px;
							@media (max-width: 767px) {
								font-size: 17px;
							}
							&:hover {
								color: #000;
							}
						}
					}
				}
				ul.d-flex {
					width: 100%;
					padding: 20px 0px 0px 0px;
					margin: 0px;
					list-style: none;
					@media (max-width: 767px) {
						white-space: nowrap;
						overflow: scroll;
					}
					li {
						margin: 0px 12px 0px 12px;
						&:first-child {
							margin-left: auto;
						}
						&:last-child {
							margin-right: auto;
						}
						a {
							font-size: 13px;
							font-weight: 600;
							text-transform: uppercase;
							color: #000;
						}
					}
				}
				p {
					text-align: center;
					padding: 17px 0px 0px 0px;
				}
				.payment {
					text-align: center;
					padding-top: 19px;
					a {
						display: inline-block;
						vertical-align: top;
						padding: 0px 4px;
					}
					img {
						max-height: 26px;
					}
				}
			}
		}
	}
}