.header-notice {
	background: #000;
	padding: 4px 0px;
	.bar4 {
		.line {
			display: none;
		}
		.item {
			margin: 0px auto;
			white-space: pre-wrap;
			@media (max-width: 767px) {
				white-space: nowrap;
			}
			&:first-child {
				margin-left: 0px;
				padding-right: 10px;
				@media (max-width: 767px) {
					padding-right: 25px;
				}
			}
			&:last-child {
				margin-right: 0px;
				padding-left: 10px;
				@media (max-width: 767px) {
					padding-left: 0px;
				}
			}
			.icon {
				min-width: 30px;
				svg {
					width: 20px;
					height: 20px;
				}
			}
			h4 {
				font-size: 14px;
			}
		}
	}
}

.carousel-brands {
	margin: 0px;
	padding: 28px 0px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	@media (max-width: 767px) {
		padding: 20px 0px;
	}
}

.common-home {
	.advanced-grid {
		.box {
			.box-heading {
				text-align: center;
			}
		}
	}
	.box {
		> .next {
			@media (min-width: 768px) {
				background: #06bec7;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				&:before {
					color: #fff;
				}
			}
		}
		.box-heading {
			text-align: left;
		}
		.box-product {
			.owl-carousel {
				overflow: visible;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 100%;
					left: -2000px;
					background: #fff;
					z-index: 2;
				}
			}
		}
	}
	.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
		padding-bottom: 0px;
	}
}

.standard-body .footer .background {
	background: #fff;
}

.common-home {
	.footer {
		border-top: none;
	}
}

.footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	.background {
		background: #fff;
		color: #000;
		a {
			color: #000;
			&:hover {
				color: #000;
			}
		}
		h4 {
			color: #06bec7;
		}
		.footer-newsletter {
			h5 {
				color: #000;
			}
			.line {
				background: rgba(0, 0, 0, 0.1);
			}
			.content {
				background: #fff;
				input {
					background: #e6e6e6;
					color: #000;
				}
			}
			.checkbox {
				label {
					.custom-control-indicator {
						background: #e6e6e6;
					}
				}
			}
		}
		.instagram {
			margin: 0px;
			padding: 66px 0px 0px 0px;
			@media (max-width: 767px) {
				padding: 30px 0px 0px 0px;
			}
			.instagram-title {
				font-size: 30px;
				padding: 0px 0px 22px 0px;
				@media (max-width: 1098px) {
					font-size: 26px;
				}
				@media (max-width: 767px) {
					font-size: 20px;
					padding-bottom: 15px;
				}
			}
			#instafeed > a {
				min-width: 16.666666667%;
				@media (max-width: 1280px) {
					min-width: 20%;
				}
				@media (max-width: 991px) {
					min-width: 25%;
				}
				img {
					width: 190px;
					height: 190px;
					min-width: 100%;
					@media (max-width: 767px) {
						width: 90px;
						height: 90px;
					}
				}
			}
		}
		.about-us {
			padding-top: 80px;
			@media (max-width: 767px) {
				padding-top: 40px;
				text-align: center;
			}
			img {
				margin-bottom: 15px;
			}
			p {
				padding: 20px 0px 0px 0px;
				font-size: 15px;
				line-height: 22px;
				@media (max-width: 767px) {
					font-size: 14px;
					line-height: 21px;
					padding-top: 15px;
				}
				span {
					color: #06bec7;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 16px;
					@media (max-width: 767px) {
						font-size: 15px;
					}
				}
			}
			.social-links {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 35px 0px 0px 0px;
				margin: 0px;
				@media (max-width: 767px) {
					padding-top: 20px;
				}
				li {
					margin: 0px 23px 0px 0px;
					@media (max-width: 767px) {
						margin-left: 10px;
						margin-right: 10px;
						&:first-child {
							margin-left: auto;
						}
						&:last-child {
							margin-right: auto;
						}
					}
					a {
						color: #b2b2b1;
						font-size: 20px;
						&:hover {
							color: #000;
						}
					}
				}
			}
		}	
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
		.bar3 {
			margin: 57px -2000px 0px -2000px;
			padding: 35px 2000px 0px 2000px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			@media (max-width: 767px) {
				padding-top: 15px;
				margin-top: 40px;
			}
			.line {
				display: none;
			}
			.item {
				text-align: left;
				padding-left: 70px;
				@media (max-width: 767px) {
					padding-left: 100px;
				}
				.icon {
					position: absolute;
					margin: 1px 0px 0px -70px;
					background: none;
					padding: 0px;
					@media (max-width: 767px) {
						margin: 0px;
					}
				}
				h4 {
					color: #000;
					text-align: left;
				}
				p {
					padding: 10px 0px 0px 0px;
				}
			}
		}
	}
}

.default3-copyright {
	.links-info {
		padding: 20px 0px 25px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
		ul {
			flex-wrap: wrap;
			list-style: none;
			padding: 10px 0px 0px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				width: 100%;
				flex-wrap: nowrap;
				overflow-x: scroll;
				text-align: center;
				white-space: nowrap;
			}
			li {
				padding-right: 23px;
				padding-top: 5px;
				@media (max-width: 767px) {
					margin: 0px auto;
					padding-right: 10px;
					padding-left: 10px;
				}
				a {
					font-size: 13px;
					color: #999999;
					text-transform: uppercase;
					font-weight: 600;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.info {
			margin-left: auto;
			margin-right: 0px;
			color: #fff;
			padding: 15px 0px 0px 0px;
			@media (max-width: 767px) {
				margin: 0px;
				text-align: center;
				width: 100%;
			}
			a {
				color: #06bec7;
				text-decoration: underline;
			}
		}
	}
	.payment {
		padding: 10px 0px 15px 0px;
		a {
			display: inline-block;
			vertical-align: top;
			margin-right: 7px;
			img {
				max-height: 25px;
			}
		}
	}
}