.common-home .main-content .pattern > .container, 
.common-home .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
}

.footer {
	.background {
		.about-us {
			padding-top: 80px;
			@media (max-width: 767px) {
				padding-top: 40px;
				text-align: center;
			}
			img {
				margin-bottom: 15px;
			}
			p {
				padding: 20px 0px 0px 0px;
				font-size: 15px;
				line-height: 22px;
				@media (max-width: 767px) {
					font-size: 14px;
					line-height: 21px;
					padding-top: 15px;
				}
				span {
					color: #06bec7;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 16px;
					@media (max-width: 767px) {
						font-size: 15px;
					}
				}
			}
			.social-links {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 35px 0px 0px 0px;
				margin: 0px;
				@media (max-width: 767px) {
					padding-top: 20px;
				}
				li {
					margin: 0px 23px 0px 0px;
					@media (max-width: 767px) {
						margin-left: 10px;
						margin-right: 10px;
						&:first-child {
							margin-left: auto;
						}
						&:last-child {
							margin-right: auto;
						}
					}
					a {
						color: #808080;
						font-size: 20px;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}	
		.open-footer-menu {
			.icon {
				span {
					background: #fff;
				}
			}
			.text {
				color: #fff;
			}
		}
		h4 {
			color: #808080;
		}
		ul a {
			color: #fff;
		}
		.bar3 {
			margin: 57px 0 0px 0;
			padding: 35px 0 0px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			@media (max-width: 767px) {
				padding-top: 15px;
				margin-top: 40px;
			}
			.line {
				display: none;
			}
			.item {
				text-align: left;
				padding-left: 70px;
				@media (max-width: 767px) {
					padding-left: 100px;
				}
				.icon {
					position: absolute;
					margin: 1px 0px 0px -70px;
					background: none;
					padding: 0px;
					@media (max-width: 767px) {
						margin: 0px;
					}
				}
				h4 {
					color: #fff;
					text-align: left;
				}
				p {
					padding: 10px 0px 0px 0px;
					color: #808080;
				}
			}
		}
	}
}

.copyright {
	.pattern {
		color: #999999;
		a {
			color: #999;
			&:hover {
				color: #999;
			}
		}
	}
}

.default3-copyright {
	.links-info {
		padding: 20px 0px 25px 0px;
		margin: 0px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
		ul {
			flex-wrap: wrap;
			list-style: none;
			padding: 10px 0px 0px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				width: 100%;
				flex-wrap: nowrap;
				white-space: nowrap;
				overflow: scroll;
				text-align: center;
			}
			li {
				padding-right: 23px;
				padding-top: 5px;
				@media (max-width: 767px) {
					margin: 0px auto;
					padding-right: 25px;
					padding-left: 0px;
				}
				a {
					font-size: 13px;
					color: #fff;
					text-transform: uppercase;
					font-weight: 600;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.info {
			margin-left: auto;
			margin-right: 0px;
			color: #fff;
			padding: 15px 0px 0px 0px;
			@media (max-width: 767px) {
				margin: 0px;
				text-align: center;
				width: 100%;
			}
			a {
				color: #06bec7;
				text-decoration: underline;
			}
		}
	}
	.payment {
		padding: 10px 0px 15px 0px;
		a {
			display: inline-block;
			vertical-align: top;
			margin-right: 7px;
			img {
				max-height: 25px;
			}
		}
	}
}