a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover,
ul.megamenu > li.active > a,
ul.megamenu > li.home > a,
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
  color: #7dbd5d;
}
ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
  border-left-color: #7dbd5d;
}
@media (max-width: 767px) {
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
    color: #7dbd5d !important;
  }
}
.button,
.btn,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
  background: #7dbd5d !important;
}
#mobile-header-3 .top-center .open-wishlist a .wishlist-count {
  background: #575757;
}
#top-bar .right .welcome-text a {
  color: #fcc132;
}
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
ul.megamenu > li > a:before {
  background: #fcc132 !important;
  color: #000 !important;
}
.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
  border-color: #7dbd5d;
}
.buttons .left .button,
.buttons .center .button,
.btn-default,
.input-group-btn .btn-primary {
  background: #000 !important;
}
.is-countdown .countdown-amount {
  color: #7dbd5d;
}
#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
  background: #575757;
  color: #fff;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count,
#mobile-header-2 .top-center .open-cart2 a .cart-count {
  background: #fcc132 !important;
  color: #000 !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
header #top .top-center .right #cart_block .cart-heading .open-cart svg g,
#mobile-header-3 .top-center .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg g,
.bottom-bar .open-cart a svg g,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg g,
header #top .top-center .right #cart_block .cart-heading .open-cart svg path,
#mobile-header-3 .top-center .open-cart a svg path,
#mobile-header-2 .top-center .open-cart2 a svg path,
.bottom-bar .open-cart a svg path,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg path {
  fill: transparent !important;
  stroke: #fff !important;
}
.bottom-bar .open-account a svg g,
.bottom-bar .open-wishlist a svg g,
.bottom-bar .open-account a svg path,
.bottom-bar .open-wishlist a svg path,
.bottom-bar .open-account a svg *,
.bottom-bar .open-wishlist a svg * {
  fill: transparent !important;
  stroke: #fff !important;
}
#top .top-center .right .wishlist svg path,
#top .top-center .right .wishlist svg g {
  stroke: #fff !important;
}
#top .top-center .right .my-account svg path,
#top .top-center .right .my-account svg g,
#top .top-center .right .my-account svg circle {
  stroke: #fff !important;
}
header #top .top-center .right .desktop-search .open-search a svg {
  width: 24px;
  height: 24px;
}
header #top .top-center .right .desktop-search .open-search a svg path,
header #top .top-center .right .desktop-search .open-search a svg g,
header #top .top-center .right .desktop-search .open-search a svg circle {
  stroke: #fff !important;
}
header .right .my-account svg,
header .right .wishlist svg,
header .right #cart_block .cart-heading .open-cart svg {
  width: 24px !important;
  height: 24px !important;
}
.product-grid .product .price .price-new {
  color: #000;
}
.new:not(.day) {
  background: #fcc132;
  color: #000;
}
.sale {
  background: #7dbd5d;
  color: #fff;
}
.product-grid .product .image .add-to-cart a {
  background: #7dbd5d;
}
.product-filter {
  z-index: 2;
}
body,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select,
.form-control {
  font-family: Barlow;
}
.product-filter h1,
.box .box-heading,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link,
table.attribute thead td,
table.list thead td,
.wishlist-product table thead td,
.wishlist-info table thead td,
.compare-info thead td,
.cart-info table thead td,
.checkout-product table thead td,
.table thead td,
table.attribute thead th,
table.list thead th,
.wishlist-product table thead th,
.wishlist-info table thead th,
.compare-info thead th,
.cart-info table thead th,
.checkout-product table thead th,
.table thead th {
  font-weight: 400 !important;
  text-transform: none !important;
}
.btn,
.product-info .product-center .cart .add-to-cart .button,
.btn-link,
.product-info .product-center .hurry-up .heading,
.mfilter-box *,
.add-to-cart a,
.sale,
.new:not(.day),
.list-box li,
.pagination-results ul.pagination li,
.pagination-results ul.pagination li a,
label {
  font-weight: 400 !important;
}
.dropdown-menu > li > a {
  font-size: 13px;
  text-transform: none;
  font-weight: 400;
}
.bottom-bar .open-wishlist a svg,
.bottom-bar .open-home a svg,
.bottom-bar .open-account a svg,
.bottom-bar .open-cart a svg,
.bottom-bar .open-menu2 a svg {
  width: 24px;
  height: 24px;
}
#mobile-header-1 {
  background: #000;
}
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle {
  color: #fff;
  font-weight: 400;
  text-transform: none;
}
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle:after {
  border-top-color: #575757;
}
@media (max-width: 767px) {
  ul.megamenu > li > a strong {
    font-weight: 400;
    text-transform: none;
  }
}
@media (max-width: 767px) {
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
    font-weight: 400;
    text-transform: none;
  }
}
.mobile-menu .mobile-switcher .switchers .dropdown .dropdown-toggle {
  font-weight: 400;
  text-transform: none;
}
#mobile-header-2 {
  background: #000;
}
#mobile-header-2 .top-center .open-menu2 a svg path,
#mobile-header-2 .top-center .open-menu2 a svg g {
  fill: #fff !important;
}
#mobile-header-3 {
  background: #000;
}
#mobile-header-3 .top-center .open-account a svg path,
#mobile-header-3 .top-center .open-account a svg g,
#mobile-header-3 .top-center .open-wishlist a svg path,
#mobile-header-3 .top-center .open-wishlist a svg g {
  stroke: #fff !important;
}
#mobile-header-3 .top-bottom .open-menu2 svg path,
#mobile-header-3 .top-bottom .open-menu2 svg g {
  fill: #fff !important;
}
#mobile-header-3 .top-bottom .open-menu2 span {
  color: #fff;
}
#mobile-header-3 .top-center .open-wishlist a .wishlist-count,
#mobile-header-3 .top-center .open-cart a .cart-count {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
#mobile-header-3 .top-bottom .right .social-links li a {
  color: #575757;
}
#mobile-header-3 .top-bottom .right .social-links li a:hover {
  color: #fff;
}
.slider-align-top.common-home #menu-hover-background {
  display: block;
}
.is-sticky #top .desktop-menu .horizontal {
  padding-top: 0px !important;
}
.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a,
.is-sticky #top .pattern .desktop-menu .horizontal ul.megamenu > li > a {
  padding-top: 14px;
  height: 60px;
}
.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a .megamenu-label,
.is-sticky #top .pattern .desktop-menu .horizontal ul.megamenu > li > a .megamenu-label {
  top: 5px;
}
header .slider-header {
  background: #000000;
}
header .slider-header #top-bar {
  background: #000;
}
header .slider-header #top-bar .left .social-links li a {
  color: #525252;
}
header .slider-header #top-bar .left .social-links li a:hover {
  color: #fff;
}
header .slider-header #top-bar .right .welcome-text {
  border-left-color: rgba(255, 255, 255, 0.1);
  color: #808080;
}
header .slider-header #top-bar .right .switchers .dropdown .dropdown-toggle {
  color: #808080;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
}
header .slider-header #top-bar .right .switchers .dropdown .dropdown-toggle:after {
  border-top-color: #525252;
}
header .slider-header #top .top-center {
  padding: 25px 0px;
}
header .slider-header #top .top-center .search_form {
  max-width: 287px;
}
header .slider-header #top .top-center .search_form .search-query {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
header .slider-header #top .top-center .search_form .button-search {
  color: #666666;
}
header .slider-header #top .top-center .switchers .dropdown .dropdown-toggle {
  color: #fff;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
}
header .slider-header #top .top-center .switchers .dropdown .dropdown-toggle:after {
  border-top-color: #fff;
}
header .slider-header #top .desktop-menu ul.megamenu > li {
  margin-right: 30px;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern1-shop-by-category {
  margin-right: 55px;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern1-shop-by-category > a {
  color: #fcc132;
  padding-left: 30px;
  position: relative;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern1-shop-by-category > a:hover {
  color: #fcc132;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern1-shop-by-category > a:before {
  content: '';
  display: block !important;
  position: absolute;
  left: 0;
  top: 21px;
  width: 16px;
  height: 4px;
  background: #fcc132;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern1-shop-by-category > a:after {
  content: '';
  display: block !important;
  position: absolute;
  left: 0;
  top: 27px;
  width: 16px;
  height: 4px;
  background: #fcc132;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern1-shop-by-category > a span:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 33px;
  width: 16px;
  height: 4px;
  background: #fcc132;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help {
  margin-right: 0px;
}
@media (max-width: 1199px) {
  header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help {
    display: none;
  }
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help > a:before,
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help > a:after,
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help > a span:before {
  display: none !important;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help > a strong {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}
header .slider-header #top .desktop-menu ul.megamenu > li.fashionmodern5-need-help > a strong span {
  color: #b2b2b2;
  font-weight: 600;
  padding-left: 10px;
}
header .slider-header #top .desktop-menu ul.megamenu > li > a {
  color: #fff;
  height: 60px;
  padding-top: 14px;
}
header .slider-header #top .desktop-menu ul.megamenu > li > a:before,
header .slider-header #top .desktop-menu ul.megamenu > li > a:after {
  bottom: 14px;
}
header .slider-header #top .desktop-menu ul.megamenu > li > a strong {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
header .slider-header #top .desktop-menu ul.megamenu > li > a .megamenu-label {
  left: -3px;
  top: 5px;
  font-size: 11px;
  font-weight: 400;
}
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu a {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
}
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu li:hover > a,
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu li:hover > a:before,
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu a:hover:before {
  border-left-color: #000;
}
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu .menu ul {
  margin-top: 0px;
}
header .slider-header #top .desktop-menu ul.megamenu > li .sub-menu .content .hover-menu .menu ul ul {
  margin-top: -18px;
}
.slider-align-top.common-home header .slider-header:hover {
  background: #000;
}
.slider-align-top.common-home header .slider-header #top-bar {
  border-bottom: none;
}
.is-sticky #top {
  background: #000;
}
.slider-text .second-heading {
  font-size: 70px;
  line-height: 1.08;
  text-transform: none;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
.slider-text .first-heading {
  padding: 20px 0px 0px 0px;
  margin: 0px;
  font-size: 28px;
  color: #fcc132;
  font-weight: 400;
}
.slider-text .slider-button {
  padding: 38px 0px 0px 0px;
  margin: 0px;
}
.slider-text .slider-button a {
  display: inline-block;
  padding: 8px 30px 7px 30px;
  margin: 0px;
  background: #fff !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}
.breadcrumb {
  margin-top: 15px;
  border-top: none;
  padding-top: 0px;
}
.breadcrumb:before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.box {
  margin: 56px 0px 0px 0px;
}
@media (max-width: 767px) {
  .box {
    margin: 35px 0px 0px 0px;
  }
}
.box .next,
.box .prev {
  display: none !important;
}
.box .box-heading {
  padding-bottom: 19px;
}
.filter-product .next-button,
.filter-product .prev-button {
  display: none;
}
.standard-body .footer .background {
  background: #fff;
}
.footer .background {
  background: #fff;
}
.footer .pattern {
  color: #000;
}
.footer .pattern a {
  color: #000;
}
.footer .pattern a:hover {
  color: #000;
  font-weight: bold;
}
.footer .pattern h4 {
  font-size: 20px;
  color: #000;
  padding: 51px 0px 17px 0px;
  margin: 0px;
}
@media (max-width: 767px) {
  .footer .pattern h4 {
    font-size: 18px;
    padding-top: 35px;
  }
}
.footer .pattern ul li a {
  color: #000;
  text-transform: none;
  font-weight: 400;
}
.footer .pattern .about-us {
  padding: 53px 0px 0px 0px;
}
@media (max-width: 767px) {
  .footer .pattern .about-us {
    text-align: center;
    padding: 37px 0px 0px 0px;
  }
}
.footer .pattern .about-us p {
  padding: 18px 0px 0px 0px;
  font-size: 14px;
}
.footer .pattern .social-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 22px 0px 0px 0px;
  margin: 0px;
}
.footer .pattern .social-links li {
  margin: 0px 23px 0px 0px;
}
@media (max-width: 767px) {
  .footer .pattern .social-links li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer .pattern .social-links li:first-child {
    margin-left: auto;
  }
  .footer .pattern .social-links li:last-child {
    margin-right: auto;
  }
}
.footer .pattern .social-links li a {
  color: #b2b2b1;
  font-size: 17px;
}
.footer .pattern .social-links li a:hover {
  color: #000;
}
.footer .pattern .open-footer-menu .icon span {
  background: #000;
}
.footer .pattern .open-footer-menu .text {
  color: #000;
}
.footer .pattern .instagram {
  margin: 0px;
  padding: 55px 0px 0px 0px;
}
@media (max-width: 767px) {
  .footer .pattern .instagram {
    padding: 30px 0px 0px 0px;
  }
}
.footer .pattern .instagram .instagram-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: none;
  padding-bottom: 28px;
}
@media (max-width: 991px) {
  .footer .pattern .instagram .instagram-title {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .footer .pattern .instagram .instagram-title {
    font-size: 21px;
    padding-bottom: 18px;
  }
}
.footer .pattern .instagram .instagram-title a {
  font-weight: 400 !important;
  line-height: 1.1;
  text-decoration: none !important;
}
.footer .pattern .instagram .instagram-title span {
  color: #7dbd5d;
  display: inline-block;
  position: relative;
}
.footer .pattern .instagram .instagram-title span:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #7dbd5d;
}
.footer .pattern .instagram #instafeed {
  margin: 0px -5px;
  position: relative;
}
.footer .pattern .instagram #instafeed > a {
  min-width: 14.28%;
  padding: 0px 5px;
}
@media (max-width: 1280px) {
  .footer .pattern .instagram #instafeed > a {
    min-width: 20%;
  }
}
@media (max-width: 991px) {
  .footer .pattern .instagram #instafeed > a {
    min-width: 25%;
  }
}
.footer .pattern .instagram #instafeed > a:before {
  left: 5px;
  right: 5px;
}
.footer .pattern .instagram #instafeed > a img {
  width: 155px;
  height: 155px;
  min-width: 100%;
}
@media (max-width: 767px) {
  .footer .pattern .instagram #instafeed > a img {
    width: 90px;
    height: 90px;
  }
}
.standard-body .copyright .background {
  background: #fff;
}
.copyright .background {
  background: #fff;
}
.copyright .pattern {
  padding: 0px 0px 34px 0px;
  color: #000;
}
.copyright .pattern a {
  color: #000;
}
.copyright .pattern a:hover {
  color: #000;
}
.copyright .pattern .fashionmodern5-copyright .payment {
  padding-top: 6px;
}
.copyright .pattern .fashionmodern5-copyright .payment a {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-right: 7px;
}
.copyright .pattern .fashionmodern5-copyright + p {
  display: none;
}
.common-home .main-content .row {
  margin: 0px -5px;
}
.common-home .main-content .row > div {
  padding: 0px 5px;
}
.main-content .pattern > .container,
.standard-body .main-content .pattern > .container {
  padding-bottom: 0px;
}
.product-grid .row {
  margin: 0px -5px;
}
.product-grid .row > div {
  padding: 0px 5px;
}
.box-product .owl-carousel {
  padding: 10px;
  margin: -10px;
}
.box-product .owl-carousel .owl-item .item {
  margin-right: 0px;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .row > div .row {
    margin: 0px !important;
  }
  .fashionmodern4-menu-2 .row > div .row > div {
    border-top: none !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}
.fashionmodern4-menu-2 .links {
  padding: 20px 0px 50px 0px;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .links {
    padding: 0px 0px 0px 0px;
  }
}
.fashionmodern4-menu-2 .links h3 {
  padding: 34px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #7dbd5d;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .links h3 {
    padding-top: 24px;
  }
}
.fashionmodern4-menu-2 .links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.fashionmodern4-menu-2 .links ul li a {
  font-size: 16px;
  line-height: 30px;
}
.fashionmodern4-menu-2 .links ul li a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
.fashionmodern4-menu-2 .menu-banner {
  margin: 60px 0px 40px 0px !important;
  position: relative;
  height: 419px !important;
  overflow: hidden;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .menu-banner {
    margin: 0px !important;
    height: 300px !important;
  }
}
.fashionmodern4-menu-2 .menu-banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionmodern4-menu-2 .menu-banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.fashionmodern4-menu-2 .menu-banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionmodern4-menu-2 .menu-banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #000000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionmodern4-menu-2 .menu-banner .banner-content {
  left: 70px !important;
  bottom: 70px !important;
  top: auto !important;
  right: auto !important;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  text-align: left !important;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-2 .menu-banner .banner-content {
    left: 40px !important;
    bottom: 40px !important;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .menu-banner .banner-content {
    left: 30px !important;
    bottom: 30px !important;
  }
}
.fashionmodern4-menu-2 .menu-banner .banner-content h3 {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-2 .menu-banner .banner-content h3 {
    font-size: 24px !important;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .menu-banner .banner-content h3 {
    font-size: 21px;
  }
}
.fashionmodern4-menu-2 .menu-banner .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 8px 30px 7px !important;
  text-transform: none !important;
  margin-top: 25px !important;
}
.fashionmodern4-menu-2 .fashionmodern4-menu-brands {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-2 .fashionmodern4-menu-brands {
    padding: 0px 0px;
    margin: 0px;
    border: none;
  }
}
.fashionmodern4-menu-2 .fashionmodern4-menu-brands .item {
  text-align: center;
}
.fashionmodern4-menu-2 .fashionmodern4-menu-brands .item img {
  display: inline-block;
  width: auto;
  max-width: 100%;
}
.fashionmodern4-bg-menu-3 .sub-menu .content {
  background: #d0d1d5 !important;
}
.fashionmodern4-menu-3 {
  margin: -20px -70px -30px -70px;
  position: relative;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-3 {
    margin: -20px -20px -30px -20px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-3 {
    margin: -20px;
  }
}
.fashionmodern4-menu-3 .row {
  margin: 0px !important;
}
.fashionmodern4-menu-3 .row > div {
  padding: 0px !important;
  margin: 0px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1199px) {
  .fashionmodern4-menu-3 .row > div {
    background-image: none !important;
  }
}
.fashionmodern4-menu-3 .links {
  padding: 74px 20px 74px 70px;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-3 .links {
    padding: 34px 0px 34px 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-3 .links {
    padding: 0px 0px 24px 25px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-3 .links .d-flex {
    flex-wrap: wrap;
  }
}
.fashionmodern4-menu-3 .links .item {
  padding-right: 50px;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-3 .links .item {
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-3 .links .item {
    padding-right: 30px;
    width: 50%;
    padding-top: 24px;
  }
}
.fashionmodern4-menu-3 .links .item:last-child {
  margin-left: auto;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-3 .links .item:last-child {
    margin: 0px;
  }
}
.fashionmodern4-menu-3 .links h3 {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #7dbd5d;
}
.fashionmodern4-menu-3 .links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.fashionmodern4-menu-3 .links ul li a {
  font-size: 16px;
  line-height: 30px;
}
.fashionmodern4-menu-3 .links ul li a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
.fashionmodern4-bg-menu-4 .sub-menu .content {
  background: #f1f2f3 !important;
}
.fashionmodern4-menu-4 {
  margin: -20px -70px -30px -70px;
  position: relative;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-4 {
    margin: -20px -20px -30px -20px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-4 {
    margin: -20px;
  }
}
.fashionmodern4-menu-4 .row {
  margin: 0px !important;
}
.fashionmodern4-menu-4 .row > div {
  padding: 0px !important;
  margin: 0px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1199px) {
  .fashionmodern4-menu-4 .row > div {
    background-image: none !important;
  }
}
.fashionmodern4-menu-4 .links {
  padding: 74px 20px 74px 70px;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-4 .links {
    padding: 34px 0px 34px 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-4 .links {
    padding: 0px 0px 24px 25px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-4 .links .d-flex {
    flex-wrap: wrap;
  }
}
.fashionmodern4-menu-4 .links .item {
  padding-right: 50px;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-4 .links .item {
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-4 .links .item {
    padding-right: 30px;
    width: 50%;
    padding-top: 24px;
  }
}
.fashionmodern4-menu-4 .links .item:last-child {
  margin-left: auto;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-4 .links .item:last-child {
    margin: 0px;
  }
}
.fashionmodern4-menu-4 .links h3 {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #7dbd5d;
}
.fashionmodern4-menu-4 .links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.fashionmodern4-menu-4 .links ul li a {
  font-size: 16px;
  line-height: 30px;
}
.fashionmodern4-menu-4 .links ul li a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
.fashionmodern4-menu-1 {
  margin: 0px;
  position: relative;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 {
    margin: -20px;
  }
}
.fashionmodern4-menu-1 .row {
  margin: 0px !important;
}
.fashionmodern4-menu-1 .row > div {
  padding: 0px !important;
  margin: 0px !important;
}
.fashionmodern4-menu-1 .links {
  padding: 34px 0px 21px 0px;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .links {
    padding: 25px 0px;
  }
}
.fashionmodern4-menu-1 .links .item {
  padding-right: 50px;
}
@media (max-width: 991px) {
  .fashionmodern4-menu-1 .links .item {
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .links .item {
    padding-right: 30px;
  }
}
.fashionmodern4-menu-1 .links h3 {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #7dbd5d;
}
.fashionmodern4-menu-1 .links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.fashionmodern4-menu-1 .links ul li a {
  font-size: 16px;
  line-height: 30px;
}
.fashionmodern4-menu-1 .links ul li a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 {
    border: none !important;
  }
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .row {
  margin: 0px -5px !important;
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .row > div {
  padding: 0px 5px !important;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .row > div {
    border: none !important;
  }
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner {
  margin: 30px 0px;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner {
    margin: 0px 0px 10px 0px;
    height: 170px;
  }
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content {
  position: absolute;
  left: 50px;
  bottom: 50px;
  text-align: left;
}
@media (max-width: 1098px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content {
    left: 40px;
    bottom: 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content {
    left: 30px;
    bottom: 30px;
  }
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content h3 {
  font-size: 30px;
  line-height: 1.08;
  color: #000;
  text-transform: none;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content h3 {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content h3 {
    font-size: 21px;
  }
}
.fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  padding: 9px 30px 8px 30px;
  font-size: 16px !important;
  margin-top: 25px;
  text-transform: none;
  font-weight: 600 !important;
}
@media (max-width: 767px) {
  .fashionmodern4-menu-1 .fashionmodern4-menu-banners-1 .banner .banner-content .btn {
    margin-top: 20px;
    padding: 7px 25px;
    font-size: 14px !important;
  }
}
.fashionmodern4-blog-posts {
  margin: 70px 0px 0px 0px !important;
}
@media (max-width: 767px) {
  .fashionmodern4-blog-posts {
    margin: 40px 0px 0px 0px !important;
  }
}
.fashionmodern4-blog-posts > div {
  padding-bottom: 70px !important;
}
@media (max-width: 767px) {
  .fashionmodern4-blog-posts > div {
    padding-bottom: 40px !important;
  }
}
.blog-posts {
  margin: 0px;
  padding: 0px;
  width: auto !important;
  overflow: hidden;
  z-index: 0;
  padding-right: 10px;
}
.blog-posts .owl-stage-outer {
  overflow: visible;
}
.blog-posts .item {
  margin-right: -10px;
  position: relative;
  overflow: hidden;
}
.blog-posts .item:hover .image img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.blog-posts .item .image {
  position: relative;
}
.blog-posts .item .image a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9009978991596639) 0%, rgba(255, 255, 255, 0) 70%);
  z-index: 2;
}
.blog-posts .item .image .tags {
  display: none;
}
.blog-posts .item .image img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.blog-posts .item .name {
  position: absolute;
  left: 50px;
  bottom: 65px;
  right: 50px;
  z-index: 3;
}
@media (max-width: 767px) {
  .blog-posts .item .name {
    left: 30px;
    bottom: 45px;
  }
}
.blog-posts .item .name a {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  text-transform: none;
}
@media (max-width: 767px) {
  .blog-posts .item .name a {
    font-size: 21px;
  }
}
.blog-posts .item .date-published {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 42px;
  font-size: 14px;
  color: #7dbd5d;
  z-index: 3;
}
@media (max-width: 767px) {
  .blog-posts .item .date-published {
    left: 30px;
    bottom: 22px;
  }
}
.header-notice {
  font-size: 14px;
  color: #999999;
  text-transform: none;
  font-weight: 400;
  padding: 6px 0px;
}
@media (max-width: 767px) {
  .header-notice {
    font-size: 13px;
  }
}
.header-notice strong {
  font-weight: 600;
  color: #fff;
}
.header-notice .close-notice {
  right: 0 !important;
  background: url(../img/close-notice-2.png) center no-repeat !important;
}
.fashionmodern5-bar {
  text-align: center;
}
.fashionmodern5-bar .item {
  display: inline-block;
  vertical-align: top;
  padding: 3px 30px 3px 30px;
}
.fashionmodern5-bar .item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.fashionmodern5-bar .item p {
  display: inline-block;
  vertical-align: top;
}
.fashionmodern5-banners-1 .row {
  margin: 0px -5px;
}
.fashionmodern5-banners-1 .row > div {
  padding: 0px 5px;
}
.fashionmodern5-banners-1 .banner {
  margin: 10px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  height: 510px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .fashionmodern5-banners-1 .banner {
    height: 260px;
  }
}
.fashionmodern5-banners-1 .banner.small {
  height: 250px;
}
@media (max-width: 767px) {
  .fashionmodern5-banners-1 .banner.small {
    height: 180px;
  }
}
.fashionmodern5-banners-1 .banner.text-top .banner-content {
  bottom: auto;
  top: 50px;
}
@media (max-width: 1098px) {
  .fashionmodern5-banners-1 .banner.text-top .banner-content {
    top: 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern5-banners-1 .banner.text-top .banner-content {
    top: 30px;
  }
}
.fashionmodern5-banners-1 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.fashionmodern5-banners-1 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.fashionmodern5-banners-1 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionmodern5-banners-1 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.fashionmodern5-banners-1 .banner .banner-content {
  position: absolute;
  left: 50px;
  bottom: 50px;
  text-align: left;
}
@media (max-width: 1098px) {
  .fashionmodern5-banners-1 .banner .banner-content {
    left: 40px;
    bottom: 40px;
  }
}
@media (max-width: 767px) {
  .fashionmodern5-banners-1 .banner .banner-content {
    left: 30px;
    bottom: 30px;
  }
}
.fashionmodern5-banners-1 .banner .banner-content h3 {
  font-size: 35px;
  line-height: 1.08;
  color: #000;
  text-transform: none;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .fashionmodern5-banners-1 .banner .banner-content h3 {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .fashionmodern5-banners-1 .banner .banner-content h3 {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .fashionmodern5-banners-1 .banner .banner-content h3 {
    font-size: 21px;
  }
}
.fashionmodern5-banners-1 .banner .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  padding: 9px 30px 8px 30px;
  font-size: 16px !important;
  margin-top: 25px;
  text-transform: none;
  font-weight: 600 !important;
}
@media (max-width: 767px) {
  .fashionmodern5-banners-1 .banner .banner-content .btn {
    margin-top: 20px;
    padding: 7px 25px;
    font-size: 14px !important;
  }
}
.fashionmodern5-shop-by-category .box-content {
  margin-top: -30px;
  position: relative;
}
.fashionmodern5-shop-by-category .box-content > .row {
  margin: 0px -40px;
}
@media (max-width: 767px) {
  .fashionmodern5-shop-by-category .box-content > .row {
    margin: 0px -10px;
  }
}
.fashionmodern5-shop-by-category .box-content > .row > div {
  padding: 0px 0px 0px 40px;
  position: relative;
}
@media (max-width: 767px) {
  .fashionmodern5-shop-by-category .box-content > .row > div {
    padding: 0px 10px;
  }
}
.fashionmodern5-shop-by-category .box-content > .row > div:before {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  bottom: 5px;
  left: 0;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .fashionmodern5-shop-by-category .box-content > .row > div:before {
    display: none;
  }
}
.fashionmodern5-shop-by-category .box-content > .row > div:first-child:before {
  display: none;
}
.fashionmodern5-shop-by-category .links .item {
  padding-top: 30px;
  padding-right: 50px;
}
@media (max-width: 991px) {
  .fashionmodern5-shop-by-category .links .item {
    padding-right: 40px;
  }
}
.fashionmodern5-shop-by-category .links h3 {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #7dbd5d;
}
.fashionmodern5-shop-by-category .links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.fashionmodern5-shop-by-category .links ul li a {
  font-size: 16px;
  line-height: 30px;
}
.fashionmodern5-shop-by-category .links ul li a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
.main-content .footer-newsletter {
  padding: 42px 30px 50px 30px;
  margin: 70px 0px 0px 0px;
  border: 10px solid #7dbd5d;
}
@media (max-width: 767px) {
  .main-content .footer-newsletter {
    margin: 40px 0px 0px 0px;
    border-width: 5px;
    padding: 22px 25px 25px 25px;
  }
}
.main-content .footer-newsletter h5 {
  padding: 0px 0px 18px 0px;
  margin: 0px;
}
.main-content .footer-newsletter .content input {
  background: #fff;
  border: 1px solid #d9d9d9;
}
.main-content .footer-newsletter .content input:focus {
  background: #fff;
}
.main-content .footer-newsletter .content .button {
  background: #000 !important;
  color: #fff !important;
  font-size: 14px;
  padding: 10px 30px 8px 30px;
}
.main-content .footer-newsletter .checkbox {
  padding-top: 15px;
}
@media (max-width: 767px) {
  .main-content .footer-newsletter .checkbox {
    padding-top: 10px;
  }
}
.main-content .footer-newsletter .checkbox label {
  color: #999999;
  font-size: 16px;
}
@media (max-width: 767px) {
  .main-content .footer-newsletter .checkbox label {
    font-size: 15px;
  }
}
.main-content .footer-newsletter .checkbox label .custom-control-indicator {
  background: #fff;
  border: 1px solid #d9d9d9;
  top: 3px;
}
.main-content .footer-newsletter .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
  color: #7dbd5d;
}
.fashionmodern5-brands {
  margin: 0px;
  padding: 85px 0px 0px 0px;
}
@media (max-width: 767px) {
  .fashionmodern5-brands {
    padding: 40px 0px 0px 0px;
  }
}
.fashionmodern5-brands .item {
  text-align: center;
}
.fashionmodern5-brands .item img {
  display: inline-block;
  width: auto;
  max-width: 100%;
}
.fashionmodern5-brands .text-center {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .fashionmodern5-brands .text-center {
    padding-top: 20px;
  }
}
.fashionmodern5-brands .text-center a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
.fashionmodern5-footer-bar {
  margin: 10px 0px 0px 0px;
  background: #f2f8ee;
}
.fashionmodern5-footer-bar .row {
  margin: 0px;
}
.fashionmodern5-footer-bar .row > div {
  padding: 0px 70px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 1199px) {
  .fashionmodern5-footer-bar .row > div {
    padding: 0px 50px;
  }
}
@media (max-width: 991px) {
  .fashionmodern5-footer-bar .row > div {
    padding: 0px 30px;
  }
}
@media (max-width: 767px) {
  .fashionmodern5-footer-bar .row > div {
    padding: 0px 25px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .fashionmodern5-footer-bar .row > div:first-child {
    border: none;
  }
}
.fashionmodern5-footer-bar .row > div:first-child {
  border: none;
}
.fashionmodern5-footer-bar .item {
  min-height: 60px;
  padding: 10px 0px;
}
@media (max-width: 767px) {
  .fashionmodern5-footer-bar .item {
    min-height: 50px;
  }
}
.fashionmodern5-footer-bar .item img {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .fashionmodern5-footer-bar .item img {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .fashionmodern5-footer-bar .item p {
    margin-right: auto;
  }
}
/* 28.12.2019 */
/* colors */
#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
  color: #7dbd5d;
}
.post-entry .post-content .quote {
  border-left-color: #7dbd5d;
}
.bar3 .item .icon svg path,
.bar3 .item .icon svg g {
  fill: #7dbd5d !important;
}
/* header 5 */
header #top-bar .right #cart_block {
  background: #fcc132;
}
header #top-bar .right #cart_block .cart-heading .open-cart svg path,
header #top-bar .right .wishlist svg path,
header #top-bar .right #cart_block .cart-heading .open-cart svg g,
header #top-bar .right .wishlist svg g {
  fill: transparent !important;
  stroke: #fff !important;
}
/* Header 6 */
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg path,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg g {
  fill: transparent !important;
  stroke: #fcc132 !important;
}
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
  background: #fcc132;
}
header .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #666;
  color: #fff;
}
/* header 12 */
#top .top-center .right .desktop-search .search_form .search-cat {
  background: #fcc132;
}
/* header 14 */
#top .top-center .desktop-search .search_form .search-cat {
  background: #fcc132;
}
/* Header 17 */
#slider .desktop-search .search_form {
  border-color: #fcc132;
}
/* mfilter */
.mfilter-heading {
  color: #000 !important;
  text-transform: none !important;
  font-size: 20px !important;
}
.mfilter-category ul li a,
.mfilter-tb-as-td {
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: none !important;
}
/* Black header */
header.header-type-6 .slider-header #top .menu2 {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 > * {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg path,
header.header-type-6 .slider-header #top .menu2 .my-account svg path,
header.header-type-6 .slider-header #top .menu2 .wishlist svg path,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg g,
header.header-type-6 .slider-header #top .menu2 .my-account svg g,
header.header-type-6 .slider-header #top .menu2 .wishlist svg g,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg circle,
header.header-type-6 .slider-header #top .menu2 .my-account svg circle,
header.header-type-6 .slider-header #top .menu2 .wishlist svg circle,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg line,
header.header-type-6 .slider-header #top .menu2 .my-account svg line,
header.header-type-6 .slider-header #top .menu2 .wishlist svg line {
  fill: transparent !important;
  stroke: #fff !important;
}
header.header-type-6 .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #fff;
  color: #000;
}
header.header-type-6 .slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
header.header-type-6 .slider-header #top .bottom .social-links li a {
  color: #fff;
}
header.header-type-8 .slider-header #top-bar {
  border: none;
}
header .slider-header #top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}
header .slider-header #top-bar a {
  color: #fff;
}
header .slider-header #top-bar .dropdown-menu a {
  color: #000;
}
header .slider-header #top-bar .left .social-links li a {
  color: #525252;
}
header .slider-header #top-bar .left .social-links li a:hover {
  color: #fff;
}
header .slider-header #top-bar .right ul.menu,
header .slider-header #top-bar .right .welcome-text {
  border-color: rgba(255, 255, 255, 0.15);
}
header .slider-header .top-center .right .dropdown .dropdown-toggle {
  color: #fff;
}
