a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #7dbd5d;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #7dbd5d;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #7dbd5d !important;
	}
}

.button,
.btn,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #7dbd5d !important;
}

#mobile-header-3 .top-center .open-wishlist a .wishlist-count {
	background: #575757;
}

#top-bar .right .welcome-text a {
	color: #fcc132;
}

#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
ul.megamenu > li > a:before {
	background: #fcc132 !important;
	color: #000 !important;
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #7dbd5d;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

.is-countdown {
	.countdown-amount {
		color: #7dbd5d;
	}
}

#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
	background: #575757;
	color: #fff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count,
#mobile-header-2 .top-center .open-cart2 a .cart-count {
	background: #fcc132 !important;
	color: #000 !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	g, path {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path, * {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

#top .top-center .right .wishlist svg {
	path, g {
		stroke: #fff !important;
	}
}

#top .top-center .right .my-account svg {
	path, g, circle {
		stroke: #fff !important;
	}
}

header #top .top-center .right .desktop-search .open-search a svg {
	width: 24px;
	height: 24px;
	path, g, circle {
		stroke: #fff !important;
	}
}

.product-grid .product .price .price-new {
	color: #000;
}

.new:not(.day) {
	background: #fcc132;
	color: #000;
}

.sale {
	background: #7dbd5d;
	color: #fff;
}

.product-grid .product .image .add-to-cart a {
	background: #7dbd5d;
}


.product-filter {
	z-index: 2;
}

body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Barlow;
}

.product-filter h1,
.box .box-heading,
h1, h2, h3, h4, h5, h6,
legend,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link,
table.attribute thead td, table.list thead td, .wishlist-product table thead td, .wishlist-info table thead td, .compare-info thead td, .cart-info table thead td, .checkout-product table thead td, .table thead td, table.attribute thead th, table.list thead th, .wishlist-product table thead th, .wishlist-info table thead th, .compare-info thead th, .cart-info table thead th, .checkout-product table thead th, .table thead th {
	font-weight: 400 !important;
	text-transform: none !important;
}

.btn,
.product-info .product-center .cart .add-to-cart .button,
.btn-link,
.product-info .product-center .hurry-up .heading,
.mfilter-box *,
.add-to-cart a,
.sale, .new:not(.day),
.list-box li,
.pagination-results ul.pagination li, .pagination-results ul.pagination li a,
label {
	font-weight: 400 !important;
}

.dropdown-menu > li > a {
	font-size: 13px;
	text-transform: none;
	font-weight: 400;
}

.bottom-bar .open-wishlist a svg,
.bottom-bar .open-home a svg,
.bottom-bar .open-account a svg,
.bottom-bar .open-cart a svg,
.bottom-bar .open-menu2 a svg {
	width: 24px;
	height: 24px;
}

#mobile-header-1 {
	background: #000;
	.top-center .mobile-switcher .switchers .dropdown .dropdown-toggle {
		color: #fff;
		font-weight: 400;
		text-transform: none;
		&:after {
			border-top-color: #575757;
		}
	}
}

ul.megamenu > li > a strong {
	@media (max-width: 767px) {
		font-weight: 400;
		text-transform: none;
	}
}

.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a, .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
	@media (max-width: 767px) {
		font-weight: 400;
		text-transform: none;
	}
}

.mobile-menu .mobile-switcher .switchers .dropdown .dropdown-toggle {
	font-weight: 400;
	text-transform: none;
}

#mobile-header-2 {
	background: #000;
	.top-center .open-menu2 a svg path, .top-center .open-menu2 a svg g {
		fill: #fff !important;
	}
}

#mobile-header-3 {
	background: #000;
	.top-center .open-account a svg path, .top-center .open-account a svg g,
	.top-center .open-wishlist a svg path, .top-center .open-wishlist a svg g {
		stroke: #fff !important;
	}
	.top-bottom .open-menu2 svg path, .top-bottom .open-menu2 svg g {
		fill: #fff !important;
	}
	.top-bottom .open-menu2 span {
		color: #fff;
	}
	.top-center .open-wishlist a .wishlist-count,
	.top-center .open-cart a .cart-count {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	.top-bottom .right .social-links li a {
		color: #575757;
		&:hover {
			color: #fff;
		}
	}
}

.slider-align-top.common-home #menu-hover-background {
	display: block;
}

.is-sticky #top .desktop-menu .horizontal {
	padding-top: 0px !important;
}

.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a {
	padding-top: 14px;
	height: 60px;
}

.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a .megamenu-label {
	top: 5px;
}

header {
	.slider-header {
		background: #000000;
		#top-bar {
			background: #000;
			.left {
				.social-links {
					li {
						a {
							color: #525252;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
			.right {
				.welcome-text {
					border-left-color: rgba(255, 255, 255, 0.1);
					color: #808080;
				}
				.switchers {
					.dropdown {
						.dropdown-toggle {
							color: #808080;
							text-transform: none;
							font-size: 13px;
							font-weight: 400;
							&:after {
								border-top-color: #525252;
							}
						}
					}
				}
			}
		}
		#top {
			.top-center {
				.switchers {
					.dropdown {
						.dropdown-toggle {
							color: #fff;
							text-transform: none;
							font-size: 13px;
							font-weight: 400;
							&:after {
								border-top-color: #fff;
							}
						}
					}
				}
			}
			.desktop-menu {
				border-top: 1px solid rgba(255, 255, 255, 0.2);
				ul.megamenu {
					> li {
						margin-right: 30px;
						&.fashionmodern1-shop-by-category {
							margin-right: 55px;
							> a {
								color: #fcc132;
								padding-left: 30px;
								position: relative;
								&:hover {
									color: #fcc132;
								}
								&:before {
									content: '';
									display: block !important;
									position: absolute;
									left: 0;
									top: 21px;
									width: 16px;
									height: 4px;
									background: #fcc132;
								}
								&:after {
									content: '';
									display: block !important;
									position: absolute;
									left: 0;
									top: 27px;
									width: 16px;
									height: 4px;
									background: #fcc132;
								}
								span:before {
									content: '';
									display: block;
									position: absolute;
									left: 0;
									top: 33px;
									width: 16px;
									height: 4px;
									background: #fcc132;
								}
							}
						}
						> a {
							color: #fff;
							height: 60px;
							padding-top: 14px;
							&:before,
							&:after {
								// display: none !important;
								bottom: 14px;
							}
							strong {
								font-size: 16px;
								font-weight: 400;
								text-transform: none;
							}
							.megamenu-label {
								left: -3px;
								top: 5px;
								font-size: 11px;
								font-weight: 400;
							}
						}
						.sub-menu {
							.content {
								.hover-menu {
									a {
										font-size: 16px;
										text-transform: none;
										font-weight: 400;
									}
									li:hover > a,
									a:hover {
										color: #000;
										font-weight: 600;
										text-decoration: underline;
										&:before {
											border-left-color: #000;
										}
									}
									.menu {
										ul {
											margin-top: 0px;
											ul {
												margin-top: -18px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.slider-align-top.common-home {
	header {
		.slider-header {
			&:hover {
				background: #000;
			}
			#top-bar {
				border-bottom: none;
			}
		}
	}
}

.is-sticky #top {
	background: #000;
}

.slider-text {
	.second-heading {
		font-size: 70px;
		line-height: 1.08;
		text-transform: none;
		font-weight: 400;
		padding: 0px;
		margin: 0px;
	}
	.first-heading {
		padding: 20px 0px 0px 0px;
		margin: 0px;
		font-size: 28px;
		color: #7dbd5d;
		font-weight: 400;
	}
	.slider-button {
		padding: 38px 0px 0px 0px;
		margin: 0px;
		a {
			display: inline-block;
			padding: 8px 30px 7px 30px;
			margin: 0px;
			background: #fff !important;
			color: #000 !important;
			font-size: 16px;
			font-weight: 600;
			text-transform: none;
		}
	}
}

.breadcrumb {
	margin-top: 15px;
}

.box {
	margin: 56px 0px 0px 0px;
	@media (max-width: 767px) {
		margin: 35px 0px 0px 0px;
	}
	.next, .prev {
		display: none !important;
	}
	.box-heading {
		padding-bottom: 19px;
	}
}

.filter-product .next-button, .filter-product .prev-button {
	display: none;
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	.background {
		background: #fff;
	}
	.pattern {
		color: #000;
		a {
			color: #000;
			&:hover {
				color: #000;
				font-weight: bold;
			}
		}
		h4 {
			font-size: 20px;
			color: #000;
			padding: 51px 0px 17px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				font-size: 18px;
				padding-top: 35px;
			}
		}
		ul {
			li {
				a {
					color: #000;
					text-transform: none;
					font-weight: 400;
				}
			}
		}
		.about-us {
			padding: 53px 0px 0px 0px;
			@media (max-width: 767px) {
				text-align: center;
				padding: 37px 0px 0px 0px;
			}
			p {
				padding: 18px 0px 0px 0px;
				font-size: 14px;
			}
		}
		.social-links {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 22px 0px 0px 0px;
			margin: 0px;
			li {
				margin: 0px 23px 0px 0px;
				@media (max-width: 767px) {
					margin-left: 10px;
					margin-right: 10px;
					&:first-child {
						margin-left: auto;
					}
					&:last-child {
						margin-right: auto;
					}
				}
				a {
					color: #b2b2b1;
					font-size: 17px;
					&:hover {
						color: #000;
					}
				}
			}
		}
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
		.instagram {
			margin: 0px;
			padding: 55px 0px 0px 0px;
			@media (max-width: 767px) {
				padding: 30px 0px 0px 0px;
			}
			.instagram-title {
				font-size: 30px;
				font-weight: 400;
				text-transform: none;
				padding-bottom: 28px;
				@media (max-width: 991px) {
					font-size: 27px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
					padding-bottom: 18px;
				}
				a {
					font-weight: 400 !important;
					line-height: 1.1;
					text-decoration: none !important;
				}
				span {
					color: #7dbd5d;
					display: inline-block;
					position: relative;
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: 2px;
						background: #7dbd5d;
					}
				}
			}
			#instafeed {
				margin: 0px -5px;
				position: relative;
			}
			#instafeed > a {
				min-width: 14.28%;
				padding: 0px 5px;
				@media (max-width: 1280px) {
					min-width: 20%;
				}
				@media (max-width: 991px) {
					min-width: 25%;
				}
				&:before {
					left: 5px;
					right: 5px;
				}
				img {
					width: 155px;
					height: 155px;
					min-width: 100%;
					@media (max-width: 767px) {
						width: 90px;
						height: 90px;
					}
				}
			}
		}
		.footer-newsletter {
			padding: 70px 0px 50px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding: 35px 0px 20px 0px;
				display: block !important;
				text-align: center;
			}
			h5 {
				color: #000;
				padding: 0px 0px 18px 0px;
				@media (max-width: 767px) {
					padding: 0px 0px 12px 0px;
				}
			}
			.line {
				display: none;
			}
			.content {
				background: none;
				margin: 0px auto;
				padding: 0px;
				@media (max-width: 767px) {
					width: 100%;
					margin: 15px 0px 0px 0px;
				}
				input {
					margin: 0px 0px 0px auto;
					background: #fff;
					border: 1px solid #d9d9d9;
					color: #000;
					@media (max-width: 991px) {
						width: 100%;
					}
				}
			}
			.button {
				margin-bottom: auto;
				margin-right: auto;
				margin-left: 10px;
				font-size: 14px;
				padding: 9px 30px 9px 30px;
				background: #000 !important;
				color: #fff !important;
			}
			.checkbox {
				padding-left: 30px;
				padding-top: 20px;
				label {
					font-size: 15px;
					color: #999999;
					@media (max-width: 767px) {
						font-size: 14px;
					}
				}
				label .custom-control-indicator {
					background: #fff;
					border: 1px solid #d9d9d9;
					top: 2px;
				}
				label .custom-control-input:checked ~ .custom-control-indicator:before {
					color: #7dbd5d;
				}
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
	}
	.pattern {
		padding: 0px 0px 34px 0px;
		color: #000;
		a {
			color: #000;
			&:hover {
				color: #000;
			}
		}
		.fashionmodern4-copyright {
			p {

			}
			.payment {
				padding-top: 6px;
				a {
					display: inline-block;
					vertical-align: top;
					padding-top: 12px;
					padding-right: 7px;
				}
			}
		}
		.fashionmodern4-copyright + p {
			display: none;
		}
	}
}

.fashionmodern4-footer-brands {
	margin: 0px -2000px;
	padding: 35px 2000px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	@media (max-width: 767px) {
		padding: 20px 2000px;
	}
	.item {
		text-align: center;
		img {
			display: inline-block;
			width: auto;
			max-width: 100%;
		}
	}
}

.common-home {
	.main-content {
		.row {
			margin: 0px -5px;
			> div {
				padding: 0px 5px;
			}
		}
	}
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
}

.product-grid {
	.row {
		margin: 0px -5px;
		> div {
			padding: 0px 5px;
		}
	}
}

.box-product .owl-carousel {
	padding: 10px;
	margin: -10px;
}

.box-product .owl-carousel .owl-item .item {
  margin-right: 0px;
}

.fashionmodern4-menu-2 {
	@media (max-width: 767px) {
		.row > div .row {
			margin: 0px !important;
		}
		.row > div .row > div {
			border-top: none !important;
			margin: 0px !important;
			padding: 0px !important;
		}
	}
	.links {
		padding: 20px 0px 50px 0px;
		@media (max-width: 767px) {
			padding: 0px 0px 0px 0px;
		}
		h3 {
			padding: 34px 0px 10px 0px;
			margin: 0px;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			color: #7dbd5d;
			@media (max-width: 767px) {
				padding-top: 24px;
			}
		}
		ul {
			padding: 0px;
			margin: 0px;
			list-style: none;
			li {
				a {
					font-size: 16px;
					line-height: 30px;
					&:hover {
						color: #000;
						font-weight: 600;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.menu-banner {
		margin: 60px 0px 40px 0px !important;
		position: relative;
		height: 419px !important;
		overflow: hidden;
		@media (max-width: 767px) {
			margin: 0px !important;
			height: 300px !important;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			left: 70px !important;
			bottom: 70px !important;
			top: auto !important;
			right: auto !important;
			transform: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			text-align: left !important;
			@media (max-width: 991px) {
				left: 40px !important;
				bottom: 40px !important;
			}
			@media (max-width: 767px) {
				left: 30px !important;
				bottom: 30px !important;
			}
			h3 {
				padding: 0px;
				margin: 0px;
				color: #fff;
				font-size: 30px;
				line-height: 1;
				font-weight: 400;
				@media (max-width: 991px) {
					font-size: 24px !important;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				font-size: 16px !important;
				font-weight: 600 !important;
				padding: 8px 30px 7px !important;
				text-transform: none !important;
				margin-top: 25px !important;
			}
		}
	}
	.fashionmodern4-menu-brands {
		margin: 0px;
		padding: 0px 0px 0px 0px;
		@media (max-width: 767px) {
			padding: 0px 0px;
			margin: 0px;
			border: none;
		}
		.item {
			text-align: center;
			img {
				display: inline-block;
				width: auto;
				max-width: 100%;
			}
		}
	}
}

.fashionmodern4-bg-menu-3 {
	.sub-menu {
		.content {
			background: #d0d1d5 !important;
		}
	}
}

.fashionmodern4-menu-3 {
	margin: -20px -70px -30px -70px;
	position: relative;
	@media (max-width: 991px) {
		margin: -20px -20px -30px -20px;
	}
	@media (max-width: 767px) {
		margin: -20px;
	}
	.row {
		margin: 0px !important;
		> div {
			padding: 0px !important;
			margin: 0px !important;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width: 1199px) {
				background-image: none !important;
			}
		}
	}
	.links {
		padding: 74px 20px 74px 70px;
		@media (max-width: 991px) {
			padding: 34px 0px 34px 40px;
		}
		@media (max-width: 767px) {
			padding: 0px 0px 24px 25px;
		}
		.d-flex {
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
		}
		.item {
			padding-right: 50px;
			@media (max-width: 991px) {
				padding-right: 40px;
			}
			@media (max-width: 767px) {
				padding-right: 30px;
				width: 50%;
				padding-top: 24px;
			}
			&:last-child {
				margin-left: auto;
				@media (max-width: 767px) {
					margin: 0px;
				}
			}
		}
		h3 {
			padding: 0px 0px 10px 0px;
			margin: 0px;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			color: #7dbd5d;
		}
		ul {
			padding: 0px;
			margin: 0px;
			list-style: none;
			li {
				a {
					font-size: 16px;
					line-height: 30px;
					&:hover {
						color: #000;
						font-weight: 600;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.fashionmodern4-bg-menu-4 {
	.sub-menu {
		.content {
			background: #f1f2f3 !important;
		}
	}
}

.fashionmodern4-menu-4 {
	margin: -20px -70px -30px -70px;
	position: relative;
	@media (max-width: 991px) {
		margin: -20px -20px -30px -20px;
	}
	@media (max-width: 767px) {
		margin: -20px;
	}
	.row {
		margin: 0px !important;
		> div {
			padding: 0px !important;
			margin: 0px !important;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width: 1199px) {
				background-image: none !important;
			}
		}
	}
	.links {
		padding: 74px 20px 74px 70px;
		@media (max-width: 991px) {
			padding: 34px 0px 34px 40px;
		}
		@media (max-width: 767px) {
			padding: 0px 0px 24px 25px;
		}
		.d-flex {
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
		}
		.item {
			padding-right: 50px;
			@media (max-width: 991px) {
				padding-right: 40px;
			}
			@media (max-width: 767px) {
				padding-right: 30px;
				width: 50%;
				padding-top: 24px;
			}
			&:last-child {
				margin-left: auto;
				@media (max-width: 767px) {
					margin: 0px;
				}
			}
		}
		h3 {
			padding: 0px 0px 10px 0px;
			margin: 0px;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			color: #7dbd5d;
		}
		ul {
			padding: 0px;
			margin: 0px;
			list-style: none;
			li {
				a {
					font-size: 16px;
					line-height: 30px;
					&:hover {
						color: #000;
						font-weight: 600;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.fashionmodern4-menu-1 {
	margin: 0px;
	position: relative;
	@media (max-width: 767px) {
		margin: -20px;
	}
	.row {
		margin: 0px !important;
		> div {
			padding: 0px !important;
			margin: 0px !important;
		}
	}
	.links {
		padding: 34px 0px 21px 0px;
		@media (max-width: 767px) {
			padding: 25px 0px;
		}
		.item {
			padding-right: 50px;
			@media (max-width: 991px) {
				padding-right: 40px;
			}
			@media (max-width: 767px) {
				padding-right: 30px;
			}
		}
		h3 {
			padding: 0px 0px 10px 0px;
			margin: 0px;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			color: #7dbd5d;
		}
		ul {
			padding: 0px;
			margin: 0px;
			list-style: none;
			li {
				a {
					font-size: 16px;
					line-height: 30px;
					&:hover {
						color: #000;
						font-weight: 600;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.fashionmodern4-menu-banners-1 {
		@media (max-width: 767px) {
			border: none !important;
		}
		.row {
			margin: 0px -5px !important;
			> div {
				padding: 0px 5px !important;
				@media (max-width: 767px) {
					border: none !important;
				}
			}
		}
		.banner {
			margin: 30px 0px;
			background-size: cover;
			background-position: center;
			height: 200px;
			position: relative;
			text-align: center;
			overflow: hidden;
			@media (max-width: 767px) {
				margin: 0px 0px 10px 0px;
				height: 170px;
			}
			&:hover {
				.banner-image {
					transform: scale(1.03);
					-webkit-transform: scale(1.03);
					-moz-transform: scale(1.03);
					&:before {
						top: 50%;
						opacity: 0.5;
					}
				}
			}
			.banner-image {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-size: cover;
				background-position: center;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 75%;
					bottom: 0;
					background: rgba(212,228,239,0);
					background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
					background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
					opacity: 0;
					transition: all 0.2s ease-in;
					-webkit-transition: all 0.2s ease-in;
					-moz-transition: all 0.2s ease-in;
				}
			}
			.banner-content {
				position: absolute;
				left: 50px;
				bottom: 50px;
				text-align: left;
				@media (max-width: 1098px) {
					left: 40px;
					bottom: 40px;
				}
				@media (max-width: 767px) {
					left: 30px;
					bottom: 30px;
				}
				h3 {
					font-size: 30px;
					line-height: 1.08;
					color: #000;
					text-transform: none;
					font-weight: 400;
					padding: 0px;
					margin: 0px;
					@media (max-width: 1098px) {
						font-size: 26px;
					}
					@media (max-width: 991px) {
						font-size: 24px;
					}
					@media (max-width: 767px) {
						font-size: 21px;
					}
				}
				.btn {
					background: #fff !important;
					color: #000 !important;
					padding: 9px 30px 8px 30px;
					font-size: 16px !important;
					margin-top: 25px;
					text-transform: none;
					font-weight: 600 !important;
					@media (max-width: 767px) {
						margin-top: 20px;
						padding: 7px 25px;
						font-size: 14px !important;
					}
				}
			}
		}
	}
}

.fashionmodern4-bar {
	margin: 70px 0px 0px 0px;
	background: #f2f8ee;
	@media (max-width: 767px) {
		margin: 40px 0px 0px 0px;
	}
	.row {
		margin: 0px;
		> div {
			padding: 0px 70px !important;
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			@media (max-width: 1199px) {
				padding: 0px 50px !important;
			}
			@media (max-width: 991px) {
				padding: 0px 30px !important;
			}
			@media (max-width: 767px) {
				padding: 0px 25px !important;
				border: none;
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				&:first-child {
					border: none;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
	.item {
		min-height: 60px;
		padding: 10px 0px;
		@media (max-width: 767px) {
			min-height: 50px;
		}
		img {
			margin-right: 20px;
			@media (max-width: 767px) {
				margin-left: auto;
			}
		}
		p {
			padding: 0px;
			margin: 0px;
			@media (max-width: 767px) {
				margin-right: auto;
			}
		}
	}
}

.fashionmodern4-blog-posts {
	margin: 70px 0px 0px 0px !important;
	@media (max-width: 767px) {
		margin: 40px 0px 0px 0px !important;
	}
	> div {
		padding-bottom: 70px !important;
		@media (max-width: 767px) {
			padding-bottom: 40px !important;
		}
	}
}

.blog-posts {
	margin: 0px;
	padding: 0px;
	width: auto !important;
	overflow: hidden;
	z-index: 0;
    padding-right: 10px;
    .owl-stage-outer {
    	overflow: visible;
    }
	.item {
		margin-right: -10px;
		position: relative;
		overflow: hidden;
		&:hover {
			.image {
				img {
					transform: scale(1.03);
					-webkit-transform: scale(1.03);
					-moz-transform: scale(1.03);
				}
			}
		}
		.image {
			position: relative;
			a:before {
				content: '';
				display: block;
				position: absolute;
				left: 0 !important;
				top: 0 !important;
				right: 0 !important;
				bottom: 0 !important;
				opacity: 1 !important;
				background: rgb(0,0,0) !important;
				background: linear-gradient(0deg, rgba(0,0,0,0.9009978991596639) 0%, rgba(255,255,255,0) 70%) !important;
				z-index: 2;
			}
			.tags {
				display: none;
			}
			img {
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.name {
			position: absolute;
			left: 50px;
			bottom: 65px;
			right: 50px;
			z-index: 3;
			@media (max-width: 767px) {
				left: 30px;
				bottom: 45px;
			}
			a {
				color: #fff;
				font-size: 25px;
				font-weight: 400;
				text-decoration: none;
				display: inline-block;
				text-transform: none;
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
		}
		.date-published {
			position: absolute;
			left: 50px;
			right: 50px;
			bottom: 42px;
			font-size: 14px;
			color: #7dbd5d;
			z-index: 3;
			@media (max-width: 767px) {
				left: 30px;
				bottom: 22px;
			}
		}
	}
}

.fashionmodern4-header-notice {
	background: #000;
	background-position: top center;
	background-repeat: no-repeat;
	margin: -15px -2000px -15px -2000px;
	padding: 20px 2000px 17px 2000px;
	text-align: left;
	@media (max-width: 767px) {
		margin-top: -10px;
		margin-bottom: -10px;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-size: cover;
		text-align: center;
	}
	h3 {
		display: inline-block;
		vertical-align: top;
		color: #fff;
		font-size: 21px;
		font-weight: 400;
		padding: 3px 0px 0px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding: 0px;
		}
	}
	.btn {
		background: #fff !important;
		color: #000 !important;
		font-size: 16px !important;
		font-weight: 600 !important;
		text-transform: none !important;
		padding: 3px 30px 3px 30px !important;
		margin-left: 23px;
		margin-right: 23px;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.fashionmodern4-banners-1 {
	.row {
		margin: 0px -5px;
		> div {
			padding: 0px 5px;
		}
	}
	.banner {
		margin: 10px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 630px;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			height: 350px;
		}
		overflow: hidden;
		&.dark {
			.banner-image {
				&:before {
					background: rgba(212,228,239,0);
					background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
					background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				}
			}
			.banner-content {
				h3 {
					font-size: 40px;
					line-height: 1.12;
					color: #000;
					@media (max-width: 991px) {
						font-size: 32px;
					}
					@media (max-width: 767px) {
						font-size: 26px;
					}
					span {
						color: #7dbd5d;
					}
				}
				.btn {
					background: #7dbd5d !important;
					color: #fff !important;
				}
			}
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 70px;
			bottom: 70px;
			text-align: left;
			@media (max-width: 1098px) {
				left: 50px;
				bottom: 50px;
			}
			@media (max-width: 767px) {
				left: 30px;
				bottom: 30px;
			}
			h3 {
				font-size: 70px;
				line-height: 1.08;
				color: #fff;
				text-transform: none;
				font-weight: 400;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 60px;
				}
				@media (max-width: 991px) {
					font-size: 52px;
				}
				@media (max-width: 767px) {
					font-size: 36px;
				}
			}
			h4 {
				font-size: 28px;
				color: #fcc132;
				font-weight: 400;
				padding: 16px 0px 0px 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 26px;
				}
				@media (max-width: 991px) {
					font-size: 24px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
					padding-top: 8px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 30px 8px 30px;
				font-size: 16px !important;
				margin-top: 36px;
				text-transform: none;
				font-weight: 600 !important;
				@media (max-width: 767px) {
					margin-top: 20px;
					padding: 7px 25px;
					font-size: 14px !important;
				}
			}
		}
	}
}

.fashionmodern4-banners-2 {
	.row {
		margin: 0px -5px;
		> div {
			padding: 0px 5px;
		}
	}
	.col-md-12 {
		.banner {
			height: 250px;
			@media (max-width: 767px) {
				height: 180px;
			}
			.banner-content {
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
			}
		}
	}
	.banner {
		margin: 10px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 357px;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			height: 200px;
		}
		overflow: hidden;
		&.large {
			height: 590px;
			@media (max-width: 767px) {
				height: 350px;
			}
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 70px;
			bottom: 70px;
			text-align: left;
			@media (max-width: 1098px) {
				left: 50px;
				bottom: 50px;
			}
			@media (max-width: 767px) {
				left: 30px;
				bottom: 30px;
			}
			h3 {
				font-size: 30px;
				line-height: 1.08;
				color: #fff;
				text-transform: none;
				font-weight: 400;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 26px;
				}
				@media (max-width: 991px) {
					font-size: 24px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 30px 8px 30px;
				font-size: 16px !important;
				margin-top: 25px;
				text-transform: none;
				font-weight: 600 !important;
				@media (max-width: 767px) {
					margin-top: 20px;
					padding: 7px 25px;
					font-size: 14px !important;
				}
			}
		}
	}
}

.fashionmodern4-banners-3 {
	padding: 60px 0px 0px 0px;
	@media (max-width: 767px) {
		padding: 30px 0px 0px 0px;
	}
	.banner {
		margin: 10px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 416px;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			height: 200px;
		}
		overflow: hidden;
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 70px;
			bottom: 70px;
			text-align: left;
			@media (max-width: 1098px) {
				left: 50px;
				bottom: 50px;
			}
			@media (max-width: 767px) {
				left: 30px;
				bottom: 30px;
			}
			h3 {
				font-size: 35px;
				line-height: 1.08;
				color: #fff;
				text-transform: none;
				font-weight: 400;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 30px;
				}
				@media (max-width: 991px) {
					font-size: 27px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 30px 8px 30px;
				font-size: 16px !important;
				margin-top: 25px;
				text-transform: none;
				font-weight: 600 !important;
				@media (max-width: 767px) {
					margin-top: 20px;
					padding: 7px 25px;
					font-size: 14px !important;
				}
			}
		}
	}
}

.fashionmodern4-products {
	.row {
		margin: 0px -15px !important;
		> div {
			padding: 0px 15px !important;
		}
	}
	.box {
		padding: 70px 0px 0px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding: 40px 0px 0px 0px;
		}
		.box-heading {
			display: none;
		}
		.box-content {
			padding: 0px;
			margin: 0px;
			.advanced-grid-products .product .image {
				max-width: 100px;
			}
		}
	}
}


/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #7dbd5d;
}

.post-entry .post-content .quote {
	border-left-color: #7dbd5d;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #7dbd5d !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #fcc132;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #fcc132 !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #fcc132;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #666;
	color: #fff;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #fcc132;
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #fcc132;
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #fcc132;
}

/* mfilter */

.mfilter-heading {
	color: #000 !important;
	text-transform: none !important;
	font-size: 20px !important;
}

.mfilter-category ul li a,
.mfilter-tb-as-td {
	font-size: 16px !important;
	font-weight: 400 !important;
	text-transform: none !important;
}

/* Black header */

header {
	&.header-type-6 {
		.slider-header {
			#top {
				.menu2 {
					border-color: rgba(255, 255, 255, 0.15);
					> * {
						border-color: rgba(255, 255, 255, 0.15);
					}
				}
			}
		}
		.slider-header #top .menu2 .desktop-search .open-search a svg,
		.slider-header #top .menu2 .my-account svg,
		.slider-header #top .menu2 .wishlist svg {
			path, g, circle, line  {
				fill: transparent !important;
				stroke: #fff !important;
			}
		}
		.slider-header #top .menu2 .wishlist .wishlist-count {
			background: #fff;
			color: #000;
		}
		.slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
		.slider-header #top .bottom .social-links li a {
			color: #fff;
		}
	}
	&.header-type-8 {
		.slider-header {
			#top-bar {
				border: none;
			}
		}
	}
	.slider-header {
		#top-bar {
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			color: #fff;
			a {
				color: #fff;
			}
			.dropdown-menu {
				a {
					color: #000;
				}
			}
			.left {
				.social-links {
					li {
						a {	
							color: #525252;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
			.right {
				ul.menu,
				.welcome-text {
					border-color: rgba(255, 255, 255, 0.15);
				}
			}
		}
		.top-center {
			.right {
				.dropdown {
					.dropdown-toggle {
						color: #fff;
					}
				}
			}
		}
	}
}