a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #ff711f;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #ff711f;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #ff711f;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #ff711f !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #ff711f !important;
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #ff711f;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #ff711f !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
	background: #000;
	color: #fff;
}

header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #ff711f !important;
	color: #fff;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	g, path {
		fill: transparent !important;
		stroke: #ff711f !important;
	}
}

#mobile-header-2 .top-center .open-cart2 a .cart-count {
	z-index: 2;
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path, * {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-home a svg {
	width: 28px;
	height: 28px;
}

#top .top-center .right .wishlist svg {
	path, g {
		stroke: #000 !important;
	}
}

#top .top-center .right .my-account svg {
	path, g, circle {
		stroke: #000 !important;
	}
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #ff711f;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}

.product-grid .product .price .price-new {
	color: #ff711f;
}

.new:not(.day) {
	background: #0046c3;
}

.sale {
	background: #ff711f;
}

.product-grid .product .image .add-to-cart a {
	background: #0046c3;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-filter {
	z-index: 2;
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Montserrat;
	font-size: 14px;
}

header {
	.slider-header {
		background: #fff;
	}
	#top {
		.top-center {
			padding: 20px 0px;
			ul.megamenu {
				> li {
					&.furniture2-shop-by-room {
						> a {
							&:before,
							&:after,
							span:before {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		.desktop-menu {
			ul.megamenu {
				> li {
					&.furniture2-shop-by-room {
						margin-right: 60px;
						> a {
							color: #ff711f;
							padding-left: 30px;
							position: relative;
							&:hover {
								color: #000;
								&:before {
									background: #000 !important;
								}
								&:after {
									background: #000;
								}
								span:before {
									background: #000;
								}
							}
							&:before {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 8px;
								width: 16px;
								height: 4px;
								background: #ff711f;
								transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-moz-transition: all 0.2s ease-in;
							}
							&:after {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 14px;
								width: 16px;
								height: 4px;
								background: #ff711f;
								transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-moz-transition: all 0.2s ease-in;
							}
							span:before {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 20px;
								width: 16px;
								height: 4px;
								background: #ff711f;
								transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-moz-transition: all 0.2s ease-in;
							}
						}
					}
					&.need-help {
						@media (max-width: 1280px) {
							display: none !important;
						}
						> a {
							font-size: 12px;
							padding-top: 6px;
							&:before {
								display: none;
							}
							span {
								strong {
									font-weight: 400;
								}
								span {
									text-decoration: underline;
								}
							}
						}
					}
					> a {
						color: #000;
						strong {
							text-transform: none;
						}
					}
				}
			}
		}
	}
	.top-center {
		.search_form {
			.search-cat {
				background: #ff711f !important;
				min-width: 160px;
			}
			.search-query {
				background: #e6e6e6;
				color: #000;
				&::-webkit-input-placeholder {
					color: #000;
				}
				&::-moz-placeholder {
					color: #000;
				}
				&:-ms-input-placeholder {
					color: #000;
				}
			}
			.button-search:before {
				color: #000;
			}
		}
		.right {
			.switchers {
				.dropdown {
					.dropdown-toggle {
						color: #000;
						&:after {
							border-top-color: #b2b2b2 !important;
						}
					}
				}
			}
		}
	}
}

.is-sticky {
	#top {
		background: #fff;
	}
}

#mobile-header-1,
#mobile-header-2,
#mobile-header-3 {
	background: #fff;
	.search_form {
		input {
			background: #e6e6e6;
			color: #000;
			&::-webkit-input-placeholder {
				color: #000;
			}
			&::-moz-placeholder {
				color: #000;
			}
			&:-ms-input-placeholder {
				color: #000;
			}
		}
		.button-search {
			color: #000;
		}
	}
	.dropdown .dropdown-toggle {
		color: #000;
		&:after {
			border-top-color: #b2b2b2 !important;
		}
	}
	.top-center .open-menu2 a svg path, .top-center .open-menu2 a svg g {
		fill: #000 !important;
	}
	.top-center .open-account a svg path, .top-center .open-account a svg circle, .top-center .open-account a svg g,
	.top-center .open-wishlist a svg path, .top-center .open-wishlist a svg g, .top-center .open-wishlist a svg circle {
		stroke: #000 !important;
	}
	.top-center .open-wishlist a .wishlist-count {
		background: #000;
	}
	.top-bottom .open-menu2 span {
		color: #000;
	}
	.top-bottom .open-menu2 svg path, .top-bottom .open-menu2 svg g {
		fill: #000 !important;
	}
	.top-bottom .right .social-links li a {
		color: #000;
		&:hover {
			color: #000;
		}
	}
}

.megamenu {
	.furniture1-categories {
		padding: 0px 0px 25px 0px;
	}
}

.furniture1-categories {
	padding-top: 30px;
	@media (max-width: 767px) {
		padding-top: 15px;
	}
	.d-flex {
		overflow-x: scroll;
	}
	.item {
		width: 130px;
		min-width: 130px;
		text-align: center;
		padding-top: 25px;
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			margin-right: auto;
		}
		span {
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			padding-top: 14px;
		}
	}
}

.desktop-menu ul.megamenu > li > .sub-menu.full-width-sub-menu .content {
	margin: 0px;
	padding: 20px 40px 30px 40px;
	@media (max-width: 991px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.furniture1-rooms-menu {
	margin: -20px -40px -30px -40px;
	position: relative;
	@media (max-width: 991px) {
		margin-left: -20px;
		margin-right: -20px;
	}
	@media (max-width: 767px) {
		margin: -20px;
		> .d-flex {
			flex-wrap: wrap;
		}
	}
	.menu-left {
		width: 260px;
		min-width: 260px;
		background: #e5ecf9;
		@media (max-width: 767px) {
			min-width: 40%;
			width: 40%;
			display: none;
		}
		ul {
			padding: 0px;
			margin: 0px;
			display: block;
			list-style: none;
			li {
				border-bottom: 1px solid #ced4e0;
				&.active {
					background: #fff;
					border-color: #fff;
				}
				a {
					display: flex;
					padding: 10px 30px 10px 40px;
					-ms-flex-item-align: center !important;
					align-self: center !important;
					@media (max-width: 767px) {
						padding-left: 10px;
						padding-right: 15px;
					}
					img {
						@media (max-width: 767px) {
							width: 20px;
						}
					}
					span {
						margin: auto 0px auto 15px;
						@media (max-width: 767px) {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
	.menu-left + .menu-right {
		@media (max-width: 767px) {
			border-top: none;
		}
	}
	.menu-right {
		width: 100%;
		display: none;
		@media (max-width: 767px) {
			display: block;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		&.active {
			display: block;
		}
		@media (max-width: 767px) {
			padding: 20px;
		}
		@media (max-width: 767px) {
			.for-mobile + *, .for-mobile + * + *, .for-mobile + * + * + *, .for-mobile + * + * + * + *, .for-mobile + * + * + * + * + * {
				display: none !important;
			}
			.for-mobile.active + *, .for-mobile.active + * + *, .for-mobile.active + * + * + *, .for-mobile.active + * + * + * + *, .for-mobile.active + * + * + * + * + * {
				display: block !important;
			}
		}
		.for-mobile {
			display: none;
			position: relative;
			@media (max-width: 767px) {
				display: block;
				margin: -10px -20px;
				position: relative;
				padding: 0px 40px 0px 20px;
			}
			a {
				display: -ms-flexbox !important;
				display: flex !important;
				-ms-flex-align: center !important;
				align-items: center !important;
				min-height: 40px;
				padding: 0px 0px;
				font-size: 15px;
				font-weight: 600;
				text-decoration: none;
				p {
					width: 40px;
					padding: 0px 10px 0px 0px;
					margin: 0px;
					img {
						max-width: 100%;
					}
				}
			}
			.close-categories {
				display: block !important;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				cursor: pointer;
			}
			&.active .close-categories:before {
				content: "-";
				font-family: Arial;
				font-weight: 300;
				font-size: 36px;
				line-height: 42px;
				padding: 0px 18px;
			}
			.open-categories {
				display: block !important;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				cursor: pointer;
			}
			&.active .open-categories {
				display: none !important;
			}
			.open-categories:before {
				content: "+";
				font-family: Arial;
				font-weight: 300;
				font-size: 24px;
				line-height: 46px;
				padding: 0px 17px;
			}
		}
		.menu-left1 {
			width: 59%;
			width: 100%;
			@media (max-width: 1450px) {
				width: 100%;
			}
			@media (max-width: 767px) {
				background: none !important;
			}
			.menu-left2 {
				width: 53%;
				@media (max-width: 767px) {
					width: 100%;
				}
				> ul {
					display: flex;
					list-style: none;
					padding: 0px 0px 30px 30px;
					margin: 0px;
					@media (max-width: 767px) {
						flex-wrap: wrap;
						padding: 10px 0px 10px 0px;
					}
					> li {
						width: 50%;
						padding-right: 30px;
						padding-top: 30px;
						@media (max-width: 767px) {
							width: 100%;
							padding: 20px 0px 0px 0px;
						}
						> a {
							font-size: 14px;
							color: #666666;
						}
						ul {
							padding: 13px 0px 0px 0px;
							margin: 0px;
							list-style: none;
							li {
								a {
									color: #000;
									font-size: 14px;
									line-height: 30px;
								}
							}
						}
					}
				}
			}
			.menu-right2 {
				width: 47%;
				@media (max-width: 767px) {
					display: none;
				}
				.products {
					padding: 30px 30px 30px 0px;
					h3 {
						font-size: 30px;
						font-weight: 600;
						text-transform: uppercase;
					}
					a {
						display: block;
						margin: 30px 0px 0px 0px;
						p {
							padding: 0px;
							margin: 0px;
						}
						.name {
							padding-top: 10px;
						}
						.price {
							font-weight: 600;
						}
					}
				}
				.menu-banner-2 {
					height: 472px;
					background-size: cover;
					background-position: center;
					position: relative;
					&.blue {
						.banner-content {
							p {
								color: #0046c3;
							}
						}
					}
					.banner-content {
						position: absolute;
						left: 0;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						text-align: center;
						p {
							padding: 0px;
							margin: 0px;
							font-size: 40px;
							line-height: 1;
							text-transform: uppercase;
							font-weight: 600;
							color: #fff;
							@media (max-width: 1199px) {
								font-size: 32px;
							}
						}
						.btn {
							background: #fff !important;
							color: #000 !important;
							padding: 9px 40px 8px 40px;
							font-size: 13px;
							margin-top: 25px;
						}
					}
					.banner-product {
						position: absolute;
						left: 60px;
						bottom: 70px;
						&.top {
							bottom: auto;
							top: 30px;
						}
						.name {
							font-size: 24px;
							color: #4c4c4c;
							font-weight: 300;
						}
						.btn {
							background: #0046c3 !important;
							color: #fff !important;
							padding: 9px 40px 8px 40px;
							font-size: 13px;
							margin-top: 20px;
						}
						.price {
							font-size: 25px;
							color: #ff711f;
							font-weight: 600;
							.price-old {
								color: #808080;
								font-weight: 300;
								text-decoration: line-through;
								padding-right: 5px;
							}
						}
					}
				}
			}
		}
		.menu-right1 {
			width: 41%;
			display: none;
			@media (max-width: 1450px) {
				display: none;
			}
			.menu-banner-1 {
				height: 472px;
				background-size: cover;
				background-position: center;
				position: relative;
				.banner-content {
					position: absolute;
					left: 0;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					text-align: center;
					p {
						padding: 0px;
						margin: 0px;
						font-size: 50px;
						line-height: 1;
						text-transform: uppercase;
						font-weight: 600;
						color: #fff;
					}
					.btn {
						background: #fff !important;
						color: #000 !important;
						padding: 9px 40px 8px 40px;
						font-size: 13px;
						margin-top: 15px;
					}
				}
			}
		}
	}
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	border-top: 1px solid #e5e5e5;
	.background {
		background: #fff;
		color: #808080;
		a {
			color: #000000;
			&:hover {
				color: #000000;
			}
		}
		h4 {
			color: #666666;
			text-transform: none;
		}
		.furniture5-services {
			padding-top: 60px;
			margin-bottom: -20px;
			position: relative;
			@media (max-width: 767px) {
				padding-top: 20px;
				margin-bottom: 0px;
			}
			.row {
				margin: 0px -10px;
				> div {
					padding: 0px 10px;
				}
			}
			.item {
				margin: 20px 0px 0px 0px;
				display: -ms-flexbox !important;
				display: flex !important;
				-ms-flex-align: center !important;
				align-items: center !important;
				span {
					font-size: 15px;
					line-height: 16px;
					text-transform: uppercase;
					color: #000;
					font-weight: 600;
					padding-left: 20px;
					display: block;
					@media (max-width: 767px) {
						font-size: 13px;
					}
				}
			}
		}
		.about-us {
			padding-top: 80px;
			@media (max-width: 767px) {
				padding-top: 40px;
				text-align: center;
			}
			img {
				margin-bottom: 15px;
			}
			p {
				padding: 20px 0px 0px 0px;
				font-size: 13px;
				line-height: 19px;
				span {
					color: #000;
				}
			}
			.social-links {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 22px 0px 0px 0px;
				margin: 0px;
				li {
					margin: 0px 23px 0px 0px;
					@media (max-width: 767px) {
						margin-left: 10px;
						margin-right: 10px;
						&:first-child {
							margin-left: auto;
						}
						&:last-child {
							margin-right: auto;
						}
					}
					a {
						color: #000;
						font-size: 17px;
						&:hover {
							color: #000;
						}
					}
				}
			}
		}	
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
		ul {
			li {
				a {
					text-transform: none;
				}
			}
		}
		.footer-newsletter {
			padding: 73px 0px 0px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding: 35px 0px 0px 0px;
				display: block !important;
				text-align: center;
			}
			h5 {
				color: #000;
				padding-top: 3px;
			}
			.content {
				background: none;
				margin: 0px 10px 0px 20px;
				padding: 0px;
				@media (max-width: 767px) {
					width: 100%;
					margin: 15px 0px 0px 0px;
				}
				input {
					margin-top: 0px;
					background: #e6e6e6;
					color: #000;
					@media (max-width: 991px) {
						width: 100%;
					}
				}
				.checkbox {
					text-align: left;
					padding-left: 30px;
					@media (max-width: 767px) {
						text-align: center;
					}
					label .custom-control-indicator {
						background: #e6e6e6;
					}
					label .custom-control-input:checked ~ .custom-control-indicator:before {
						color: #ff711f;
					}
				}
			}
			.button {
				margin-bottom: auto;
				font-size: 13px;
				padding: 10px 40px 10px 40px;
				@media (max-width: 767px) {
					margin-top: 15px;
				}
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
	}
	.pattern {
		color: #666666;
		a {
			color: #666666;
			&:hover {
				color: #666666;
			}
		}
	}
	.pattern > .container > p {
		display: none;
	}
	.furniture4-copyright {
		p {

		}
		.payment {
			padding-top: 14px;
			a {
				display: inline-block;
				vertical-align: top;
				padding-top: 12px;
				padding-right: 7px;
			}
		}
	}
}

hr {
	margin: 74px 0px 0px 0px;
	border-top-color: #e5e5e5;
	@media (max-width: 767px) {
		margin-top: 40px;
	}
}

.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link:hover {
	color: #0046c3;
}

.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #0046c3 !important;
}

.common-home {
	.main-content {
		.row {
			margin: 0px -10px;
			> div {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}

.furniture11-bar {
	text-align: center;
	padding: 4px 20px;
	color: #fff;
	background: #000;
	text-transform: uppercase;
	font-size: 13px;
	@media (max-width: 767px) {
		font-size: 11px;
	}
	strong {
		font-weight: 600;
	}
	span {
		color: #ff711f;
	}
}

.slider-text {
	.first-heading {
		font-size: 30px;
	}
	.second-heading {
		font-size: 60px;
	}
	.slider-button {
		padding: 35px 0px 0px 0px;
		margin: 0px;
		a {
			display: inline-block;
			background: #000 !important;
			color: #fff !important;
			padding: 13px 50px 12px 50px;
			font-size: 16px;
		}
	}
}

.furniture4-most-viewed-products {
	.product {
		margin: 0px;
	    display: -ms-flexbox !important;
	    display: flex !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		.left {
			.image {
				width: 80px;
				min-width: 80px;
				margin-right: 25px;
				.only-hover,
				.add-to-cart {
					display: none;
				}
			}
			.is-countdown {
				display: none !important;
			}
		}
		.right {
			.price {
				color: #000;
				font-weight: 600;
				.price-old {
					color: #808080;
					text-decoration: line-through;
					padding-right: 6px;
					font-weight: normal;
				}
				.price-new {
					color: #ff711f;
				}
			}
		}
	}
	.product + .product {
		margin-top: 30px;
	}
}

.furniture11-shop-by-category {
	padding: 0px 0px 0px 0px;
	position: relative;
	margin: -30px 0px 0px 0px;
	.item {
		padding: 30px 0px 0px 0px;
		> a {
			display: block;
			span {
				display: block;
				text-transform: uppercase;
				font-weight: 600;
				padding: 12px 0px 0px 0px;
			}
		}
		ul {
			list-style: none;
			padding: 16px 0px 0px 0px;
			margin: 0px;
			li {
				a {
					font-size: 14px;
					line-height: 30px;
					color: #666666;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}

.furniture11-banners-1 {
	padding: 50px 0px 0px 0px;
	@media (max-width: 767px) {
		padding: 20px 0px 0px 0px;
	}
	.banner {
		margin: 20px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 310px;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			margin-top: 20px;
			height: 200px;
		}
		overflow: hidden;
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 60px;
			top: 50%;
			text-align: left;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			@media (max-width: 1098px) {
				left: 40px;
			}
			@media (max-width: 767px) {
				left: 30px;
			}
			h3 {
				font-size: 35px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 28px;
				}
				@media (max-width: 767px) {
					font-size: 24px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 40px 8px 40px;
				font-size: 13px !important;
				margin-top: 20px;
			}
		}
	}
	.col-md-12 {
		.banner {
			height: 230px;
			@media (max-width: 767px) {
				height: 160px;
			}
			.banner-content {

			}
		}
	}
}

.furniture11-banners-2 {
	.banner {
		margin: 20px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 310px;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			height: 200px;
		}
		overflow: hidden;
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 60px;
			top: 50%;
			text-align: left;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			@media (max-width: 1098px) {
				left: 40px;
			}
			@media (max-width: 767px) {
				left: 30px;
			}
			h3 {
				font-size: 35px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 28px;
				}
				@media (max-width: 767px) {
					font-size: 24px;
				}
				&.black {
					color: #000;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 40px 8px 40px;
				font-size: 13px !important;
				margin-top: 20px;
				&.black {
					background: #000 !important;
					color: #fff !important;
				}
			}
		}
	}
}

.furniture11-products {
	margin: 70px -100px 0px -100px !important;
	position: relative;
	@media (max-width: 767px) {
		margin: 40px 0px 0px 0px !important;
	}
	> div {
		padding: 0px 100px;
		background-size: cover !important;
		background-position: center !important;
		@media (max-width: 767px) {
			padding: 35px 20px;
		}
	}
	.products-title {
		padding: 92px 0px 0px 0px;
		@media (max-width: 767px) {
			padding: 0px;
		}
		h3 {
			color: #fff;
			padding: 0px;
			margin: 0px;
			font-size: 60px;
			line-height: 1;
			font-weight: 600;
			text-transform: uppercase;
			@media (max-width: 991px) {
				font-size: 48px;
			}
			@media (max-width: 767px) {
				font-size: 36px;
			}
		}
		.btn {
			background: #fff !important;
			color: #000 !important;
			margin: 25px 0px 0px 0px;
			padding: 13px 48px 13px 48px;
			@media (max-width: 767px) {
				padding: 9px 30px;
			}
		}
	}
	.box {
		margin: 50px 0px;
		background: #fff;
		padding: 0px 30px 30px 30px;
		@media (max-width: 767px) {
			margin: 40px 0px 0px 0px
		}
		.product-grid {
			margin: 0px;
			.only-hover,
			.add-to-cart,
			.is-countdown {
				display: none !important;
			}
		}
	}
}

.furniture11-products + .furniture11-products {
	margin-top: 20px !important;
}

/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #ff711f;
}

.post-entry .post-content .quote {
	border-left-color: #ff711f;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #ff711f !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #ff711f;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #ff711f !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #ff711f;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #fff;
	color: #000;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #ff711f;
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #ff711f;
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #ff711f;
}