a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover,
ul.megamenu > li.active > a,
ul.megamenu > li.home > a,
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
  color: #ff711f;
}
ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
  background: #ff711f;
}
ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
  border-left-color: #ff711f;
}
@media (max-width: 767px) {
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
    color: #ff711f !important;
  }
}
.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
  background: #ff711f !important;
}
.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
  border-color: #ff711f;
}
.bottom-bar .open-cart a svg path,
.bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path,
#mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path,
#mobile-header-3 .top-center .open-cart a svg g {
  fill: #ff711f !important;
}
.buttons .left .button,
.buttons .center .button,
.btn-default,
.input-group-btn .btn-primary {
  background: #000 !important;
}
#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
  background: #fff;
  color: #000;
}
header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
  background: #ff711f !important;
  color: #fff;
}
header #top .top-center .right #cart_block .cart-heading .open-cart svg g,
#mobile-header-3 .top-center .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg g,
.bottom-bar .open-cart a svg g,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg g,
header #top .top-center .right #cart_block .cart-heading .open-cart svg path,
#mobile-header-3 .top-center .open-cart a svg path,
#mobile-header-2 .top-center .open-cart2 a svg path,
.bottom-bar .open-cart a svg path,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg path {
  fill: transparent !important;
  stroke: #ff711f !important;
}
#mobile-header-2 .top-center .open-cart2 a .cart-count {
  z-index: 2;
}
.bottom-bar .open-account a svg g,
.bottom-bar .open-wishlist a svg g,
.bottom-bar .open-account a svg path,
.bottom-bar .open-wishlist a svg path,
.bottom-bar .open-account a svg *,
.bottom-bar .open-wishlist a svg * {
  fill: transparent !important;
  stroke: #fff !important;
}
.bottom-bar .open-home a svg {
  width: 28px;
  height: 28px;
}
#top .top-center .right .wishlist svg path,
#top .top-center .right .wishlist svg g {
  stroke: #fff !important;
}
#top .top-center .right .my-account svg path,
#top .top-center .right .my-account svg g,
#top .top-center .right .my-account svg circle {
  stroke: #fff !important;
}
.is-countdown {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -51px;
}
.is-countdown .countdown-amount {
  font-size: 14px;
  color: #ff711f;
}
.is-countdown .countdown-section {
  font-size: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.product-info .is-countdown .countdown-amount {
  color: #fff;
}
.product-grid .product .price .price-new {
  color: #ff711f;
}
.new:not(.day) {
  background: #191919;
}
.sale {
  background: #ff711f;
}
.product-grid .product .image .add-to-cart a {
  background: #191919;
}
.product-grid .product .image .only-hover ul li a {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-filter {
  z-index: 2;
}
.quickview .mfp-iframe-holder .mfp-content {
  height: 590px;
}
body,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select,
.form-control {
  font-family: Montserrat;
  font-size: 14px;
}
header .slider-header {
  background: #191919;
}
header #top .top-center {
  padding: 20px 0px;
}
header #top .top-center ul.megamenu > li.furniture2-shop-by-room > a:before,
header #top .top-center ul.megamenu > li.furniture2-shop-by-room > a:after,
header #top .top-center ul.megamenu > li.furniture2-shop-by-room > a span:before {
  margin-top: 10px;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room {
  margin-right: 60px;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a {
  color: #ff711f;
  padding-left: 30px;
  position: relative;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a:hover {
  color: #fff;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a:hover:before {
  background: #fff !important;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a:hover:after {
  background: #fff;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a:hover span:before {
  background: #fff;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 16px;
  height: 4px;
  background: #ff711f;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 14px;
  width: 16px;
  height: 4px;
  background: #ff711f;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
header #top .desktop-menu ul.megamenu > li.furniture2-shop-by-room > a span:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  width: 16px;
  height: 4px;
  background: #ff711f;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
@media (max-width: 1280px) {
  header #top .desktop-menu ul.megamenu > li.need-help {
    display: none !important;
  }
}
header #top .desktop-menu ul.megamenu > li.need-help > a {
  font-size: 12px;
  padding-top: 6px;
}
header #top .desktop-menu ul.megamenu > li.need-help > a:before {
  display: none;
}
header #top .desktop-menu ul.megamenu > li.need-help > a span strong {
  font-weight: 400;
}
header #top .desktop-menu ul.megamenu > li.need-help > a span span {
  color: #ff711f;
  text-decoration: underline;
}
header #top .desktop-menu ul.megamenu > li > a {
  color: #fff;
}
header #top .desktop-menu ul.megamenu > li > a strong {
  text-transform: none;
}
header .top-center .search_form .search-cat {
  background: #ff711f !important;
  min-width: 160px;
}
header .top-center .search_form .search-query {
  background: #fff;
  color: #000;
}
header .top-center .search_form .search-query::-webkit-input-placeholder {
  color: #fff;
}
header .top-center .search_form .search-query::-moz-placeholder {
  color: #fff;
}
header .top-center .search_form .search-query:-ms-input-placeholder {
  color: #fff;
}
header .top-center .search_form .button-search:before {
  color: #000;
}
header .top-center .right .switchers .dropdown .dropdown-toggle {
  color: #fff;
}
header .top-center .right .switchers .dropdown .dropdown-toggle:after {
  border-top-color: #5e5e5e !important;
}
.is-sticky #top {
  background: #191919;
}
#mobile-header-1,
#mobile-header-2,
#mobile-header-3 {
  background: #191919;
}
#mobile-header-1 .search_form input,
#mobile-header-2 .search_form input,
#mobile-header-3 .search_form input {
  background: #5e5e5e;
  color: #fff;
}
#mobile-header-1 .search_form input::-webkit-input-placeholder,
#mobile-header-2 .search_form input::-webkit-input-placeholder,
#mobile-header-3 .search_form input::-webkit-input-placeholder {
  color: #fff;
}
#mobile-header-1 .search_form input::-moz-placeholder,
#mobile-header-2 .search_form input::-moz-placeholder,
#mobile-header-3 .search_form input::-moz-placeholder {
  color: #fff;
}
#mobile-header-1 .search_form input:-ms-input-placeholder,
#mobile-header-2 .search_form input:-ms-input-placeholder,
#mobile-header-3 .search_form input:-ms-input-placeholder {
  color: #fff;
}
#mobile-header-1 .search_form .button-search,
#mobile-header-2 .search_form .button-search,
#mobile-header-3 .search_form .button-search {
  color: #fff;
}
#mobile-header-1 .dropdown .dropdown-toggle,
#mobile-header-2 .dropdown .dropdown-toggle,
#mobile-header-3 .dropdown .dropdown-toggle {
  color: #fff;
}
#mobile-header-1 .dropdown .dropdown-toggle:after,
#mobile-header-2 .dropdown .dropdown-toggle:after,
#mobile-header-3 .dropdown .dropdown-toggle:after {
  border-top-color: #5e5e5e !important;
}
#mobile-header-1 .top-center .open-menu2 a svg path,
#mobile-header-2 .top-center .open-menu2 a svg path,
#mobile-header-3 .top-center .open-menu2 a svg path,
#mobile-header-1 .top-center .open-menu2 a svg g,
#mobile-header-2 .top-center .open-menu2 a svg g,
#mobile-header-3 .top-center .open-menu2 a svg g {
  fill: #fff !important;
}
#mobile-header-1 .top-center .open-account a svg path,
#mobile-header-2 .top-center .open-account a svg path,
#mobile-header-3 .top-center .open-account a svg path,
#mobile-header-1 .top-center .open-account a svg circle,
#mobile-header-2 .top-center .open-account a svg circle,
#mobile-header-3 .top-center .open-account a svg circle,
#mobile-header-1 .top-center .open-account a svg g,
#mobile-header-2 .top-center .open-account a svg g,
#mobile-header-3 .top-center .open-account a svg g,
#mobile-header-1 .top-center .open-wishlist a svg path,
#mobile-header-2 .top-center .open-wishlist a svg path,
#mobile-header-3 .top-center .open-wishlist a svg path,
#mobile-header-1 .top-center .open-wishlist a svg g,
#mobile-header-2 .top-center .open-wishlist a svg g,
#mobile-header-3 .top-center .open-wishlist a svg g,
#mobile-header-1 .top-center .open-wishlist a svg circle,
#mobile-header-2 .top-center .open-wishlist a svg circle,
#mobile-header-3 .top-center .open-wishlist a svg circle {
  stroke: #fff !important;
}
#mobile-header-1 .top-bottom .open-menu2 span,
#mobile-header-2 .top-bottom .open-menu2 span,
#mobile-header-3 .top-bottom .open-menu2 span {
  color: #fff;
}
#mobile-header-1 .top-bottom .open-menu2 svg path,
#mobile-header-2 .top-bottom .open-menu2 svg path,
#mobile-header-3 .top-bottom .open-menu2 svg path,
#mobile-header-1 .top-bottom .open-menu2 svg g,
#mobile-header-2 .top-bottom .open-menu2 svg g,
#mobile-header-3 .top-bottom .open-menu2 svg g {
  fill: #fff !important;
}
#mobile-header-1 .top-bottom .right .social-links li a,
#mobile-header-2 .top-bottom .right .social-links li a,
#mobile-header-3 .top-bottom .right .social-links li a {
  color: #fff;
}
#mobile-header-1 .top-bottom .right .social-links li a:hover,
#mobile-header-2 .top-bottom .right .social-links li a:hover,
#mobile-header-3 .top-bottom .right .social-links li a:hover {
  color: #fff;
}
.megamenu .furniture1-categories {
  padding: 0px 0px 25px 0px;
}
.furniture1-categories {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .furniture1-categories {
    padding-top: 15px;
  }
}
.furniture1-categories .d-flex {
  overflow-x: scroll;
}
.furniture1-categories .item {
  width: 130px;
  min-width: 130px;
  text-align: center;
  padding-top: 25px;
}
.furniture1-categories .item:first-child {
  margin-left: auto;
}
.furniture1-categories .item:last-child {
  margin-right: auto;
}
.furniture1-categories .item span {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 14px;
}
.desktop-menu ul.megamenu > li > .sub-menu.full-width-sub-menu .content {
  margin: 0px;
  padding: 20px 40px 30px 40px;
}
@media (max-width: 991px) {
  .desktop-menu ul.megamenu > li > .sub-menu.full-width-sub-menu .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.furniture1-rooms-menu {
  margin: -20px -40px -30px -40px;
  position: relative;
}
@media (max-width: 991px) {
  .furniture1-rooms-menu {
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 767px) {
  .furniture1-rooms-menu {
    margin: -20px;
  }
  .furniture1-rooms-menu > .d-flex {
    flex-wrap: wrap;
  }
}
.furniture1-rooms-menu .menu-left {
  width: 260px;
  min-width: 260px;
  background: #e6e6e6;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-left {
    min-width: 40%;
    width: 40%;
    display: none;
  }
}
.furniture1-rooms-menu .menu-left ul {
  padding: 0px;
  margin: 0px;
  display: block;
  list-style: none;
}
.furniture1-rooms-menu .menu-left ul li {
  border-bottom: 1px solid #ced4e0;
}
.furniture1-rooms-menu .menu-left ul li.active {
  background: #fff;
  border-color: #fff;
}
.furniture1-rooms-menu .menu-left ul li a {
  display: flex;
  padding: 10px 30px 10px 40px;
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-left ul li a {
    padding-left: 10px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-left ul li a img {
    width: 20px;
  }
}
.furniture1-rooms-menu .menu-left ul li a span {
  margin: auto 0px auto 15px;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-left ul li a span {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-left + .menu-right {
    border-top: none;
  }
}
.furniture1-rooms-menu .menu-right {
  width: 100%;
  display: none;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.furniture1-rooms-menu .menu-right.active {
  display: block;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .for-mobile + *,
  .furniture1-rooms-menu .menu-right .for-mobile + * + *,
  .furniture1-rooms-menu .menu-right .for-mobile + * + * + *,
  .furniture1-rooms-menu .menu-right .for-mobile + * + * + * + *,
  .furniture1-rooms-menu .menu-right .for-mobile + * + * + * + * + * {
    display: none !important;
  }
  .furniture1-rooms-menu .menu-right .for-mobile.active + *,
  .furniture1-rooms-menu .menu-right .for-mobile.active + * + *,
  .furniture1-rooms-menu .menu-right .for-mobile.active + * + * + *,
  .furniture1-rooms-menu .menu-right .for-mobile.active + * + * + * + *,
  .furniture1-rooms-menu .menu-right .for-mobile.active + * + * + * + * + * {
    display: block !important;
  }
}
.furniture1-rooms-menu .menu-right .for-mobile {
  display: none;
  position: relative;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .for-mobile {
    display: block;
    margin: -10px -20px;
    position: relative;
    padding: 0px 40px 0px 20px;
  }
}
.furniture1-rooms-menu .menu-right .for-mobile a {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  min-height: 40px;
  padding: 0px 0px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.furniture1-rooms-menu .menu-right .for-mobile a p {
  width: 40px;
  padding: 0px 10px 0px 0px;
  margin: 0px;
}
.furniture1-rooms-menu .menu-right .for-mobile a p img {
  max-width: 100%;
}
.furniture1-rooms-menu .menu-right .for-mobile .close-categories {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  cursor: pointer;
}
.furniture1-rooms-menu .menu-right .for-mobile.active .close-categories:before {
  content: "-";
  font-family: Arial;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  padding: 0px 18px;
}
.furniture1-rooms-menu .menu-right .for-mobile .open-categories {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  cursor: pointer;
}
.furniture1-rooms-menu .menu-right .for-mobile.active .open-categories {
  display: none !important;
}
.furniture1-rooms-menu .menu-right .for-mobile .open-categories:before {
  content: "+";
  font-family: Arial;
  font-weight: 300;
  font-size: 24px;
  line-height: 46px;
  padding: 0px 17px;
}
.furniture1-rooms-menu .menu-right .menu-left1 {
  width: 59%;
  width: 100%;
}
@media (max-width: 1450px) {
  .furniture1-rooms-menu .menu-right .menu-left1 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .menu-left1 {
    background: none !important;
  }
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 {
  width: 53%;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 {
    width: 100%;
  }
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul {
  display: flex;
  list-style: none;
  padding: 0px 0px 30px 30px;
  margin: 0px;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul {
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
  }
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul > li {
  width: 50%;
  padding-right: 30px;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul > li {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul > li > a {
  font-size: 14px;
  color: #666666;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul > li ul {
  padding: 13px 0px 0px 0px;
  margin: 0px;
  list-style: none;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-left2 > ul > li ul li a {
  color: #000;
  font-size: 14px;
  line-height: 30px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 {
  width: 47%;
}
@media (max-width: 767px) {
  .furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 {
    display: none;
  }
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .products {
  padding: 30px 30px 30px 0px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .products h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .products a {
  display: block;
  margin: 30px 0px 0px 0px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .products a p {
  padding: 0px;
  margin: 0px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .products a .name {
  padding-top: 10px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .products a .price {
  font-weight: 600;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 {
  height: 472px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2.blue .banner-content p {
  color: #191919;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: center;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-content p {
  padding: 0px;
  margin: 0px;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 1199px) {
  .furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-content p {
    font-size: 32px;
  }
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  padding: 9px 40px 8px 40px;
  font-size: 13px;
  margin-top: 25px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-product {
  position: absolute;
  left: 60px;
  bottom: 70px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-product.top {
  bottom: auto;
  top: 30px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-product .name {
  font-size: 24px;
  color: #4c4c4c;
  font-weight: 300;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-product .btn {
  background: #191919 !important;
  color: #fff !important;
  padding: 9px 40px 8px 40px;
  font-size: 13px;
  margin-top: 20px;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-product .price {
  font-size: 25px;
  color: #ff711f;
  font-weight: 600;
}
.furniture1-rooms-menu .menu-right .menu-left1 .menu-right2 .menu-banner-2 .banner-product .price .price-old {
  color: #808080;
  font-weight: 300;
  text-decoration: line-through;
  padding-right: 5px;
}
.furniture1-rooms-menu .menu-right .menu-right1 {
  width: 41%;
  display: none;
}
@media (max-width: 1450px) {
  .furniture1-rooms-menu .menu-right .menu-right1 {
    display: none;
  }
}
.furniture1-rooms-menu .menu-right .menu-right1 .menu-banner-1 {
  height: 472px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.furniture1-rooms-menu .menu-right .menu-right1 .menu-banner-1 .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: center;
}
.furniture1-rooms-menu .menu-right .menu-right1 .menu-banner-1 .banner-content p {
  padding: 0px;
  margin: 0px;
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.furniture1-rooms-menu .menu-right .menu-right1 .menu-banner-1 .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  padding: 9px 40px 8px 40px;
  font-size: 13px;
  margin-top: 15px;
}
.breadcrumb {
  margin-top: 15px;
}
.common-home .main-content .pattern > .container,
.common-home .standard-body .main-content .pattern > .container {
  padding-bottom: 0px;
}
.standard-body .footer .background {
  background: #d9d9d9;
}
.footer .background {
  background: #d9d9d9;
  color: #808080;
}
.footer .background a {
  color: #000000;
}
.footer .background a:hover {
  color: #000000;
}
.footer .background h4 {
  color: #666666;
  text-transform: none;
}
.footer .background .footer-newsletter h5 {
  color: #000;
  font-size: 30px;
}
@media (max-width: 991px) {
  .footer .background .footer-newsletter h5 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter h5 {
    font-size: 24px;
  }
}
.footer .background .footer-newsletter h5 span {
  font-size: 17px;
  color: #000;
  font-weight: 300;
  text-transform: none;
  display: block;
}
@media (max-width: 767px) {
  .footer .background .footer-newsletter h5 span {
    font-size: 15px;
  }
}
.footer .background .footer-newsletter .line {
  background: rgba(0, 0, 0, 0.1);
}
.footer .background .footer-newsletter .content {
  background: #d9d9d9;
}
.footer .background .footer-newsletter .content input {
  background: #fff;
  color: #000;
}
.footer .background .footer-newsletter .content .button {
  background: #ff711f !important;
  color: #fff !important;
  font-size: 13px;
  padding: 11px 40px 9px 40px;
}
.footer .background .footer-newsletter .checkbox label .custom-control-indicator {
  background: #fff;
}
.footer .background .footer-newsletter .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
  color: #ff711f;
}
.footer .background .furniture5-services {
  padding-top: 60px;
  margin-bottom: -20px;
  position: relative;
}
@media (max-width: 767px) {
  .footer .background .furniture5-services {
    padding-top: 20px;
    margin-bottom: 0px;
  }
}
.footer .background .furniture5-services .row {
  margin: 0px -10px;
}
.footer .background .furniture5-services .row > div {
  padding: 0px 10px;
}
.footer .background .furniture5-services .item {
  margin: 20px 0px 0px 0px;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.footer .background .furniture5-services .item span {
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  padding-left: 20px;
  display: block;
}
@media (max-width: 767px) {
  .footer .background .furniture5-services .item span {
    font-size: 13px;
  }
}
.footer .background .about-us {
  padding-top: 80px;
}
@media (max-width: 767px) {
  .footer .background .about-us {
    padding-top: 40px;
    text-align: center;
  }
}
.footer .background .about-us img {
  margin-bottom: 15px;
}
.footer .background .about-us p {
  padding: 20px 0px 0px 0px;
  font-size: 13px;
  line-height: 19px;
}
.footer .background .about-us p span {
  color: #000;
}
.footer .background .about-us .social-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 22px 0px 0px 0px;
  margin: 0px;
}
.footer .background .about-us .social-links li {
  margin: 0px 23px 0px 0px;
}
@media (max-width: 767px) {
  .footer .background .about-us .social-links li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer .background .about-us .social-links li:first-child {
    margin-left: auto;
  }
  .footer .background .about-us .social-links li:last-child {
    margin-right: auto;
  }
}
.footer .background .about-us .social-links li a {
  color: #000;
  font-size: 17px;
}
.footer .background .about-us .social-links li a:hover {
  color: #000;
}
.footer .background .open-footer-menu .icon span {
  background: #000;
}
.footer .background .open-footer-menu .text {
  color: #000;
}
.footer .background ul li a {
  text-transform: none;
}
.standard-body .copyright .background {
  background: #d9d9d9;
}
.copyright .background {
  background: #d9d9d9;
}
.copyright .pattern {
  color: #666666;
}
.copyright .pattern a {
  color: #666666;
}
.copyright .pattern a:hover {
  color: #666666;
}
.copyright .pattern > .container > p {
  display: none;
}
.copyright .furniture4-copyright .payment {
  padding-top: 14px;
}
.copyright .furniture4-copyright .payment a {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-right: 7px;
}
hr {
  margin: 74px 0px 0px 0px;
  border-top-color: #e5e5e5;
}
@media (max-width: 767px) {
  hr {
    margin-top: 40px;
  }
}
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link:hover {
  color: #191919;
}
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
  background: #191919 !important;
}
.common-home .main-content .row {
  margin: 0px -10px;
}
.common-home .main-content .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.furniture8-notice {
  background: #000;
  background-position: top center;
  background-repeat: repeat;
  margin: -15px -2000px -15px -2000px;
  padding: 20px 2000px 20px 2000px;
  text-align: left;
}
@media (max-width: 767px) {
  .furniture8-notice {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-size: cover;
  }
}
.furniture8-notice .text-1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: top;
  color: #fff;
}
@media (max-width: 1280px) {
  .furniture8-notice .text-1 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .furniture8-notice .text-1 {
    font-size: 14px;
  }
}
.furniture8-notice .btn {
  display: inline-block;
  background: #fff !important;
  color: #000 !important;
  padding: 6px 20px 5px 20px !important;
  vertical-align: top;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 35px;
  margin-right: 35px;
}
@media (max-width: 767px) {
  .furniture8-notice .btn {
    margin: 0px 10px;
    padding: 4px 15px !important;
    display: none;
  }
}
.furniture8-notice .text-3 {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  padding-top: 4px;
  color: #ff711f;
}
@media (max-width: 1280px) {
  .furniture8-notice .text-3 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .furniture8-notice .text-3 {
    font-size: 13px;
    display: block;
    margin-top: -4px;
    position: relative;
  }
}
.header-notice a.close-notice {
  background: url(../img/close-notice-3.png) center no-repeat;
}
.slider-text .second-heading {
  font-size: 40px;
  line-height: 45px;
  color: #000;
  font-weight: 300;
  text-transform: none;
}
.slider-text .price {
  font-size: 60px;
  line-height: 60px;
  color: #ff711f;
  font-weight: 600;
  padding: 14px 0px 0px 0px;
}
.slider-text .slider-button {
  padding: 21px 0px 0px 0px;
  margin: 0px;
}
.slider-text .slider-button a {
  display: inline-block;
  background: #000000 !important;
  color: #fff !important;
  padding: 13px 45px 12px 45px;
  font-size: 16px;
}
.slider-text ul {
  list-style: none;
  padding: 32px 0px 0px 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 25px;
  color: #4c4c4c;
}
.slider-text ul li i {
  color: #ff711f;
  margin-right: 10px;
  display: inline-block;
}
.slider-bar {
  color: #000;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.slider-bar span {
  color: #fc7021;
}
.furniture9-banners-1 {
  padding: 60px 0px 0px 0px;
}
@media (max-width: 767px) {
  .furniture9-banners-1 {
    padding: 20px 0px 0px 0px;
  }
}
.furniture9-banners-1 .banner {
  margin: 20px 0px 0px 0px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 430px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .furniture9-banners-1 .banner {
    height: 280px;
  }
}
.furniture9-banners-1 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.furniture9-banners-1 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.furniture9-banners-1 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.furniture9-banners-1 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.furniture9-banners-1 .banner .banner-content {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: left;
}
@media (max-width: 1098px) {
  .furniture9-banners-1 .banner .banner-content {
    left: 50px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-1 .banner .banner-content {
    left: 30px;
  }
}
.furniture9-banners-1 .banner .banner-content h3 {
  color: #ff711f;
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .furniture9-banners-1 .banner .banner-content h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-1 .banner .banner-content h3 {
    font-size: 21px;
  }
}
.furniture9-banners-1 .banner .banner-content h4 {
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 8px 0px 0px 0px;
  margin: 0px;
}
@media (max-width: 1098px) {
  .furniture9-banners-1 .banner .banner-content h4 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-1 .banner .banner-content h4 {
    font-size: 36px;
  }
}
.furniture9-banners-1 .banner .banner-content .btn {
  background: #000 !important;
  color: #fff !important;
  font-size: 13px;
  padding: 8px 32px 8px 32px;
  margin: 14px 0px 0px 0px;
}
.furniture9-banners-2 .banner {
  margin: 20px 0px 0px 0px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 170px;
  overflow: hidden;
}
.furniture9-banners-2 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.furniture9-banners-2 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.furniture9-banners-2 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.furniture9-banners-2 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.furniture9-banners-2 .banner .banner-content {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: left;
}
@media (max-width: 1098px) {
  .furniture9-banners-2 .banner .banner-content {
    left: 30px;
  }
}
.furniture9-banners-2 .banner .banner-content h3 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
.furniture9-banners-2 .banner .banner-content .btn {
  background: none !important;
  color: #808080 !important;
  padding: 0px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 12px 0px 0px 0px;
}
.furniture9-home-bottom {
  margin-top: 80px !important;
}
@media (max-width: 767px) {
  .furniture9-home-bottom {
    margin-top: 40px !important;
  }
}
.furniture9-home-bottom > div {
  padding-bottom: 70px !important;
}
@media (max-width: 767px) {
  .furniture9-home-bottom > div {
    padding-bottom: 40px !important;
  }
}
.furniture9-banners-3 {
  padding: 0px;
  margin: -20px 0px 0px 0px;
  position: relative;
}
.furniture9-banners-3 .banner {
  margin: 20px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  height: 390px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner {
    height: 220px;
  }
}
.furniture9-banners-3 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.furniture9-banners-3 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.furniture9-banners-3 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.furniture9-banners-3 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.furniture9-banners-3 .banner.small {
  height: 185px;
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner.small {
    height: 150px;
  }
}
.furniture9-banners-3 .banner.small .banner-content {
  left: 40px;
}
@media (max-width: 1098px) {
  .furniture9-banners-3 .banner.small .banner-content {
    left: 30px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner.small .banner-content {
    left: 25px;
  }
}
.furniture9-banners-3 .banner.small .banner-content h3 {
  font-size: 25px;
}
@media (max-width: 1098px) {
  .furniture9-banners-3 .banner.small .banner-content h3 {
    font-size: 21px;
  }
}
@media (max-width: 991px) {
  .furniture9-banners-3 .banner.small .banner-content h3 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner.small .banner-content h3 {
    font-size: 17px;
  }
}
.furniture9-banners-3 .banner.small .banner-content .btn {
  font-size: 11px;
  padding: 5px 15px 4px 15px;
  margin: 15px 0px 0px 0px;
}
.furniture9-banners-3 .banner.small2 .banner-content {
  left: 50px;
  bottom: 50px;
  top: auto;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
}
@media (max-width: 1098px) {
  .furniture9-banners-3 .banner.small2 .banner-content {
    left: 40px;
    bottom: 40px;
  }
}
@media (max-width: 991px) {
  .furniture9-banners-3 .banner.small2 .banner-content {
    left: 30px;
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner.small2 .banner-content {
    left: 25px;
    bottom: 25px;
  }
}
.furniture9-banners-3 .banner.small2 .banner-content h3 {
  font-size: 30px;
}
@media (max-width: 1098px) {
  .furniture9-banners-3 .banner.small2 .banner-content h3 {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .furniture9-banners-3 .banner.small2 .banner-content h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner.small2 .banner-content h3 {
    font-size: 21px;
  }
}
.furniture9-banners-3 .banner.small2 .banner-content .btn {
  font-size: 11px;
  padding: 5px 15px 4px 15px;
  margin: 15px 0px 0px 0px;
}
.furniture9-banners-3 .banner .banner-content {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: left;
}
@media (max-width: 1098px) {
  .furniture9-banners-3 .banner .banner-content {
    left: 50px;
  }
}
@media (max-width: 991px) {
  .furniture9-banners-3 .banner .banner-content {
    left: 40px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner .banner-content {
    left: 25px;
  }
}
.furniture9-banners-3 .banner .banner-content h3 {
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 1098px) {
  .furniture9-banners-3 .banner .banner-content h3 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .furniture9-banners-3 .banner .banner-content h3 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .furniture9-banners-3 .banner .banner-content h3 {
    font-size: 24px;
  }
}
.furniture9-banners-3 .banner .banner-content .btn {
  background: #fff !important;
  color: #000 !important;
  padding: 8px 30px 8px 30px;
  font-size: 13px;
  margin: 17px 0px 0px 0px;
}
.furniture9-shop-by-category {
  padding: 0px 0px 0px 0px;
  position: relative;
  margin: -30px 0px 0px 0px;
}
.furniture9-shop-by-category .item {
  padding: 30px 0px 0px 0px;
}
.furniture9-shop-by-category .item > a {
  display: block;
}
.furniture9-shop-by-category .item > a span {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 0px 0px 0px;
}
.furniture9-shop-by-category .item ul {
  list-style: none;
  padding: 16px 0px 0px 0px;
  margin: 0px;
}
.furniture9-shop-by-category .item ul li a {
  font-size: 14px;
  line-height: 30px;
  color: #666666;
}
.furniture9-shop-by-category .item ul li a:hover {
  color: #000;
}
.box-best-way .box-heading {
  line-height: 1;
  padding-top: 3px;
}
.box-best-way .box-content {
  margin-top: -11px;
  position: relative;
}
.box-best-way .item {
  padding-top: 25px;
}
.box-best-way .item .icon {
  width: 55px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .box-best-way .item .icon {
    margin-left: auto;
  }
}
.box-best-way .item .icon img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .box-best-way .item .text {
    margin-right: auto;
    width: 200px;
  }
}
.box-best-way .item .text h3 {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 17px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.box-best-way .item .text h3 span {
  color: #ff711f;
}
.box-best-way .item .text p {
  color: #4c4c4c;
  font-weight: 300;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
/* 28.12.2019 */
/* colors */
#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
  color: #ff711f;
}
.post-entry .post-content .quote {
  border-left-color: #ff711f;
}
.bar3 .item .icon svg path,
.bar3 .item .icon svg g {
  fill: #ff711f !important;
}
/* header 5 */
header #top-bar .right #cart_block {
  background: #ff711f;
}
header #top-bar .right #cart_block .cart-heading .open-cart svg path,
header #top-bar .right .wishlist svg path,
header #top-bar .right #cart_block .cart-heading .open-cart svg g,
header #top-bar .right .wishlist svg g {
  fill: transparent !important;
  stroke: #fff !important;
}
/* Header 6 */
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg path,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg g {
  fill: transparent !important;
  stroke: #ff711f !important;
}
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
  background: #ff711f;
}
header .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #fff;
  color: #000;
}
/* header 12 */
#top .top-center .right .desktop-search .search_form .search-cat {
  background: #ff711f;
}
/* header 14 */
#top .top-center .desktop-search .search_form .search-cat {
  background: #ff711f;
}
/* Header 17 */
#slider .desktop-search .search_form {
  border-color: #ff711f;
}
/* Black header */
header.header-type-6 .slider-header #top .menu2 {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 > * {
  border-color: rgba(255, 255, 255, 0.15);
}
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg path,
header.header-type-6 .slider-header #top .menu2 .my-account svg path,
header.header-type-6 .slider-header #top .menu2 .wishlist svg path,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg g,
header.header-type-6 .slider-header #top .menu2 .my-account svg g,
header.header-type-6 .slider-header #top .menu2 .wishlist svg g,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg circle,
header.header-type-6 .slider-header #top .menu2 .my-account svg circle,
header.header-type-6 .slider-header #top .menu2 .wishlist svg circle,
header.header-type-6 .slider-header #top .menu2 .desktop-search .open-search a svg line,
header.header-type-6 .slider-header #top .menu2 .my-account svg line,
header.header-type-6 .slider-header #top .menu2 .wishlist svg line {
  fill: transparent !important;
  stroke: #fff !important;
}
header.header-type-6 .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #fff;
  color: #000;
}
header.header-type-6 .slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
header.header-type-6 .slider-header #top .bottom .social-links li a {
  color: #fff;
}
header.header-type-8 .slider-header #top-bar {
  border: none;
}
header .slider-header #top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}
header .slider-header #top-bar a {
  color: #fff;
}
header .slider-header #top-bar .dropdown-menu a {
  color: #000;
}
header .slider-header #top-bar .left .social-links li a {
  color: #fff;
}
header .slider-header #top-bar .left .social-links li a:hover {
  color: #fff;
}
header .slider-header #top-bar .right ul.menu,
header .slider-header #top-bar .right .welcome-text {
  border-color: rgba(255, 255, 255, 0.15);
}
header .slider-header .top-center .right .desktop-search .open-search a svg circle,
header .slider-header .top-center .right .desktop-search .open-search a svg line,
header .slider-header .top-center .right .desktop-search .open-search a svg path,
header .slider-header .top-center .right .desktop-search .open-search a svg g {
  fill: transparent !important;
  stroke: #fff !important;
}
header .slider-header .top-center .right .dropdown .dropdown-toggle {
  color: #fff;
}
