a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #ff711f;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #ff711f;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #ff711f;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #ff711f !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #ff711f !important;
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #ff711f;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #ff711f !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #ff711f;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}

.product-grid .product .price .price-new {
	color: #ff711f;
}

.new:not(.day) {
	background: #0046c3;
}

.sale {
	background: #ff711f;
}

.product-grid .product .image .add-to-cart a {
	background: #0046c3;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-filter {
	z-index: 2;
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Montserrat;
	font-size: 14px;
}

.breadcrumb {
	margin-top: 15px;
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 40px;
}

.common-home .main-content .pattern > .container, .common-home .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	.background {
		background: #fff;
	}
	.pattern {
		color: #000000;
		a {
			color: #000000;
			&:hover {
				color: #000000;
				text-decoration: underline;
			}
		}
	}
	.footer-newsletter-2 {
		padding-top: 75px;
		padding-bottom: 79px;
		border-bottom: 1px solid #e5e5e5;
		margin: 0px -2000px;
		padding: 75px 2000px 79px 2000px;
		position: relative;
		@media (max-width: 767px) {
			padding: 40px 2000px;
		}
		.row {
			margin: 0px;
			flex-wrap: nowrap;
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
			> div {
			    -ms-flex: 0 0 auto;
			    flex: 0 0 auto;
			    max-width: 50%;
			    padding: 0px 15px;
			    margin: 0px;
			    width: auto;
			    @media (max-width: 767px) {
			    	width: 100%;
			    	max-width: 100%;
			    	padding: 0px;
			    }
			    &:first-child {
			    	margin-left: auto;
			    }
			    &:last-child {
			    	margin-right: auto;
			    }
			}
		}
		h5 {
			font-size: 30px;
			font-weight: 600;
			color: #000;
			text-transform: uppercase;
			padding-top: 7px;
			@media (max-width: 991px) {
				font-size: 24px;
			}
		}	
		p {
			display: none;
		}
		.content {
			margin: 0px;
			background: none;
			position: relative;
			z-index: 2;
			padding-top: 0px;
			@media (max-width: 767px) {
				max-width: 100%;
				background: none;
			}
			input {
				margin-left: auto;
				margin-right: 10px;
				background: #e6e6e6;
				color: #808080;
				width: 382px;
				@media (max-width: 767px) {
					width: 100%;
				}
				&:focus {
					background: #e6e6e6;
				}
			}
			.button {
				margin-right: auto;
				background: #000 !important;
				color: #fff !important;
				font-size: 13px !important;
				padding: 11px 38px 9px 38px;
			}
		}
		.checkbox {
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 2px;
			label {
				font-size: 13px;
				position: relative;
				cursor: pointer;
				margin: 0px;
				color: #808080;
				a {
					color: #808080;
				}
				.custom-control-indicator {
					position: absolute;
					background: #e6e6e6;
					width: 20px;
					height: 20px;
					display: block;
					left: -30px;
					top: 0px;
				}
				.custom-control-input:checked ~ .custom-control-indicator:before {
					content: "\f00c";
					position: absolute;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					display: block;
					text-align: center;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 20px;
					color: #0046c3;
				}
				a {
					text-decoration: underline;
				}
			}
		}
	}
	h4 {
		color: #666666;
		text-transform: none;
		margin: 78px 0px 18px 0px;
		padding: 0px;
		@media (max-width: 767px) {
			margin-top: 40px;
		}
	}
	.open-footer-menu {
		.icon {
			span {
				background: #000;
			}
		}
		.text {
			color: #000;
		}
	}
	ul {
		li {
			a {
				text-transform: none;
				line-height: 29px;
				font-size: 14px;
			}
		}
	}
}

.standard-body .copyright .background {
	background: #f2f2f2;
}

.copyright {
	.background {
		background: #f2f2f2;
		border-top: 1px solid #f2f2f2;
	}
	.pattern {
		color: #808080;
		padding-top: 38px;
		padding-bottom: 30px;
		@media (max-width: 767px) {
			padding-top: 30px;
		}
		a {
			color: #000000;
			&:hover {
				color: #000000;
			}
		}
	}
	.furniture1-copyright {
		@media (max-width: 767px) {
			.d-flex {
				flex-wrap: wrap;
			}
		}
		.item {
			padding-right: 30px;
			width: 295px;
			padding-top: 0px;
			@media (max-width: 767px) {
				width: 50%;
			}
			&:last-child {
				width: auto;
				@media (max-width: 767px) {
					width: 50%;
				}
			}
			h4 {
				font-size: 14px;
				color: #666666;
				padding-top: 10px;
			}
			ul {
				padding: 9px 0px 14px 0px;
				margin: 0px;
				list-style: none;
				a {
					font-size: 14px;
					line-height: 29px;
					color: #000000;
					&:hover {
						color: #000000;
						text-decoration: underline;
					}
				}
			}
			.about-us {
				padding: 24px 0px 14px 0px;
				p {
					padding: 21px 0px 0px 0px;
					strong {
						font-weight: 400;
						color: #000;
					}
				}
				.social-links {
					display: flex;
					flex-wrap: wrap;
					list-style: none;
					padding: 26px 0px 0px 0px;
					margin: 0px;
					li {
						margin: 0px 24px 0px 0px;
						@media (max-width: 767px) {
							&:first-child {
								margin-left: auto;
							}
							&:last-child {
								margin-right: auto;
							}
						}
						a {
							color: #000;
							font-size: 18px;
							&:hover {
								color: #000;
							}
						}
					}
				}
			}
		}
	}
}

.megamenu {
	.furniture1-categories {
		padding: 0px 0px 25px 0px;
	}
}

.furniture1-categories {
	padding-top: 30px;
	@media (max-width: 767px) {
		padding-top: 15px;
	}
	.d-flex {
		overflow-x: scroll;
	}
	.item {
		width: 130px;
		min-width: 130px;
		text-align: center;
		padding-top: 25px;
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			margin-right: auto;
		}
		span {
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			padding-top: 14px;
		}
	}
}

hr {
	margin: 74px 0px 0px 0px;
	border-top-color: #e5e5e5;
	@media (max-width: 767px) {
		margin-top: 40px;
	}
}

.furniture1-lookbook-heading {
	padding: 70px 0px 0px 0px;
	text-align: center;
	@media (max-width: 767px) {
		padding: 40px 0px 0px 0px;
	}
	h3 {
		font-size: 30px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: 600;
		@media (max-width: 767px) {
			font-size: 18px;
		}
	}
}

.no-paddings-container {
	overflow: visible;
}

.furniture1-lookbook {
	margin: 35px 0px 0px 0px;
	height: 35.2vw;
	position: relative;
	@media (max-width: 767px) {
		margin-top: 20px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.pin .open-pin,
	.pin .pin-content .add-to-cart a {
		background: #0046c3;
	}
}

.furniture1-rooms-menu {
	margin: -20px -40px -30px -40px;
	position: relative;
	@media (max-width: 991px) {
		margin-left: -20px;
		margin-right: -20px;
	}
	@media (max-width: 767px) {
		margin: -20px;
		> .d-flex {
			flex-wrap: wrap;
		}
	}
	.menu-left {
		width: 260px;
		min-width: 260px;
		background: #e5ecf9;
		@media (max-width: 767px) {
			min-width: 40%;
			width: 40%;
			display: none;
		}
		ul {
			padding: 0px;
			margin: 0px;
			display: block;
			list-style: none;
			li {
				border-bottom: 1px solid #ced4e0;
				&.active {
					background: #fff;
					border-color: #fff;
				}
				a {
					display: flex;
					padding: 10px 30px 10px 40px;
					-ms-flex-item-align: center !important;
					align-self: center !important;
					@media (max-width: 767px) {
						padding-left: 10px;
						padding-right: 15px;
					}
					img {
						@media (max-width: 767px) {
							width: 20px;
						}
					}
					span {
						margin: auto 0px auto 15px;
						@media (max-width: 767px) {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
	.menu-left + .menu-right {
		@media (max-width: 767px) {
			border-top: none;
		}
	}
	.menu-right {
		width: 100%;
		display: none;
		@media (max-width: 767px) {
			display: block;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		&.active {
			display: block;
		}
		@media (max-width: 767px) {
			padding: 20px;
		}
		@media (max-width: 767px) {
			.for-mobile + *, .for-mobile + * + *, .for-mobile + * + * + *, .for-mobile + * + * + * + *, .for-mobile + * + * + * + * + * {
				display: none !important;
			}
			.for-mobile.active + *, .for-mobile.active + * + *, .for-mobile.active + * + * + *, .for-mobile.active + * + * + * + *, .for-mobile.active + * + * + * + * + * {
				display: block !important;
			}
		}
		.for-mobile {
			display: none;
			position: relative;
			@media (max-width: 767px) {
				display: block;
				margin: -10px -20px;
				position: relative;
				padding: 0px 40px 0px 20px;
			}
			a {
				display: -ms-flexbox !important;
				display: flex !important;
				-ms-flex-align: center !important;
				align-items: center !important;
				min-height: 40px;
				padding: 0px 0px;
				font-size: 15px;
				font-weight: 600;
				text-decoration: none;
				p {
					width: 40px;
					padding: 0px 10px 0px 0px;
					margin: 0px;
					img {
						max-width: 100%;
					}
				}
			}
			.close-categories {
				display: block !important;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				cursor: pointer;
			}
			&.active .close-categories:before {
				content: "-";
				font-family: Arial;
				font-weight: 300;
				font-size: 36px;
				line-height: 42px;
				padding: 0px 18px;
			}
			.open-categories {
				display: block !important;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				cursor: pointer;
			}
			&.active .open-categories {
				display: none !important;
			}
			.open-categories:before {
				content: "+";
				font-family: Arial;
				font-weight: 300;
				font-size: 24px;
				line-height: 46px;
				padding: 0px 17px;
			}
		}
		.menu-left1 {
			width: 100%;
			@media (max-width: 1450px) {
				width: 100%;
			}
			@media (max-width: 767px) {
				background: none !important;
			}
			.menu-left2 {
				width: 53%;
				@media (max-width: 767px) {
					width: 100%;
				}
				> ul {
					display: flex;
					list-style: none;
					padding: 0px 0px 30px 30px;
					margin: 0px;
					@media (max-width: 767px) {
						flex-wrap: wrap;
						padding: 10px 0px 10px 0px;
					}
					> li {
						width: 50%;
						padding-right: 30px;
						padding-top: 30px;
						@media (max-width: 767px) {
							width: 100%;
							padding: 20px 0px 0px 0px;
						}
						> a {
							font-size: 14px;
							color: #666666;
						}
						ul {
							padding: 13px 0px 0px 0px;
							margin: 0px;
							list-style: none;
							li {
								a {
									color: #000;
									font-size: 14px;
									line-height: 30px;
								}
							}
						}
					}
				}
			}
			.menu-right2 {
				width: 47%;
				@media (max-width: 767px) {
					display: none;
				}
				.products {
					padding: 30px 30px 30px 0px;
					h3 {
						font-size: 30px;
						font-weight: 600;
						text-transform: uppercase;
					}
					a {
						display: block;
						margin: 30px 0px 0px 0px;
						p {
							padding: 0px;
							margin: 0px;
						}
						.name {
							padding-top: 10px;
						}
						.price {
							font-weight: 600;
						}
					}
				}
				.menu-banner-2 {
					height: 472px;
					background-size: cover;
					background-position: center;
					position: relative;
					&.blue {
						.banner-content {
							p {
								color: #0046c3;
							}
						}
					}
					.banner-content {
						position: absolute;
						left: 0;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						text-align: center;
						p {
							padding: 0px;
							margin: 0px;
							font-size: 40px;
							line-height: 1;
							text-transform: uppercase;
							font-weight: 600;
							color: #fff;
							@media (max-width: 1199px) {
								font-size: 32px;
							}
						}
						.btn {
							background: #fff !important;
							color: #000 !important;
							padding: 9px 40px 8px 40px;
							font-size: 13px;
							margin-top: 25px;
						}
					}
					.banner-product {
						position: absolute;
						left: 60px;
						bottom: 70px;
						&.top {
							bottom: auto;
							top: 30px;
						}
						.name {
							font-size: 24px;
							color: #4c4c4c;
							font-weight: 300;
						}
						.btn {
							background: #0046c3 !important;
							color: #fff !important;
							padding: 9px 40px 8px 40px;
							font-size: 13px;
							margin-top: 20px;
						}
						.price {
							font-size: 25px;
							color: #ff711f;
							font-weight: 600;
							.price-old {
								color: #808080;
								font-weight: 300;
								text-decoration: line-through;
								padding-right: 5px;
							}
						}
					}
				}
			}
		}
		.menu-right1 {
			width: 41%;
			display: none;
			@media (max-width: 1450px) {
				display: none;
			}
			.menu-banner-1 {
				height: 472px;
				background-size: cover;
				background-position: center;
				position: relative;
				.banner-content {
					position: absolute;
					left: 0;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					text-align: center;
					p {
						padding: 0px;
						margin: 0px;
						font-size: 50px;
						line-height: 1;
						text-transform: uppercase;
						font-weight: 600;
						color: #fff;
					}
					.btn {
						background: #fff !important;
						color: #000 !important;
						padding: 9px 40px 8px 40px;
						font-size: 13px;
						margin-top: 15px;
					}
				}
			}
		}
	}
}

#top .top-center .right .wishlist .wishlist-count,
#mobile-header-3 .top-center .open-wishlist a .wishlist-count,
.bottom-bar .open-wishlist a .wishlist-count {
	background: #000;
}

.bottom-bar .open-wishlist a svg path,
.bottom-bar .open-wishlist a svg g,
.bottom-bar .open-account a svg path,
.bottom-bar .open-account a svg g,
.bottom-bar .open-account a svg circle {
	fill: none !important;
	stroke: #fff !important;
}

.bottom-bar .open-wishlist a svg,
.bottom-bar .open-account a svg,
.bottom-bar .open-cart a svg {
	width: 24px;
	height: 24px;
}

#top .top-center .right #cart_block .cart-heading .open-cart svg path,
.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path,
#mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path,
#mobile-header-3 .top-center .open-cart a svg g {
	fill: none !important;
	stroke: #ff711f !important;
}

#top .top-center .right #cart_block .cart-heading .cart-count {
	background: #ff711f;
}

.desktop-menu ul.megamenu > li > .sub-menu.full-width-sub-menu .content {
	margin: 0px;
	padding: 20px 40px 30px 40px;
	@media (max-width: 991px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.desktop-menu ul.megamenu > li > a {
	padding-top: 10px;
	.megamenu-label {
		top: -5px;
	}
	strong {
		text-transform: none;
		font-weight: 600;
	}
}

.desktop-menu ul.megamenu > li.furniture3-shop-by-room > a  {
	background: #0046c3;
	color: #fff;
	padding: 11px 30px 10px 50px;
	min-width: 265px;
	margin-right: 5px;
	position: relative;
	&:before {
		display: none;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 20px;
		top: 17px;
		width: 16px;
		height: 4px;
		background: #fff;
	}
	span:after {
		content: '';
		display: block;
		position: absolute;
		left: 20px;
		top: 23px;
		width: 16px;
		height: 4px;
		background: #fff;
	}
	span:before {
		content: '';
		display: block;
		position: absolute;
		left: 20px;
		top: 29px;
		width: 16px;
		height: 4px;
		background: #fff;
	}
}

.furniture1-rooms-menu .menu-left {
	@media (min-width: 768px) {
		width: 265px;
		min-width: 265px;
	}
}

.is-sticky #top .desktop-menu .horizontal {
	padding-top: 10px !important;
}

.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a {
	height: 50px;
}

.is-sticky #top .desktop-menu .horizontal ul.megamenu > li > a .megamenu-label {
	top: -5px;
}

.slider-text {
	.first-heading {
		color: #ff711f;
	}
	.second-heading {
		font-size: 60px;
	}
	.slider-button {
		a {
			background: #fff;
			color: #000;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	&.black {
		.second-heading {
			color: #000;
		}
		.slider-button {
			a {
				background: #000;
				color: #fff;
			}
		}
	}
}

#top-bar .left .social-links li a {
	color: #000;
}

.furniture3-notice {
	background: #000;
	background-position: top center;
	background-repeat: no-repeat;
	margin: -15px -2000px -15px -2000px;
	padding: 20px 2000px 20px 2000px;
	text-align: center;
	@media (max-width: 767px) {
		margin-top: -10px;
		margin-bottom: -10px;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-size: cover;
	}
	.text-1 {
		display: inline-block;
		font-size: 25px;
		font-weight: 300;
		text-transform: uppercase;
		vertical-align: top;
		@media (max-width: 1280px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	.text-2 {
		display: inline-block;
		font-size: 25px;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		padding-left: 7px;
		vertical-align: top;
		@media (max-width: 1280px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	.btn {
		display: inline-block;
		background: #fff !important;
		color: #000 !important;
		padding: 6px 20px 5px 20px !important;
		vertical-align: top;
		font-size: 13px;
		margin-top: 4px;
		margin-left: 35px;
		margin-right: 35px;
		@media (max-width: 767px) {
			margin: 0px 10px;
			padding: 4px 15px !important;
			display: none;
		}
	}
	.text-3 {
		display: inline-block;
		vertical-align: top;
		font-size: 20px;
		font-weight: 300;
		padding-top: 4px;
		@media (max-width: 1280px) {
			font-size: 16px;
		}
		@media (max-width: 767px) {
			font-size: 13px;
			display: block;
			margin-top: -4px;
			position: relative;
		}
	}
}

.header-notice {
	a.close-notice {
		background: url(../img/close-notice-3.png) center no-repeat;
	}
}

.furniture3-services {
	.row {
		margin: 0px -10px;
		> div {
			padding: 0px 10px;
		}
	}
	.item {
		margin: 20px 0px 0px 0px;
		background: #e1e7f0;
		text-align: center;
		padding: 17px 20px 24px 20px;
		span {
			display: block;
			font-size: 15px;
			line-height: 16px;
			font-weight: 600;
			text-transform: uppercase;
			padding-top: 15px;
			@media (max-width: 767px) {
				font-size: 14px;
				line-height: 1;
			}
		}
	}
}

.furniture3-banners-1 {
	.row {
		margin: 0px -10px;
		> div {
			padding: 0px 10px;
		}
	}
	.banner {
		margin: 20px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 340px;
		position: relative;
		text-align: center;
		overflow: hidden;
		@media (max-width: 767px) {
			margin-top: 20px;
			height: 200px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			padding-top: 40px;
			@media (max-width: 1199px) {
				padding-top: 20px;
			}
			h3 {
				font-size: 40px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				font-weight: 600;
				@media (max-width: 1199px) {
					font-size: 28px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 40px 8px 40px;
				font-size: 13px !important;
				margin-top: 20px;
				@media (max-width: 1199px) {
					margin-top: 10px;
				}
			}
		}
	}
	.col-md-12 {
		.banner {
			height: 260px;
			@media (max-width: 767px) {
				height: 160px;
			}
			.banner-content {
				padding-top: 0px;
				left: 0;
				right: 50%;
				text-align: center;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				width: auto;
				@media (max-width: 767px) {
					right: 35%;
				}
			}
		}
	}
}

.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link:hover {
	color: #0046c3;
}

.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #0046c3 !important;
}

.blog-posts2 {
	.item {
		position: relative;
		.image {
			img {
				height: 386px;
				object-fit: cover;
				@media (max-width: 991px) {
					height: 320px;
				}
				@media (max-width: 767px) {
					height: 240px;
				}
			}
		}
		.item-content {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 390px;
			background: #0046c3;
			padding: 50px;
			@media (max-width: 991px) {
				padding: 35px;
				width: 300px;
			}
			@media (max-width: 767px) {
				padding: 25px;
				width: 220px;
			}
			.tags {
				a {
					display: inline-block;
					vertical-align: top;
					background: #000;
					color: #fff;
					padding: 2px 5px;
					margin-right: 2px;
					font-size: 10px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
			.name {
				padding-top: 20px;
				max-height: 180px;
				overflow: hidden;
				@media (max-width: 991px) {
					max-height: 144px;
				}
				@media (max-width: 767px) {
					max-height: 124px;
				}
				a {
					font-size: 40px;
					line-height: 1;
					color: #fff;
					font-weight: 600;
					text-transform: uppercase;
					@media (max-width: 991px) {
						font-size: 30px;
					}
					@media (max-width: 767px) {
						font-size: 24px;
					}
				}
			}
			.date-published {
				font-size: 12px;
				color: #fff;
				padding-top: 20px;
			}
		}
	}
	.owl-prev {
		position: absolute;
		left: 0;
		top: 50%;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		background: rgba(255, 255, 255, 0.2) !important;
		line-height: 60px;
		text-align: center;
		font-size: 21px !important;
		@media (max-width: 767px) {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 16px !important;
		}
		&:hover {
			background: #fff !important;
		}
	}
	.owl-next {
		position: absolute;
		right: 0;
		top: 50%;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		background: rgba(255, 255, 255, 0.2) !important;
		line-height: 60px;
		text-align: center;
		font-size: 21px !important;
		@media (max-width: 767px) {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 16px !important;
		}
		&:hover {
			background: #fff !important;
		}
	}
	.owl-dots {
		display: none;
	}
}

.furniture3-banners-2 {
	padding-top: 20px;
	@media (max-width: 767px) {
		padding-top: 10px;
	}
	.row {
		margin: 0px -10px;
		> div {
			padding: 0px 10px;
		}
	}
	.banner {
		margin: 30px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 20vw;
		position: relative;
		text-align: center;
		overflow: hidden;
		@media (max-width: 767px) {
			margin-top: 20px;
			height: 200px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			padding-top: 40px;
			@media (max-width: 1199px) {
				padding-top: 20px;
			}
			h3 {
				font-size: 40px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				font-weight: 600;
				@media (max-width: 1199px) {
					font-size: 28px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 9px 40px 8px 40px;
				font-size: 13px !important;
				margin-top: 20px;
				@media (max-width: 1199px) {
					margin-top: 10px;
				}
			}
		}
	}
}

.furniture3-banners-3 {
	.row {
		margin: 0px -10px;
		> div {
			padding: 0px 10px;
		}
	}
	.banner {
		margin: 20px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		height: 200px;
		position: relative;
		text-align: left;
		overflow: hidden;
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.link {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}
		.banner-content {
			position: absolute;
			left: 60px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			@media (max-width: 991px) {
				left: 40px;
			}
			h3 {
				padding: 0px;
				margin: 0px;
				font-size: 26px;
				line-height: 25px;
				color: #000;
				font-weight: 600;
			}
		}
	}
}

/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #ff711f;
}

.post-entry .post-content .quote {
	border-left-color: #ff711f;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #ff711f !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #ff711f;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #ff711f !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #ff711f;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #fff;
	color: #000;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #ff711f;
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #ff711f;
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #ff711f;
}