a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #f63980;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #f63980;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #f63980;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #f63980 !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #f63980 !important;
}

.btn,
.button {
	font-size: 13px;
	padding: 11px 30px 9px 30px;
	background: #000 !important;
	color: #fff !important;
	@media (max-width: 991px) {
		padding-left: 25px;
		padding-right: 25px;
	}
	@media (max-width: 767px) {
		padding: 9px 20px 7px 20px;
	}
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #f63980;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #f63980 !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
	background: #000;
}

header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #f63980 !important;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	g, path {
		fill: transparent !important;
		stroke: #f63980 !important;
	}
}

#mobile-header-2 .top-center .open-cart2 a .cart-count {
	z-index: 2;
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path, * {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-home a svg {
	width: 28px;
	height: 28px;
}

body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Montserrat;
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #f63980;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}

.product-grid .product .price .price-new {
	color: #f63980;
}

.new:not(.day) {
	background: #000;
}

.sale {
	background: #f63980;
}

.product-grid .product .image .add-to-cart a {
	background: #000;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-filter {
	z-index: 2;
}

.owl-carousel {
	.product-grid {
		margin-top: -30px;
		@media (max-width: 767px) {
			margin-top: -20px;
		}
	}
}

.product-grid {
	margin-top: -60px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	@media (max-width: 767px) {
		margin-top: -30px;
	}
	.row {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 30px;
			left: 0;
			z-index: 2;
			right: 0;
			height: 1px;
			background: #fff;
			@media (max-width: 767px) {
				top: 20px;
			}
		}
		> div {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			margin-top: 30px;
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
	}
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

.common-home .box,
.center-column .box {
	text-align: center;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 23px;
		right: 0;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			top: 16px;
		}
	}
	.box-heading {
		display: inline-block;
		position: relative;
		z-index: 2;
		background: #fff;
		padding-left: 40px;
		padding-right: 40px;
	}
	.box-content {
		text-align: left;
	}
}

.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 23px;
		right: 0;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			left: 40px;
			top: 16px;
		}
	}
	.nav-item {
		background: #fff;
		z-index: 2;
		position: relative;
		@media (max-width: 767px) {
			padding-right: 30px !important;
			margin-right: 0px !important;
		}
		&:first-child {
			padding-left: 40px;
		}
		&:last-child {
			padding-right: 40px;
		}
	}
}

.instagram {
	.instagram-title {
		span {
			color: #f63980;
		}
	}
}

.standard-body {
	.footer {
		.background {
			background: #fff;
		}
	}
}

.footer {
	.background {
		background: #fff;
	}
	.pattern {
		color: #000;
		a {
			color: #000000;
			&:hover {
				color: #000000;
			}
		}
	}
	h4 {
		color: #808080;
		padding: 57px 0px 20px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding-top: 30px;
		}
	}
	.open-footer-menu {
		.icon {
			span {
				background: #000;
			}
		}
		.text {
			color: #000;
		}
	}
	.footer-newsletter {
		padding: 43px 30px 48px 30px;
		margin: 80px 0px 0px 0px;
		border: 2px solid #000000;
		@media (max-width: 767px) {
			padding: 30px;
			margin: 40px 0px 0px 0px;
		}
		h5 {
			color: #000;
		}
		.line {
			display: none;
		}
		.content {
			background: none;
			input {
				background: #e6e6e6;
				color: #808080;
				&:focus {
					background: #e6e6e6;
				}
			}
		}
		.checkbox {
			label {
				.custom-control-indicator {
					background: #e6e6e6;
				}
				.custom-control-input:checked ~ .custom-control-indicator:before {
					color: #f63980;
				}
			}
		}
	}
	.footer-categories {
		border-bottom: 1px solid #eeecea;
		padding: 27px 0px 27px 0px;
		white-space: nowrap;
		@media (max-width: 1300px) {
			overflow-x: scroll;
		}
		@media (max-width: 767px) {
			padding: 20px 0px;
		}
		.item {
			margin: 0px auto;
			&:first-child {
				margin-left: 0px;
			}
			&:last-child {
				margin-right: 0px;
				p {
					padding-right: 0px;
				}
			}
			img {
				margin: 0px;
				min-width: 57px;
				width: 57px;
			}
			p {
				padding: 0px 30px 0px 16px;
			}
		}
	}
}

.standard-body {
	.copyright {
		.background {
			background: #fff;
		}
	}
}

.copyright {
	.background {
		background: #fff;
		.glasses3-copyright {
			margin: 16px 0px 0px 0px;
			position: relative;
			padding: 0px 0px 0px 0px;
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
			ul.links {
				padding: 0px;
				margin: 0px;
				list-style: none;
				@media (max-width: 767px) {
					overflow: scroll;
					width: 100%;
				}
				li {
					padding-right: 20px;
					@media (max-width: 767px) {
						white-space: nowrap;
					}
					a {
						color: #000000;
					}
				}
			}
			ul.social-links {
				margin: 0px 0px 0px auto;
				padding: 0px;
				list-style: none;
				@media (max-width: 767px) {
					margin: 0px auto;
					padding-top: 9px;
				}
				li {
					padding-left: 20px;
					font-size: 18px;
					@media (max-width: 767px) {
						padding-left: 10px;
						padding-right: 10px;
					}
					a {
						color: #b2b2b1;
						&:hover {
							color: #000;
						}
					}
				}
			}
		}
	}
}


body {
	font-size: 14px;
}

.menu-image {
	padding-top: 7px;
}

ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
	line-height: 30px;
	@media (max-width: 767px) {
		line-height: 1.6;
	}
}

ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
}


.widget-blog-background {
	margin-top: 80px !important;
	@media (max-width: 767px) {
		margin-top: 40px !important;
	}
	.box {
		&:before {
			display: none;
		}
		.box-heading {
			background: none;
		}
	}
	.show-all-posts {
		background: none !important;
		color: #000 !important;
		text-decoration: underline;
	}
}

#top-bar {
	border: none;
	background: #000000;
	.left {
	 	.social-links {
	 		li {
	 			a {
	 				color: #4d4d4d;
	 				&:hover {
	 					color: #fff;
	 				}
	 			}
	 		}
	 	}
	}
	.right {
		.switchers {
			.dropdown {
				.dropdown-toggle {
					color: #fff;
					&:after {
						border-top-color: #4d4d4d;
					}
				}
			}
		}
		.welcome-text {
			color: #fff;
			border-color: #333333;
		}
	}
}

.glasses3-bar {
	margin: 0px 0px 0px 0px;
	background: #feebf2;
	text-align: center;
	font-size: 13px;
	color: #f63980;
	text-transform: uppercase;
	padding: 9px 20px;
}

.tp-leftarrow, .tp-rightarrow {
	width: 40px !important;
	height: 40px !important;
	&:before {
		line-height: 40px !important;
		font-size: 13px !important;
	}
}

.glasses3-slider-text {
	.first-heading {
		font-size: 30px;
		line-height: 1;
		color: #fff;
	}
	.second-heading {
		font-size: 70px;
		line-height: 60px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		padding: 15px 0px 0px 0px;
	}
	.slider-button {
		padding: 45px 0px 0px 0px;
		a {
			display: inline-block;
			vertical-align: top;
			margin: 0px 5px;
			background: #fff;
			padding: 13px 37px 12px 37px;
			font-size: 16px;
			color: #000;
			text-transform: uppercase;
		}
	}
}

.glasses3-banners-01,
.glasses3-banners-02 {
	.row {
		margin: 0px -10px;
		> div {
			padding: 0px 10px;
		}
	}
	.banner {
		margin: 20px 0px 0px 0px;
		padding: 0px;
		height: 330px;
		position: relative;
		overflow: hidden;
		@media (max-width: 1098px) {
			height: 300px;
		}
		@media (max-width: 991px) {
			height: 250px;
		}
		@media (max-width: 767px) {
			height: 170px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 52%;
			right: 0;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			z-index: 2;
			@media (max-width: 767px) {
				left: 45%;
			}
			h4 {
				color: #fff;
				font-size: 35px;
				line-height: 1;
				text-transform: uppercase;
				font-weight: 600;
				@media (max-width: 1098px) {
					font-size: 30px;
				}
				@media (max-width: 991px) {
					font-size: 25px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				margin-top: 17px;
				@media (max-width: 767px) {
					margin-top: 10px;
				}
			}
		}
	}
	.col-md-4 {
		.banner-content {
			left: 0;
		}
	}
}

.glasses3-banners-02 {
	.banner {
		height: 270px;
		@media (max-width: 991px) {
			height: 250px;
		}
		@media (max-width: 767px) {
			height: 170px;
		}
	}
}

.glasses3-categories {
	text-align: center;
	.d-flex {
		@media (max-width: 1300px) {
			overflow-x: scroll;
		}
	}
	.item {
		padding: 40px 40px 0px 40px;
		@media (max-width: 767px) {
			padding: 25px 25px 0px 25px;
		}
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			margin-right: auto;
		}
		a {
			display: block;
			img {
				margin: 0px auto;
				min-width: 105px;
			}
			span {
				display: block;
				padding: 11px 0px 0px 0px;
			}
		}
	}
	.show-all {
		display: inline-block;
		text-decoration: underline;
		font-size: 13px;
		text-transform: uppercase;
		margin: 40px 0px 0px 0px;
		@media (max-width: 767px) {
			margin-top: 25px;
		}
	}
}

.glasses3-brands {
	padding: 54px 0px 0px 0px;
	@media (max-width: 767px) {
		padding: 40px 0px 0px 0px;
	}
	.heading {
		text-align: center;
		font-size: 30px;
		font-weight: 600;
		text-transform: uppercase;
		@media (max-width: 1098px) {
			font-size: 26px;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
	}
	ul {
		list-style: none;
		padding: 0px;
		margin: 26px 0px 0px 0px;
		display: flex;
		flex-wrap: wrap;
		border: 2px solid #000;
		@media (max-width: 767px) {
			margin: 20px 0px 0px 0px;
		}
		li {
			width: 20%;
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			text-align: center;
			margin-left: -1px;
			margin-right: 1px;
			margin-top: -1px;
			position: relative;
			padding: 20px 20px;
			@media (max-width: 767px) {
				width: 50%;
			}
			img {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				max-height: 80px;
			}
		}
	}
}

/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #f63980;
}

.post-entry .post-content .quote {
	border-left-color: #f63980;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #f63980 !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #f63980;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #f63980 !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #f63980;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #000;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #f63980;
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #f63980;
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #f63980;
}