a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #f63980;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #f63980;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #f63980;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #f63980 !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #f63980 !important;
}

.btn,
.button {
	font-size: 13px;
	padding: 11px 30px 9px 30px;
	background: #000 !important;
	color: #fff !important;
	@media (max-width: 991px) {
		padding-left: 25px;
		padding-right: 25px;
	}
	@media (max-width: 767px) {
		padding: 9px 20px 7px 20px;
	}
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #f63980;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #f63980 !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
	background: #000;
}

header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #f63980 !important;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	g, path {
		fill: transparent !important;
		stroke: #f63980 !important;
	}
}

#mobile-header-2 .top-center .open-cart2 a .cart-count {
	z-index: 2;
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path, * {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-home a svg {
	width: 28px;
	height: 28px;
}

body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Montserrat;
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #f63980;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}

.product-grid .product .price .price-new {
	color: #f63980;
}

.new:not(.day) {
	background: #000;
}

.sale {
	background: #f63980;
}

.product-grid .product .image .add-to-cart a {
	background: #000;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-filter {
	z-index: 2;
}

.owl-carousel {
	.product-grid {
		margin-top: -30px;
		@media (max-width: 767px) {
			margin-top: -20px;
		}
	}
}

.product-grid {
	margin-top: -60px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	@media (max-width: 767px) {
		margin-top: -30px;
	}
	.row {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 30px;
			left: 0;
			z-index: 2;
			right: 0;
			height: 1px;
			background: #fff;
			@media (max-width: 767px) {
				top: 20px;
			}
		}
		> div {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			margin-top: 30px;
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
	}
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

.product-list .product .right {
	max-width: 600px;
}

.common-home .box,
.center-column .box {
	text-align: center;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 23px;
		right: 0;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			top: 16px;
		}
	}
	.box-heading {
		display: inline-block;
		position: relative;
		z-index: 2;
		background: #fff;
		padding-left: 40px;
		padding-right: 40px;
	}
	.box-content {
		text-align: left;
	}
}

.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 23px;
		right: 0;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			left: 40px;
			top: 16px;
		}
	}
	.nav-item {
		background: #fff;
		z-index: 2;
		position: relative;
		@media (max-width: 767px) {
			padding-right: 30px !important;
			margin-right: 0px !important;
		}
		&:first-child {
			padding-left: 40px;
		}
		&:last-child {
			padding-right: 40px;
		}
	}
}

.instagram {
	.instagram-title {
		span {
			color: #f63980;
		}
	}
}

.standard-body {
	.footer {
		.background {
			background: #000;
		}
	}
}

.footer {
	.background {
		background: #000;
	}
	.pattern {
		color: #000;
		a {
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
	}
	h4 {
		color: #808080;
		margin-bottom: 21px;
	}
	ul {
		li {
			img {
				display: inline-block;
				vertical-align: middle;
				margin-right: 12px;
			}
		}
	}
	.glasses2-about-us {
		padding-top: 79px;
		color: #808080;
		@media (max-width: 767px) {
			padding-top: 40px;
			text-align: center;
		}
		.logo {
			padding: 0px 0px 6px 0px;
			img {
				max-height: 30px;
			}
		}
		p {
			padding: 17px 0px 0px 0px;
			span {
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
	.open-footer-menu {
		.icon {
			span {
				background: #fff;
			}
		}
		.text {
			color: #fff;
		}
	}
	.footer-newsletter {
		display: -ms-flexbox !important;
		display: flex;
		-ms-flex-align: center !important;
		align-items: center !important;
		padding: 70px 0px 28px 0px;
		margin: 0px;
		border: none;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			padding-top: 40px;
			padding-bottom: 0px;
		}
		.line {
			display: none;
		}
		h5 {
			font-size: 30px;
			line-height: 1;
			color: #fff;
			font-weight: 600;
			text-align: left;
			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
				font-size: 20px;
			}
		}
		.content {
			background: none;
			margin: 0px 40px 0px 65px;
			padding: 0px;
			@media (max-width: 991px) {
				margin-left: 35px;
				margin-right: 30px;
			}
			@media (max-width: 767px) {
				width: 100%;
				margin: 20px 0px 0px 0px;
			}
			input {
				background: #2e2e2e;
				color: #fff;
				&:focus {
					background: #2e2e2e;
				}
				@media (max-width: 1098px) {
					width: 230px;
				}
				@media (max-width: 991px) {
					width: 180px;
				}
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			.subscribe {
				white-space: nowrap;
				background: #fff !important;
				color: #000 !important;
			}
		}
		.checkbox {
			padding-left: 30px;
			@media (max-width: 767px) {
				margin: 0px auto;
				padding-top: 7px;
			}
			label {
				color: #666666;
				font-size: 14px;
				a {
					color: #666666;
				}
				.custom-control-indicator {
					background: #2e2e2e;
					border: 1px solid #2e2e2e;
					&:before {
						color: #fff !important;
					}
				}
			}
		}
	}
}

.standard-body {
	.copyright {
		.background {
			background: #000000;
		}
	}
}

.copyright {
	.background {
		background: #000000;
		.pattern {
			color: #999999;
			a {
				color: #999999;
				&:hover {
					color: #fff;
				}
			}
		}
		p {
			padding: 2px 0px 0px 0px;
		}
		.glasses2-copyright {
			margin: 0px 0px 0px 0px;
			position: relative;
			padding: 0px 0px 0px 0px;
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
			ul.links {
				padding: 0px;
				margin: 0px;
				list-style: none;
				@media (max-width: 767px) {
					overflow: scroll;
					width: 100%;
				}
				li {
					padding-right: 20px;
					@media (max-width: 767px) {
						white-space: nowrap;
					}
					a {
						color: #fff;
					}
				}
			}
			ul.social-links {
				margin: 0px 0px 0px auto;
				padding: 0px;
				list-style: none;
				@media (max-width: 767px) {
					margin: 0px auto;
					padding-top: 9px;
				}
				li {
					padding-left: 20px;
					font-size: 18px;
					@media (max-width: 767px) {
						padding-left: 10px;
						padding-right: 10px;
					}
					a {
						color: #666666;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}
}


body {
	font-size: 14px;
}

.menu-image {
	padding-top: 7px;
}

ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
	line-height: 30px;
	@media (max-width: 767px) {
		line-height: 1.6;
	}
}

ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}

.header-notice {
	a.close-notice {
		top: 10px;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		right: 10px;
	}
}

.glasses2-notice {
	background: #000;
	background-position: top center;
	background-repeat: no-repeat;
	margin: -15px -2000px -15px -2000px;
	padding: 28px 2000px 28px 2000px;
	text-align: center;
	@media (max-width: 767px) {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		background-size: cover;
	}
	p {
		padding: 0px;
		margin: 0px;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.1;
		@media (max-width: 767px) {
			font-size: 13px;
		}
	}	
	h4 {
		padding: 3px 0px 0px 0px;
		margin: 0px;
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		span {
			color: #ffc22c;
		}
		@media (max-width: 767px) {
			font-size: 17px;
			padding-top: 5px;
		}
	}
	.btn {
		margin-top: 10px;
		background: #fff !important;
		color: #000 !important;
		font-size: 15px;
		@media (max-width: 767px) {
			font-size: 13px;
		}
	}
}

.header-type-5 {
	#top-bar .right {
		margin-right: -70px;
		@media (max-width: 991px) {
			margin-right: -20px;
		}
	}
	#top-bar .right .wishlist svg path, #top-bar .right .wishlist svg g,
	#top-bar .right #cart_block .cart-heading .open-cart svg path, #top-bar .right #cart_block .cart-heading .open-cart svg g {
		fill: transparent !important;
		stroke: #fff !important;
	}
	#top-bar .right #cart_block {
		background: #f63980;
	}
	#top .top-center .right {
		width: 305px;
	}
	#top .top-center .right .desktop-search {
		width: 100%;
		.open-search {
			display: none;
		}
		.search_form {
			display: block;
			position: relative !important;
			margin: 0px !important;
			right: auto !important;
			padding: 0px !important;
			border: none !important;
			width: 100% !important;
			.button-search {
				right: 12px !important;
			}
		}
	}
	#top .top-center {
		padding: 30px 0px;
	}
}

.glasses2-categories {
	text-align: center;
	.d-flex {
		@media (max-width: 1300px) {
			overflow-x: scroll;
		}
	}
	.item {
		padding: 40px 40px 0px 40px;
		@media (max-width: 767px) {
			padding: 25px 25px 0px 25px;
		}
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			margin-right: auto;
		}
		a {
			display: block;
			img {
				margin: 0px auto;
				min-width: 105px;
			}
			span {
				display: block;
				padding: 11px 0px 0px 0px;
			}
		}
	}
	.show-all {
		display: inline-block;
		text-decoration: underline;
		font-size: 13px;
		text-transform: uppercase;
		margin: 40px 0px 0px 0px;
		@media (max-width: 767px) {
			margin-top: 25px;
		}
	}
}

.slider-brands {
	@media (max-width: 767px) {
		flex-wrap: wrap;
	}
	.slider {
		height: 720px;
		position: relative;
		width: 100%;
		overflow: hidden;
		@media (max-width: 767px) {
			height: 270px;
		}
		&:hover {
			.slider-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.slider-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.slider-content {
			position: absolute;
			top: 50%;
			left: 12.6%;
			z-index: 2;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			p {
				padding: 0px;
				margin: 0px;
				font-size: 30px;
				color: #fff;
				line-height: 1;
				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
			h4 {
				font-size: 80px;
				line-height: 1;
				color: #fff;
				padding: 1px 0px 0px 0px;
				margin: 0px;
				text-transform: uppercase;
				@media (max-width: 1098px) {
					font-size: 60px;
				}
				@media (max-width: 767px) {
					font-size: 30px;
				}
			}
			.buttons {
				padding-top: 30px;
				margin: 0px;
				@media (max-width: 767px) {
					padding-top: 10px;
				}
				a {
					margin: 10px 7px 0px 0px;
					display: inline-block;
					background: #fff;
					color: #000;
					font-size: 16px;
					text-transform: uppercase;
					padding: 13px 47px 12px 47px;
					@media (max-width: 767px) {
						padding: 9px 25px;
						font-size: 13px;
					}
				}
			}
		}
	}
	.brands {
		min-height: 720px;
		width: 445px;
		min-width: 445px;
		background: #fff;
		border: 3px solid #000;
		text-align: center;
		@media (max-width: 1098px) {
			width: 300px;
			min-width: 300px;
		}
		@media (max-width: 767px) {
			width: 100%;
			min-width: 100px;
			min-height: 100px;
		}
		.heading {
			text-align: center;
			padding: 45px 20px 0px 20px;
			font-size: 30px;
			line-height: 25px;
			text-transform: uppercase;
			font-weight: 600;
			@media (max-width: 767px) {
				padding: 25px 20px 0px 20px;
				font-size: 20px;
				line-height: 1;
			}
		}
		ul {
			list-style: none;
			padding: 0px;
			margin: 48px 0px 0px 0px;
			display: flex;
			flex-wrap: wrap;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			@media (max-width: 767px) {
				margin: 30px 0px 0px 0px;
			}
			li {
				width: 50%;
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				border-right: 1px solid rgba(0, 0, 0, 0.1);
				text-align: center;
				height: 120px;
			    -ms-flex-align: center !important;
			    align-items: center !important;
			    display: -ms-flexbox !important;
			    display: flex !important;
			    @media (max-width: 767px) {
			    	height: 80px;
			    }
				&:nth-child(2n) {
					border-right: none;
				}
				a {
					margin: 0px auto;
					img {
						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
						max-height: 120px;
						max-width: 100%;
						@media (max-width: 767px) {
							max-height: 70px;
						}
					}
				}
			}
		}
		.show-all {
			display: inline-block;
			text-decoration: underline;
			font-size: 13px;
			text-transform: uppercase;
			margin-top: 52px;
			@media (max-width: 767px) {
				margin-top: 25px;
				margin-bottom: 15px;
			}
		}
	}
}

.glasses2-banners-01 {
	.row {
		margin: 0px;
		> div {
			padding: 0px;
		}
	}
	.banner {
		margin: 0px;
		padding: 0px;
		position: relative;
		height: 22.3vw;
		overflow: hidden;
		@media (max-width: 767px) {
			height: 200px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			bottom: 60px;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 2;
			@media (max-width: 1098px) {
				bottom: 30px;
			}
			@media (max-width: 767px) {
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
			}
			h4 {
				font-size: 40px;
				line-height: 1;
				text-transform: uppercase;
				color: #fff;
				font-weight: 600;
				@media (max-width: 1098px) {
					font-size: 32px;
				}
				@media (max-width: 767px) {
					font-size: 28px;
				}
			}
			.btn {
				padding-left: 40px;
				padding-right: 40px;
				margin-top: 16px;
				@media (max-width: 767px) {
					margin-top: 11px;
					padding-left: 30px;
					padding-right: 30px;
				}
				&.btn-white {
					background: #fff !important;
					color: #000 !important;
				}
			}
		}
	}
}

.glasses2-banner-products {
	position: relative;
	height: 448px;
	overflow: hidden;
	@media (max-width: 1098px) {
		height: 348px;
	}
	@media (max-width: 767px) {
		height: 200px;
	}
	&:hover {
		.banner-image {
			transform: scale(1.03);
			-webkit-transform: scale(1.03);
			-moz-transform: scale(1.03);
			&:before {
				top: 50%;
				opacity: 0.5;
			}
		}
	}
	.banner-image {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
		transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 75%;
			bottom: 0;
			background: rgba(212,228,239,0);
			background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
			opacity: 0;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
		}
	}
	.banner-content {
		position: absolute;
		bottom: 70px;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 2;
		@media (max-width: 1098px) {
			bottom: 40px;
		}
		@media (max-width: 767px) {
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
		}
		h4 {
			font-size: 40px;
			line-height: 1;
			text-transform: uppercase;
			color: #fff;
			font-weight: 600;
			@media (max-width: 1098px) {
				font-size: 32px;
			}
			@media (max-width: 767px) {
				font-size: 28px;
			}
		}
		.btn {
			padding-left: 40px;
			padding-right: 40px;
			margin-top: 16px;
			@media (max-width: 767px) {
				margin-top: 11px;
				padding-left: 30px;
				padding-right: 30px;
			}
			&.btn-white {
				background: #fff !important;
				color: #000 !important;
			}
		}
	}
}

.glasses2-products {
	margin-top: 75px !important;
	@media (max-width: 767px) {
		margin-top: 35px !important;
	}
	&.type-2 {
		margin-top: -1px !important;
		.box {
			margin-left: 50px;
			margin-right: 20px;
			border-top: none;
			@media (max-width: 767px) {
				padding-bottom: 0px;
			}
		}
		.col-md-5 {
			@media (max-width: 767px) {
				order: -1;
			}
		}
	}
	.box {
		margin: 0px 50px 0px 20px;
		padding: 67px 0px 30px 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		min-height: 448px;
		@media (max-width: 1098px) {
			min-height: 348px;
		}
		@media (max-width: 767px) {
			min-height: 1px;
			padding-top: 35px;
			padding-bottom: 35px;
			margin: 0px 20px !important;
			border: none;
		}
		&:before {
			display: none;
		}
		> .prev,
		> .next {
			display: none;
		}
	}
}

.common-home {
	.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
		padding-bottom: 0px;
	}
}

.widget-blog-background {
	margin-top: 80px !important;
	@media (max-width: 767px) {
		margin-top: 40px !important;
	}
	.box {
		&:before {
			display: none;
		}
		.box-heading {
			background: none;
		}
	}
	.show-all-posts {
		background: none !important;
		color: #000 !important;
		text-decoration: underline;
	}
}

/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #f63980;
}

.post-entry .post-content .quote {
	border-left-color: #f63980;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #f63980 !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #f63980;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #f63980 !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #f63980;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #000;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #f63980;
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #f63980;
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #f63980;
}