a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #118776;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #118776;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #118776;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #118776 !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #118776 !important;
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #118776;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #118776 !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

#top .top-center .right .wishlist .wishlist-count {
	background: #000;
}

header .top-center .right #cart_block .cart-heading .cart-count {
	background: #118776 !important;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg {
	transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	g, path {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-home a svg {
	width: 28px;
	height: 28px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .form-control {
	background: none !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 0px;
	padding-right: 0px;
}

body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Barlow;
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #000000;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}

.product-grid .product .price .price-new {
	color: #118776;
}

.new:not(.day) {
	background: #d8ae5b;
}

.sale {
	background: #118776;
}

.product-grid .product .image .add-to-cart a {
	background: #118776;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

ul.megamenu > li > a strong,
h1, h2, h3, h4, h5, h6,
.box .box-heading,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link,
.footer h4,
.footer ul li a,
#main .mfilter-tb-as-td,
#main .mfilter-heading,
.center-column h1, .center-column h2, .center-column h3, .center-column h4, .center-column h5, .center-column h6, .center-column legend,
#accordion4 .card .card-header .btn-link,
.button, .btn,
.product-info .product-center .hurry-up .heading,
.product-info .product-center .price .price-new,
#top-bar .right .switchers .dropdown .dropdown-toggle,
.dropdown-menu > li > a,
table.attribute thead td, table.list thead td, .wishlist-product table thead td, .wishlist-info table thead td, .compare-info thead td, .cart-info table thead td, .checkout-product table thead td, .table thead td, table.attribute thead th, table.list thead th, .wishlist-product table thead th, .wishlist-info table thead th, .compare-info thead th, .cart-info table thead th, .checkout-product table thead th, .table thead th,
table.attribute td, table.list td, .wishlist-product table td, .wishlist-info table td, .compare-info td, .cart-info table td, .checkout-product table td, .table td, table.attribute th, table.list th, .wishlist-product table th, .wishlist-info table th, .compare-info th, .cart-info table th, .checkout-product table th, .table th,
#tab-review .reviews-list .review .name,
#tab-review .reviews-list .review .col-4,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#modalAddToCartProduct .desctope .left .tt-modal-messages,
.breadcrumb h1,
.countdown-section,
.countdown-amount,
.product-list .product .right .price,
.product-list .product .right .action li a,
.product-grid .product .image .add-to-cart a,
.pagination-results ul.pagination li, .pagination-results ul.pagination li a,
.product-info .product-center .button-product-question,
.product-info .product-center .links a,
.product-info .product-center .options .form-group > label,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
.box-category ul li a,
.blog-list-default li a .media-body h5,
.tagcloud a,
.news .item .name a,
.news .item .image .tags a,
.big-news .tags a,
.post-entry .box.comments .comments-list .comment .name,
.popup h4,
.jewelry1-banners-3 .slider .slider-content .slider-button a,
ul.megamenu li .sub-menu .content .hover-menu a,
.jewelry1-banners-1 .slider .slider-content .slider-button a,
.slider-text .second-heading,
#main .jewelry2-banners-1 .banner .banner-content h3,
#accordion2 .card .card-header .btn-link,
.contact-box ul li strong,
.contact-page > ul li strong,
.list-box li,
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
.mobile-menu .mobile-switcher .switchers .dropdown .dropdown-toggle {
	font-weight: 400;
}

.ui-autocomplete li span.price,
#top .top-center .right #cart_block .dropdown-menu .mini-cart-info table .total,
#top .top-center .right #cart_block .dropdown-menu .mini-cart-total table td:last-child {
	font-weight: 600;
}

.center-column .panel .panel-heading {
	background: none;
}

.jewelry6-bar {
	margin: 75px 0px 0px 0px;
	background: #d3e4e0;
	text-align: center;
	font-size: 14px;
	color: #227764;
	text-transform: uppercase;
	padding: 9px 20px;
	@media (max-width: 767px) {
		margin: 35px 0px 0px 0px;
	}
}

.product-filter {
	z-index: 3;
}

.owl-carousel {
	.product-grid {
		margin-top: -30px;
		@media (max-width: 767px) {
			margin-top: -20px;
		}
	}
}

.product-grid {
	margin-top: -60px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	@media (max-width: 767px) {
		margin-top: -30px;
	}
	.row {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 30px;
			left: 0;
			z-index: 2;
			right: 0;
			height: 1px;
			background: #fff;
			@media (max-width: 767px) {
				top: 20px;
			}
		}
		> div {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			margin-top: 30px;
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
	}
}

.product-info .product-center .cart .add-to-cart .quantity #q_up, .product-info .product-center .cart .add-to-cart .quantity #q_down,
.product-bar .container .cart .add-to-cart .quantity #q_up2, .product-bar .container .cart .add-to-cart .quantity #q_down2 {
	border: none;
}

.main-content .footer-newsletter h5 {
	font-weight: 400;
}

.footer-newsletter {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-content .footer-newsletter .checkbox label .custom-control-indicator {
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-content .footer-newsletter .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
	color: #118776;
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

.header-notice {
	background: #000;
	background-size: cover;
}

.jewelry1-notice {
	background: #000;
	background-position: top center;
	background-repeat: no-repeat;
	margin: -15px -2000px -15px -2000px;
	padding: 20px 2000px 20px 2000px;
	text-align: center;
	@media (max-width: 767px) {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		background-size: cover;
	}
	.text-1 {
		display: inline-block;
		font-size: 25px;
		font-weight: 300;
		text-transform: uppercase;
		vertical-align: top;
		@media (max-width: 991px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	.text-2 {
		display: inline-block;
		font-size: 25px;
		color: #d8ae5b;
		font-weight: 500;
		text-transform: uppercase;
		padding-left: 7px;
		vertical-align: top;
		@media (max-width: 991px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	.btn {
		display: inline-block;
		background: #fff !important;
		color: #000 !important;
		padding: 6px 20px 5px 20px !important;
		vertical-align: top;
		font-size: 13px;
		margin-top: 4px;
		margin-left: 35px;
		margin-right: 35px;
		@media (max-width: 767px) {
			margin: 0px 10px;
			padding: 4px 15px !important;
			display: none;
		}
	}
	.text-3 {
		display: inline-block;
		vertical-align: top;
		font-size: 20px;
		font-weight: 300;
		padding-top: 4px;
		@media (max-width: 991px) {
			font-size: 16px;
		}
		@media (max-width: 767px) {
			font-size: 13px;
			display: block;
			margin-top: -2px;
			position: relative;
		}
	}
}

.jewelry1-menu-banner {
	height: 262px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px 30px 0px;
	position: relative;
	.banner-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
	.text {
		position: absolute;
		left: 20px;
		right: 20px;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		font-size: 40px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 1098px) {
			font-size: 32px;
		}
	}
}

.jewelry1-menu-banner-2 {
	height: 202px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px 30px 0px;
	position: relative;
	.banner-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
	.text {
		position: absolute;
		left: 20px;
		right: 20px;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		font-size: 40px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 1098px) {
			font-size: 32px;
		}
	}
}

.static-menu {
	position: relative;
	z-index: 2;
}

.menu-love {
	margin: 0px -173px -220px -83px;
	position: relative;
	z-index: 0;
	@media (max-width: 767px) {
		margin: 0px;
	}
}

.jewelry1-menu-products {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
	margin-top: -10px;
	margin-bottom: 10px;
	@media (max-width: 767px) {
		flex-wrap: wrap;
		border: none;
		margin: 0px;
	}
	.product {
		padding-top: 30px;
		text-align: left !important;
		margin-right: 55px;
		@media (max-width: 767px) {
			margin: 0px;
			padding: 5px 0px;
		}
		.image {
			width: 110px;
		}
		.right {
			padding-left: 25px;
			.price {
				font-weight: 600;
			}
		}
	}
}

header #top .top-center .right .desktop-search .open-search a svg {
	width: 21px;
	height: 21px;
}

#top .top-center .right .my-account svg,
#top .top-center .right .wishlist svg,
#top .top-center .right #cart_block .cart-heading .open-cart svg {
	width: 20px;
	height: 20px;
}

.footer {
	.pattern {
		a {
			color: #fff;
		}
	}
	h4 {
		color: #696969;
	}
}

.copyright {
	.background {
		.pattern {
			> .container {
				> div:first-child {
					border-top: 1px solid rgba(255, 255, 255, 0.15);
				}
			}
		}
		.jewelry6-about-us {
			padding-top: 35px;
			color: #fff;
			font-size: 16px;
			line-height: 22px;
			.d-flex {
				@media (max-width: 767px) {
					flex-wrap: wrap;
				}
			}
			.logo {
				padding-right: 90px;
				@media (max-width: 767px) {
					padding: 0px;
					width: 100%;
					text-align: center;
				}
				img {
					max-height: 30px;
				}
			}
			p {
				padding-right: 65px;
				@media (max-width: 767px) {
					padding: 22px 0px 0px 0px;
					width: 100%;
					text-align: center;
				}
				span {
					color: #118776;
					text-transform: uppercase;
				}
			}
		}
		.jewelry6-copyright {
			padding-bottom: 10px;
			padding-top: 36px;
			@media (max-width: 767px) {
				flex-wrap: wrap;
				padding-top: 26px;
			}
			ul {
				list-style: none;
				padding: 0px;
				margin: 0px;
				@media (max-width: 767px) {
					white-space: nowrap;
					overflow: scroll;
				}
				li {
					padding-right: 20px;
					a {
						font-size: 14px;
						color: #999999;
						&:hover {
							color: #fff;
						}
					}
				}
			}
			.need-help {
				margin-left: auto;
				margin-right: 0px;
				color: #fff;
				@media (max-width: 767px) {
					width: 100%;
					margin: 0px;
					text-align: center;
					padding-top: 10px;
				}
				a {
					color: #118776;
					text-decoration: underline;
				}
			}
		}
	}
}

.slider-align-top.common-home header {
	.slider-header {
		background: none !important;
		&:hover {
			background: #000 !important;
		}
	}
}

header {
	.slider-header {
		background: #000 !important;
	}
	#top-bar {
		.right {
			.switchers {
				.dropdown {
					> a {
						color: #666666;
						&:after {
							border-top-color: #666666 !important;
						}
					}
				}
			}
		}
	}
	#top {
		ul.megamenu {
			> li {
				> a {
					color: #fff;
					&:before {
						background: #fff !important;
					}
				}
			}
		}
		ul.megamenu li .sub-menu .content {
			background: #000;
			a {
				color: #fff;
			}
		}
		ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
			background: #000;
		}
		.top-center .right .desktop-search .open-search a svg,
		.top-center .right .my-account svg,
		.top-center .right .wishlist svg {
			* {
				stroke: #fff !important;
			}
		}
		.top-center .right .wishlist .wishlist-count {
			background: #fff;
			color: #000;
		}
	}
}

.is-sticky #top {
	background: #000;
}

#mobile-header-2,
#mobile-header-1, 
#mobile-header-3 {
	background: #000;
}

.slider-align-top.common-home #mobile-header-2,
.slider-align-top.common-home #mobile-header-1, 
.slider-align-top.common-home #mobile-header-3 {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	background: none;
}

#mobile-header-2 .top-center .open-menu2 a svg path, #mobile-header-2 .top-center .open-menu2 a svg g {
	fill: #fff !important;
}

#mobile-header-3 .top-center .open-account a svg path, #mobile-header-3 .top-center .open-account a svg g,
#mobile-header-3 .top-center .open-wishlist a svg path, #mobile-header-3 .top-center .open-wishlist a svg g {
	stroke: #fff !important;
}

#mobile-header-3 .top-bottom .open-menu2 svg path, #mobile-header-3 .top-bottom .open-menu2 svg g {
	fill: #fff !important;
}

#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
#mobile-header-1 .search_form .button-search,
#mobile-header-3 .search_form .button-search,
#mobile-header-3 .top-bottom .open-menu2 span {
	color: #fff;
}

#mobile-header-1 .search_form input,
#mobile-header-3 .search_form input {
	border-color: rgba(255, 255, 255, 0.1);
}

#mobile-header-2 .top-center .open-cart2 a .cart-count {
	z-index: 2;
}

#slider {
	background: #000;
}

.slider-text {
	.second-heading {
		span {
			color: #fff;
			font-size: 195px;
			line-height: 0.8;
		}
	}
	.slider-button {
		&.green {
			a {
				background: #118776;
			}
		}
		&.white {
			a {
				background: #fff;
				color: #000;
			}
		}
		a {
			background: #d8ae5b;
			color: #fff;
			font-weight: 400;
			padding: 15px 55px 16px 55px;
		}
	}
}

.breadcrumb {
	margin-top: 15px;
}

.common-home {
	.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
		padding-bottom: 80px;
		@media (max-width: 767px) {
			padding-bottom: 40px;
		}
	}
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 60px;
	@media (max-width: 767px) {
		padding-bottom: 40px;
	}
}

.advanced-grid {
	.jewelry6-banners-1 {
		margin-top: 75px;
		@media (max-width: 767px) {
			margin-top: 40px;
		}
	}
}

.jewelry6-banners-1 {
	.row {
		margin: 0px;
		> div {
			padding: 0px;
		}
	}
	.col-md-12 {
		.banner {
			.banner-content {
				left: 0;
				right: 0;
				text-align: center;
			}
		}
	}
	.banner {
		margin: 0px;
		padding: 0px;
		position: relative;
		height: 24.1vw;
		overflow: hidden;
		text-align: left;
		@media (max-width: 991px) {
			height: 25vw;
		}
		@media (max-width: 767px) {
			height: 230px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			z-index: 1;
			text-align: center;
			h3 {
				color: #fff;
				font-size: 60px;
				line-height: 1;
				font-weight: 400;
				text-transform: uppercase;
				@media (max-width: 1098px) {
					font-size: 48px;
				}
				@media (max-width: 991px) {
					font-size: 30px;
				}
			}
			.btn {
				margin-top: 15px;
				padding: 13px 55px 13px 55px;
				font-size: 16px;
				@media (max-width: 991px) {
					margin-top: 10px;
				}
				@media (max-width: 767px) {
					font-size: 14px;
					padding: 10px 30px;
				}
				&.btn-white {
					background: #fff !important;
					color: #000 !important;
				}
			}
		}
		.left {
			position: absolute;
			left: 0;
			right: 60%;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			text-align: center;
			h3 {
				font-size: 45px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				@media (max-width: 1098px) {
					font-size: 36px;
				}
				@media (max-width: 991px) {
					font-size: 30px;
				}
				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
			.btn {
				margin-top: 17px;
				@media (max-width: 767px) {
					margin-top: 10px;
				}
				&.btn-white {
					background: #fff !important;
					color: #000 !important;
				}
			}
		}
		.right {
			position: absolute;
			right: 0;
			left: 60%;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			text-align: center;
			h3 {
				font-size: 45px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				@media (max-width: 1098px) {
					font-size: 36px;
				}
				@media (max-width: 991px) {
					font-size: 30px;
				}
				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
			.btn {
				margin-top: 17px;
				@media (max-width: 767px) {
					margin-top: 10px;
				}
				&.btn-white {
					background: #fff !important;
					color: #000 !important;
				}
			}
		}
	}
}

.jewelry6-top-categories {
	margin-top: 70px;
	background: #f6f4f1;
	@media (max-width: 767px) {
		margin-top: 40px;
	}
	.d-flex {
		margin: 0px;
		padding: 0px;
		@media (max-width: 767px) {
			overflow: scroll;
		}
		> .item {
			width: 33.3333%;
			padding: 0px;
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			@media (max-width: 767px) {
				white-space: nowrap;
				width: auto;
			}
			&:last-child {
				border: none;
			}
		}
	}
	.item .d-flex {
		padding: 20px 30px;
		@media (max-width: 1098px) {
			padding: 20px;
		}
		@media (max-width: 767px) {
			padding: 20px 25px;
			overflow: visible;
		}
		.image {
			min-width: 80px;
			@media (max-width: 767px) {
				min-width: 50px;
				width: 50px;
			}
		}
		.right {
			padding-left: 30px;
			@media (max-width: 1098px) {
				padding-left: 20px;
			}
			.name {
				display: block;
				font-size: 25px;
				text-transform: uppercase;
				line-height: 1;
				@media (max-width: 1098px) {
					font-size: 20px;
				}
			}
			.shop-now {
				display: block;
				font-size: 12px;
				color: #118776;
				text-transform: uppercase;
				padding-top: 4px;
				@media (max-width: 767px) {
					font-size: 11px;
				}
			}
		}
	}
}

.jewelry2-box-products {
	.box-content {
		background: url(../img/pattern-2.jpg) repeat;
		padding: 20px;
		@media (max-width: 767px) {
			padding: 15px;
		}
		.box-product {
			background: #fff;
			overflow: hidden;
			.product-grid {
				&:before {
					background: rgba(0, 0, 0, 0.1);
					left: -10px;
					width: 1px;
				}
				.product {
					text-align: center;
					padding: 40px;
					@media (max-width: 767px) {
						padding: 25px;
					}
				}
			}
			.sale, .new:not(.day) {
				display: none;
			}
		}
	}
}

.footer-newsletter {
	text-align: center;
	color: #fff;
	padding: 90px 0px 100px 0px;
	@media (max-width: 767px) {
		padding: 40px 0px;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
	h5 {
		font-size: 50px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 1;
		@media (max-width: 1098px) {
			font-size: 42px;
		}
		@media (max-width: 767px) {
			font-size: 30px;
		}
		span {
			display: block;
			font-size: 20px;
			color: #118776;
			text-transform: none;
			padding-top: 7px;
			@media (max-width: 767px) {
				font-size: 16px;
			}
		}
	}
	.content {
		max-width: 540px;
		margin: 50px auto 15px auto;
		@media (max-width: 767px) {
			margin-top: 20px;
		}
		.email {
			margin: 0px 20px 0px 0px;
			padding: 0px;
			color: #fff;
			background: none;
			border-bottom: 1px solid #8c8c8c;
			width: 100%;
			&::-webkit-input-placeholder {
			  color: #fff;
			}
			&::-moz-placeholder {
			  color: #fff;
			}
			&:-ms-input-placeholder {
				color: #fff;
			}
		}
		.button {
			text-decoration: none;
			white-space: nowrap;
		}
	}
	.checkbox {
		text-align: center;
		padding-top: 2px;
		@media (max-width: 767px) {
			padding-left: 30px;
			padding-right: 30px;
		}
		label {
			font-size: 13px;
			position: relative;
			cursor: pointer;
			margin: 0px;
			.custom-control-indicator {
				position: absolute;
				background: #080604;
				width: 20px;
				height: 20px;
				display: block;
				left: -30px;
				top: 0px;
				border: 1px solid #8c8c8c;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
			}
			.custom-control-input:checked ~ .custom-control-indicator:before {
				content: "\f00c";
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				display: block;
				text-align: center;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 20px;
				color: #118776;
			}
			a {
				text-decoration: underline;
			}
		}
	}
}


/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #118776;
}

.post-entry .post-content .quote {
	border-left-color: #118776;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #118776 !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #118776;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #118776 !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #118776;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #000;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #118776;
}

#top .top-center .right .desktop-search .search_form .search-cat + .overflow-input input {
	@media (min-width: 1301px) {
		padding-left: 20px;
	}
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #118776;
}

#top .top-center .desktop-search .search_form .search-cat + .overflow-input input {
	@media (min-width: 1301px) {
		padding-left: 20px;
	}
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #118776;
}

#slider .desktop-search .search_form .search-cat + .overflow-input input {
	padding-left: 20px;
}

/* Black header */

header {
	&.header-type-6 {
		.slider-header {
			#top {
				.menu2 {
					border-color: rgba(255, 255, 255, 0.15);
					> * {
						border-color: rgba(255, 255, 255, 0.15);
					}
				}
			}
		}
		.slider-header #top .menu2 .desktop-search .open-search a svg,
		.slider-header #top .menu2 .my-account svg,
		.slider-header #top .menu2 .wishlist svg {
			path, g, circle, line  {
				fill: transparent !important;
				stroke: #fff !important;
			}
		}
		.slider-header #top .menu2 .wishlist .wishlist-count {
			background: #fff;
			color: #000;
		}
		.slider-header #top .bottom .switchers .dropdown .dropdown-toggle,
		.slider-header #top .bottom .social-links li a {
			color: #fff;
		}
	}
	&.header-type-8 {
		.slider-header {
			#top-bar {
				border: none;
			}
		}
	}
	.slider-header {
		#top-bar {
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			color: #fff;
			a {
				color: #fff;
			}
			.dropdown-menu {
				a {
					color: #000;
				}
			}
			.left {
				.social-links {
					li {
						a {	
							color: #808080;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
			.right {
				ul.menu,
				.welcome-text {
					border-color: rgba(255, 255, 255, 0.15);
				}
			}
		}
		.top-center {
			.right {
				.dropdown {
					.dropdown-toggle {
						color: #fff;
					}
				}
			}
		}
	}
	.desktop-search *:first-child:not(.open-search) input {
		border-color: rgba(255, 255, 255, 0.15) !important;
		color: #fff;
	}
	.desktop-search *:first-child:not(.open-search) .button-search {
		&:before {
			color: #fff !important;
		}
	}
}