body,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select,
.form-control {
  font-family: Barlow;
}
a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover,
ul.megamenu > li.active > a,
ul.megamenu > li.home > a,
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
.carouselItem .testimonial .fa-quote-right,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
  color: #118776;
}
ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
  background: #118776;
}
ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
  border-left-color: #118776;
}
@media (max-width: 767px) {
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
  .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
  .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
    color: #118776 !important;
  }
}
.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before,
.slider-text .slider-button a {
  background: #118776 !important;
}
.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
  border-color: #118776;
}
.bottom-bar .open-cart a svg path,
.bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path,
#mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path,
#mobile-header-3 .top-center .open-cart a svg g {
  fill: #118776 !important;
}
.buttons .left .button,
.buttons .center .button,
.btn-default,
.input-group-btn .btn-primary {
  background: #000 !important;
}
#top .top-center .right .wishlist .wishlist-count {
  background: #000;
}
header .top-center .right #cart_block .cart-heading .cart-count {
  background: #118776 !important;
}
header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg {
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
}
header #top .top-center .right #cart_block .cart-heading .open-cart svg g,
#mobile-header-3 .top-center .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg g,
.bottom-bar .open-cart a svg g,
header #top .top-center .right #cart_block .cart-heading .open-cart svg path,
#mobile-header-3 .top-center .open-cart a svg path,
#mobile-header-2 .top-center .open-cart2 a svg path,
.bottom-bar .open-cart a svg path {
  fill: transparent !important;
  stroke: #118776 !important;
}
.bottom-bar .open-account a svg g,
.bottom-bar .open-wishlist a svg g,
.bottom-bar .open-account a svg path,
.bottom-bar .open-wishlist a svg path {
  fill: transparent !important;
  stroke: #fff !important;
}
.bottom-bar .open-home a svg {
  width: 28px;
  height: 28px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.form-control {
  background: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0px;
  padding-right: 0px;
}
.is-countdown {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -51px;
}
.is-countdown .countdown-amount {
  font-size: 14px;
  color: #000000;
}
.is-countdown .countdown-section {
  font-size: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.product-info .is-countdown .countdown-amount {
  color: #fff;
}
.product-grid .product .price .price-new {
  color: #118776;
}
.new:not(.day) {
  background: #d8ae5b;
}
.sale {
  background: #118776;
}
.product-grid .product .image .add-to-cart a {
  background: #118776;
}
.product-grid .product .image .only-hover ul li a {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
ul.megamenu > li > a strong,
h1,
h2,
h3,
h4,
h5,
h6,
.box .box-heading,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link,
.footer h4,
.footer ul li a,
#main .mfilter-tb-as-td,
#main .mfilter-heading,
.center-column h1,
.center-column h2,
.center-column h3,
.center-column h4,
.center-column h5,
.center-column h6,
.center-column legend,
#accordion4 .card .card-header .btn-link,
.button,
.btn,
.product-info .product-center .hurry-up .heading,
.product-info .product-center .price .price-new,
#top-bar .right .switchers .dropdown .dropdown-toggle,
.dropdown-menu > li > a,
table.attribute thead td,
table.list thead td,
.wishlist-product table thead td,
.wishlist-info table thead td,
.compare-info thead td,
.cart-info table thead td,
.checkout-product table thead td,
.table thead td,
table.attribute thead th,
table.list thead th,
.wishlist-product table thead th,
.wishlist-info table thead th,
.compare-info thead th,
.cart-info table thead th,
.checkout-product table thead th,
.table thead th,
table.attribute td,
table.list td,
.wishlist-product table td,
.wishlist-info table td,
.compare-info td,
.cart-info table td,
.checkout-product table td,
.table td,
table.attribute th,
table.list th,
.wishlist-product table th,
.wishlist-info table th,
.compare-info th,
.cart-info table th,
.checkout-product table th,
.table th,
#tab-review .reviews-list .review .name,
#tab-review .reviews-list .review .col-4,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#modalAddToCartProduct .desctope .left .tt-modal-messages,
.breadcrumb h1,
.countdown-section,
.countdown-amount,
.product-list .product .right .price,
.product-list .product .right .action li a,
.product-grid .product .image .add-to-cart a,
.pagination-results ul.pagination li,
.pagination-results ul.pagination li a,
.product-info .product-center .button-product-question,
.product-info .product-center .links a,
.product-info .product-center .options .form-group > label,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
.box-category ul li a,
.blog-list-default li a .media-body h5,
.tagcloud a,
.news .item .name a,
.news .item .image .tags a,
.big-news .tags a,
.post-entry .box.comments .comments-list .comment .name,
.popup h4,
.jewelry1-banners-3 .slider .slider-content .slider-button a,
ul.megamenu li .sub-menu .content .hover-menu a,
.jewelry1-banners-1 .slider .slider-content .slider-button a,
.slider-text .second-heading,
#main .jewelry2-banners-1 .banner .banner-content h3,
#accordion2 .card .card-header .btn-link,
.contact-box ul li strong,
.contact-page > ul li strong,
.list-box li,
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
.mobile-menu .mobile-switcher .switchers .dropdown .dropdown-toggle,
.instagram .instagram-title,
.blog-posts .item .name a,
.blog-posts .item .image .tags a {
  font-weight: 400;
}
.ui-autocomplete li span.price,
#top .top-center .right #cart_block .dropdown-menu .mini-cart-info table .total,
#top .top-center .right #cart_block .dropdown-menu .mini-cart-total table td:last-child {
  font-weight: 600;
}
.center-column .panel .panel-heading {
  background: none;
}
.jewelry2-bar {
  margin: 70px 0px 0px 0px;
  background: #d3e4e0;
  text-align: center;
  font-size: 14px;
  color: #227764;
  text-transform: uppercase;
  padding: 9px 20px;
}
@media (max-width: 767px) {
  .jewelry2-bar {
    margin-top: 40px;
  }
}
.product-filter {
  z-index: 3;
}
.owl-carousel .product-grid {
  margin-top: -30px;
}
@media (max-width: 767px) {
  .owl-carousel .product-grid {
    margin-top: -20px;
  }
}
.product-grid {
  margin-top: -60px;
}
.product-grid:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  width: 15px;
  background: #fff;
  z-index: 2;
}
.product-grid:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  width: 15px;
  background: #fff;
  z-index: 2;
}
@media (max-width: 767px) {
  .product-grid {
    margin-top: -30px;
  }
}
.product-grid .row {
  position: relative;
}
.product-grid .row:before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
  right: 0;
  height: 1px;
  background: #fff;
}
@media (max-width: 767px) {
  .product-grid .row:before {
    top: 20px;
  }
}
.product-grid .row > div {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
@media (max-width: 767px) {
  .product-grid .row > div {
    margin-top: 20px;
  }
}
.product-info .product-center .cart .add-to-cart .quantity #q_up,
.product-info .product-center .cart .add-to-cart .quantity #q_down,
.product-bar .container .cart .add-to-cart .quantity #q_up2,
.product-bar .container .cart .add-to-cart .quantity #q_down2 {
  border: none;
}
.main-content .footer-newsletter h5 {
  font-weight: 400;
}
.footer-newsletter {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.main-content .footer-newsletter .checkbox label .custom-control-indicator {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.main-content .footer-newsletter .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
  color: #118776;
}
.quickview .mfp-iframe-holder .mfp-content {
  height: 590px;
}
.jewelry1-menu-banner {
  height: 262px;
  background-size: cover;
  background-position: center;
  margin: 20px 0px 30px 0px;
  position: relative;
}
.jewelry1-menu-banner .banner-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.jewelry1-menu-banner .text {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  font-size: 40px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1098px) {
  .jewelry1-menu-banner .text {
    font-size: 32px;
  }
}
.jewelry1-menu-banner-2 {
  height: 202px;
  background-size: cover;
  background-position: center;
  margin: 20px 0px 30px 0px;
  position: relative;
}
.jewelry1-menu-banner-2 .banner-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.jewelry1-menu-banner-2 .text {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  font-size: 40px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1098px) {
  .jewelry1-menu-banner-2 .text {
    font-size: 32px;
  }
}
.static-menu {
  position: relative;
  z-index: 2;
}
.menu-love {
  margin: 0px -173px -220px -83px;
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  .menu-love {
    margin: 0px;
  }
}
.jewelry1-menu-products {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  margin-top: -10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .jewelry1-menu-products {
    flex-wrap: wrap;
    border: none;
    margin: 0px;
  }
}
.jewelry1-menu-products .product {
  padding-top: 30px;
  text-align: left !important;
  margin-right: 55px;
}
@media (max-width: 767px) {
  .jewelry1-menu-products .product {
    margin: 0px;
    padding: 5px 0px;
  }
}
.jewelry1-menu-products .product .image {
  width: 110px;
}
.jewelry1-menu-products .product .right {
  padding-left: 25px;
}
.jewelry1-menu-products .product .right .price {
  font-weight: 600;
}
.main-content .pattern > .container,
.standard-body .main-content .pattern > .container {
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .main-content .pattern > .container,
  .standard-body .main-content .pattern > .container {
    padding-bottom: 40px;
  }
}
.common-home .main-content .pattern > .container,
.common-home .standard-body .main-content .pattern > .container {
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .common-home .main-content .pattern > .container,
  .common-home .standard-body .main-content .pattern > .container {
    padding-bottom: 0px;
  }
}
.standard-body .footer .background {
  background: #fff;
}
.common-home .footer .background .pattern > .container > div:first-child {
  border-top: none;
}
.footer .background {
  background: #fff;
}
.footer .background .pattern {
  color: #000;
}
.footer .background .pattern > .container > div:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .background .pattern a {
  color: #000;
}
.footer .background .pattern a:hover {
  color: #000;
}
.footer .background .instagram {
  margin: 0px;
  padding: 60px 0px 0px 0px;
}
@media (max-width: 767px) {
  .footer .background .instagram {
    padding: 30px 0px 0px 0px;
  }
}
.footer .background .instagram .instagram-title {
  font-size: 30px;
  padding: 0px 0px 22px 0px;
  font-weight: 400;
}
@media (max-width: 1098px) {
  .footer .background .instagram .instagram-title {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .footer .background .instagram .instagram-title {
    font-size: 20px;
    padding-bottom: 15px;
  }
}
.footer .background .instagram .instagram-title span {
  color: #118776;
}
.footer .background .instagram #instafeed > a {
  min-width: 16.666666667%;
}
@media (max-width: 1280px) {
  .footer .background .instagram #instafeed > a {
    min-width: 20%;
  }
}
@media (max-width: 991px) {
  .footer .background .instagram #instafeed > a {
    min-width: 25%;
  }
}
.footer .background .instagram #instafeed > a img {
  width: 190px;
  height: 190px;
  min-width: 100%;
}
@media (max-width: 767px) {
  .footer .background .instagram #instafeed > a img {
    width: 90px;
    height: 90px;
  }
}
.footer .background h4 {
  color: #118776;
}
.footer .background .open-footer-menu .icon span {
  background: #000;
}
.footer .background .open-footer-menu .text {
  color: #000;
}
.footer .background .items {
  padding-top: 50px;
}
@media (max-width: 767px) {
  .footer .background .items {
    padding-top: 20px;
  }
}
.footer .background .items .item {
  display: flex;
  padding-top: 16px;
}
@media (max-width: 767px) {
  .footer .background .items .item {
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
    text-align: left;
  }
}
.footer .background .items .item h4 {
  padding: 6px 0px 0px 0px;
  margin: 0px;
  width: 145px;
  min-width: 145px;
}
@media (max-width: 767px) {
  .footer .background .items .item h4 {
    text-align: left;
  }
}
.footer .background .items .item ul {
  display: flex;
}
@media (max-width: 767px) {
  .footer .background .items .item ul {
    text-align: left;
  }
}
.footer .background .items .item ul li {
  padding-right: 30px;
}
.standard-body .copyright .background {
  background: #fff;
}
.copyright .background {
  background: #fff;
}
.copyright .background .pattern {
  color: #000;
}
.copyright .background .pattern a {
  color: #000;
}
.copyright .background .pattern .container > p {
  display: none;
}
.copyright .background .pattern .container > *:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.copyright .background .pattern .jewelry4-about-us {
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding-top: 53px;
}
@media (max-width: 767px) {
  .copyright .background .pattern .jewelry4-about-us {
    padding-top: 40px;
    flex-wrap: wrap;
  }
}
.copyright .background .pattern .jewelry4-about-us .logo {
  padding-right: 85px;
}
@media (max-width: 767px) {
  .copyright .background .pattern .jewelry4-about-us .logo {
    padding: 0px 0px 10px 0px;
    text-align: center;
    width: 100%;
  }
}
.copyright .background .pattern .jewelry4-about-us .logo img {
  max-height: 30px;
}
.copyright .background .pattern .jewelry4-about-us p {
  padding-right: 60px;
  font-size: 15px;
  line-height: 22px;
}
@media (max-width: 767px) {
  .copyright .background .pattern .jewelry4-about-us p {
    padding: 20px 0px 0px 0px;
    text-align: center;
    width: 100%;
  }
}
.copyright .background .pattern .jewelry4-about-us p span {
  font-size: 16px;
  color: #118776;
  text-transform: uppercase;
}
.copyright .background .pattern .jewelry4-about-us ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 767px) {
  .copyright .background .pattern .jewelry4-about-us ul {
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
}
.copyright .background .pattern .jewelry4-about-us ul li {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .copyright .background .pattern .jewelry4-about-us ul li {
    padding: 0px 10px;
  }
  .copyright .background .pattern .jewelry4-about-us ul li:first-child {
    margin-left: auto;
  }
  .copyright .background .pattern .jewelry4-about-us ul li:last-child {
    margin-right: auto;
  }
}
.copyright .background .pattern .jewelry4-about-us ul li a {
  color: #d2d2d1;
  font-size: 16px;
}
.copyright .background .pattern .jewelry4-about-us ul li a:hover {
  color: #000;
}
.copyright .background .pattern .jewelry4-footer-links {
  padding-top: 50px;
}
@media (max-width: 767px) {
  .copyright .background .pattern .jewelry4-footer-links {
    padding-top: 30px;
    overflow: scroll;
    white-space: nowrap;
  }
}
.copyright .background .pattern .jewelry4-footer-links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.copyright .background .pattern .jewelry4-footer-links ul li {
  padding-right: 20px;
  font-size: 14px;
}
.jewelry-slider-text .first-heading {
  font-size: 20px;
  font-weight: 300;
  line-height: 1 !important;
  color: #fff;
  text-transform: uppercase;
}
.jewelry-slider-text .second-heading {
  font-size: 60px;
  line-height: 1 !important;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0px 0px 0px;
}
@media (max-width: 767px) {
  .jewelry-slider-text .second-heading {
    padding-top: 15px;
  }
}
.jewelry-slider-text .slider-button {
  padding-top: 35px;
}
.jewelry-slider-text .slider-button a {
  background: #118776;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 52px 15px 52px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.jewelry-slider-text .slider-button a:hover {
  text-decoration: underline;
}
.tp-leftarrow,
.tp-rightarrow {
  width: 40px !important;
  height: 40px !important;
}
.tp-leftarrow:before,
.tp-rightarrow:before {
  line-height: 40px !important;
}
.jewelry4-popular-brands {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 13px 0px;
}
@media (max-width: 767px) {
  .jewelry4-popular-brands {
    white-space: nowrap;
    overflow: scroll;
  }
}
.jewelry4-popular-brands .heading {
  padding-right: 40px;
  font-size: 13px;
  color: #118776;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .jewelry4-popular-brands .heading {
    padding-right: 30px;
  }
}
.jewelry4-popular-brands .content {
  padding: 0px;
  margin: 0px;
}
.jewelry4-popular-brands .content ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .jewelry4-popular-brands .content ul {
    flex-wrap: nowrap;
  }
}
.jewelry4-popular-brands .content ul li {
  padding-right: 30px;
}
@media (max-width: 767px) {
  .jewelry4-popular-brands .content ul li {
    padding-right: 25px;
  }
}
.jewelry4-popular-brands .content ul li a {
  font-size: 16px;
}
.carouselItem .box-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 35px;
}
@media (max-width: 767px) {
  .carouselItem .box-content {
    padding: 20px;
  }
}
.carouselItem .box-content .testimonial .fa-quote-right {
  display: none;
}
.carouselItem .box-content .testimonial .rating {
  padding-top: 0px;
}
.carouselItem .box-content .testimonial .content {
  font-weight: 300;
  font-style: italic;
}
.jewelry4-banners-01 {
  margin: 80px 0px 0px 0px;
  position: relative;
}
@media (max-width: 767px) {
  .jewelry4-banners-01 {
    margin: 30px 0px 0px 0px;
  }
}
.jewelry4-banners-01 .banner {
  height: 263px;
  position: relative;
  margin: 0px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .jewelry4-banners-01 .banner {
    height: 180px;
  }
}
.jewelry4-banners-01 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.jewelry4-banners-01 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.jewelry4-banners-01 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.jewelry4-banners-01 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.jewelry4-banners-01 .banner .banner-content .left {
  position: absolute;
  left: 0;
  top: 50%;
  right: 60%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.jewelry4-banners-01 .banner .banner-content .left h4 {
  color: #fff;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 1098px) {
  .jewelry4-banners-01 .banner .banner-content .left h4 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .jewelry4-banners-01 .banner .banner-content .left h4 {
    font-size: 20px;
  }
}
.jewelry4-banners-01 .banner .banner-content .left .btn {
  margin-top: 8px;
}
.jewelry4-banners-01 .banner .banner-content .left .btn.btn-white {
  background: #fff !important;
  color: #000 !important;
}
.jewelry4-banners-01 .banner .banner-content .right {
  position: absolute;
  right: 0;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.jewelry4-banners-01 .banner .banner-content .right h4 {
  color: #fff;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 1098px) {
  .jewelry4-banners-01 .banner .banner-content .right h4 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .jewelry4-banners-01 .banner .banner-content .right h4 {
    font-size: 20px;
  }
}
.jewelry4-banners-01 .banner .banner-content .right .btn {
  margin-top: 8px;
}
.jewelry4-banners-01 .banner .banner-content .right .btn.btn-white {
  background: #fff !important;
  color: #000 !important;
}
.jewelry4-banners-02 {
  position: relative;
}
.jewelry4-banners-02 .row {
  margin: 0px -10px;
}
.jewelry4-banners-02 .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.jewelry4-banners-02 .banner {
  height: 232px;
  position: relative;
  margin: 20px 0px 0px 0px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .jewelry4-banners-02 .banner {
    height: 180px;
  }
}
.jewelry4-banners-02 .banner:hover .banner-image {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.jewelry4-banners-02 .banner:hover .banner-image:before {
  top: 50%;
  opacity: 0.5;
}
.jewelry4-banners-02 .banner .banner-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.jewelry4-banners-02 .banner .banner-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
  background: rgba(212, 228, 239, 0);
  background: -moz-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228, 239, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0);
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.jewelry4-banners-02 .banner .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.jewelry4-banners-02 .banner .banner-content h4 {
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
.jewelry4-banners-02 .banner .banner-content .btn {
  margin-top: 18px;
  font-size: 13px;
  padding: 6px 22px 5px 22px;
}
.jewelry4-banners-02 .banner .banner-content .btn.btn-white {
  background: #fff !important;
  color: #000 !important;
}
.jewelry4-products .container > div > .row {
  margin: 0px -20px;
}
.jewelry4-products .container > div > .row > div {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .jewelry4-products .container > div > .row .col-md-5 {
    -ms-flex: 0 0 39%;
    flex: 0 0 39%;
    max-width: 39%;
  }
}
@media (min-width: 768px) {
  .jewelry4-products .container > div > .row .col-md-7 {
    -ms-flex: 0 0 61%;
    flex: 0 0 61%;
    max-width: 61%;
  }
}
.jewelry4-products .col-md-5 .box .box-heading {
  padding-bottom: 17px;
}
.jewelry4-products .col-md-5 .box .box-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 1098px) {
  .jewelry4-products .col-md-5 .box .box-content {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content {
    padding: 10px 20px 20px 20px;
  }
}
.jewelry4-products .col-md-5 .box .box-content .sale,
.jewelry4-products .col-md-5 .box .box-content .new {
  display: none;
}
.jewelry4-products .col-md-5 .box .box-content .right {
  text-align: center;
}
.jewelry4-products .col-md-5 .box .box-content .right .price {
  font-size: 35px;
  padding: 0px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content .right .price {
    font-size: 26px;
  }
}
.jewelry4-products .col-md-5 .box .box-content .right .price .price-old {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content .right .price .price-old {
    font-size: 17px;
  }
}
.jewelry4-products .col-md-5 .box .box-content .hurry-up {
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
  position: relative;
}
.jewelry4-products .col-md-5 .box .box-content .hurry-up .heading {
  font-size: 14px;
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content .hurry-up .heading {
    font-size: 14px;
  }
}
.jewelry4-products .col-md-5 .box .box-content .hurry-up .heading span {
  color: #118776;
}
.jewelry4-products .col-md-5 .box .box-content .hurry-up .line {
  height: 10px;
  background: #e6e6e6;
  margin-top: 3px;
}
.jewelry4-products .col-md-5 .box .box-content .hurry-up .line .line2 {
  height: 10px;
  background: #118776;
  width: 63%;
}
.jewelry4-products .col-md-5 .box .box-content .is-countdown {
  position: relative;
  margin: 25px 0px 0px 0px;
  visibility: visible;
  opacity: 1;
  left: auto;
  right: auto;
  top: auto;
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content .is-countdown {
    margin-top: 15px;
  }
}
.jewelry4-products .col-md-5 .box .box-content .is-countdown .countdown-section {
  font-size: 11px;
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content .is-countdown .countdown-section {
    font-size: 10px;
  }
}
.jewelry4-products .col-md-5 .box .box-content .countdown-amount {
  font-size: 22px;
}
@media (max-width: 767px) {
  .jewelry4-products .col-md-5 .box .box-content .countdown-amount {
    font-size: 18px;
  }
}
/* 28.12.2019 */
/* colors */
#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
  color: #118776;
}
.post-entry .post-content .quote {
  border-left-color: #118776;
}
.bar3 .item .icon svg path,
.bar3 .item .icon svg g {
  fill: #118776 !important;
}
/* header 5 */
header #top-bar .right #cart_block {
  background: #118776;
}
header #top-bar .right #cart_block .cart-heading .open-cart svg path,
header #top-bar .right .wishlist svg path,
header #top-bar .right #cart_block .cart-heading .open-cart svg g,
header #top-bar .right .wishlist svg g {
  fill: transparent !important;
  stroke: #fff !important;
}
/* Header 6 */
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg path,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg g {
  fill: transparent !important;
  stroke: #118776 !important;
}
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
  background: #118776;
}
header .slider-header #top .menu2 .wishlist .wishlist-count {
  background: #000;
}
/* header 12 */
#top .top-center .right .desktop-search .search_form .search-cat {
  background: #118776;
}
@media (min-width: 1301px) {
  #top .top-center .right .desktop-search .search_form .search-cat + .overflow-input input {
    padding-left: 20px;
  }
}
/* header 14 */
#top .top-center .desktop-search .search_form .search-cat {
  background: #118776;
}
@media (min-width: 1301px) {
  #top .top-center .desktop-search .search_form .search-cat + .overflow-input input {
    padding-left: 20px;
  }
}
/* Header 17 */
#slider .desktop-search .search_form {
  border-color: #118776;
}
#slider .desktop-search .search_form .search-cat + .overflow-input input {
  padding-left: 20px;
}
