body,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .form-control {
	font-family: Barlow;
}

a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
.carouselItem .testimonial .fa-quote-right,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #118776;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #118776;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #118776;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #118776 !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before,
.slider-text .slider-button a {
	background: #118776 !important;
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #118776;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #118776 !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

#top .top-center .right .wishlist .wishlist-count {
	background: #000;
}

header .top-center .right #cart_block .cart-heading .cart-count {
	background: #118776 !important;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
.bottom-bar .open-cart a svg {
	transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	g, path {
		fill: transparent !important;
		stroke: #118776 !important;
	}
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-home a svg {
	width: 28px;
	height: 28px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .form-control {
	background: none !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 0px;
	padding-right: 0px;
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #000000;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}


.product-grid .product .price .price-new {
	color: #118776;
}

.new:not(.day) {
	background: #d8ae5b;
}

.sale {
	background: #118776;
}

.product-grid .product .image .add-to-cart a {
	background: #118776;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

ul.megamenu > li > a strong,
h1, h2, h3, h4, h5, h6,
.box .box-heading,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link,
.footer h4,
.footer ul li a,
#main .mfilter-tb-as-td,
#main .mfilter-heading,
.center-column h1, .center-column h2, .center-column h3, .center-column h4, .center-column h5, .center-column h6, .center-column legend,
#accordion4 .card .card-header .btn-link,
.button, .btn,
.product-info .product-center .hurry-up .heading,
.product-info .product-center .price .price-new,
#top-bar .right .switchers .dropdown .dropdown-toggle,
.dropdown-menu > li > a,
table.attribute thead td, table.list thead td, .wishlist-product table thead td, .wishlist-info table thead td, .compare-info thead td, .cart-info table thead td, .checkout-product table thead td, .table thead td, table.attribute thead th, table.list thead th, .wishlist-product table thead th, .wishlist-info table thead th, .compare-info thead th, .cart-info table thead th, .checkout-product table thead th, .table thead th,
table.attribute td, table.list td, .wishlist-product table td, .wishlist-info table td, .compare-info td, .cart-info table td, .checkout-product table td, .table td, table.attribute th, table.list th, .wishlist-product table th, .wishlist-info table th, .compare-info th, .cart-info table th, .checkout-product table th, .table th,
#tab-review .reviews-list .review .name,
#tab-review .reviews-list .review .col-4,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#modalAddToCartProduct .desctope .left .tt-modal-messages,
.breadcrumb h1,
.countdown-section,
.countdown-amount,
.product-list .product .right .price,
.product-list .product .right .action li a,
.product-grid .product .image .add-to-cart a,
.pagination-results ul.pagination li, .pagination-results ul.pagination li a,
.product-info .product-center .button-product-question,
.product-info .product-center .links a,
.product-info .product-center .options .form-group > label,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
.box-category ul li a,
.blog-list-default li a .media-body h5,
.tagcloud a,
.news .item .name a,
.news .item .image .tags a,
.big-news .tags a,
.post-entry .box.comments .comments-list .comment .name,
.popup h4,
.jewelry1-banners-3 .slider .slider-content .slider-button a,
ul.megamenu li .sub-menu .content .hover-menu a,
.jewelry1-banners-1 .slider .slider-content .slider-button a,
.slider-text .second-heading,
#main .jewelry2-banners-1 .banner .banner-content h3,
#accordion2 .card .card-header .btn-link,
.contact-box ul li strong,
.contact-page > ul li strong,
.list-box li,
#mobile-header-1 .top-center .mobile-switcher .switchers .dropdown .dropdown-toggle,
.mobile-menu .mobile-switcher .switchers .dropdown .dropdown-toggle,
.instagram .instagram-title,
.blog-posts .item .name a,
.blog-posts .item .image .tags a {
	font-weight: 400;
}

.ui-autocomplete li span.price,
#top .top-center .right #cart_block .dropdown-menu .mini-cart-info table .total,
#top .top-center .right #cart_block .dropdown-menu .mini-cart-total table td:last-child {
	font-weight: 600;
}

.center-column .panel .panel-heading {
	background: none;
}

.jewelry2-bar {
	margin: 70px 0px 0px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 14px;
	color: #227764;
	text-transform: uppercase;
	padding: 8px 20px;
	@media (max-width: 767px) {
		margin-top: 40px;
	}
}

.product-filter {
	z-index: 3;
}

.owl-carousel {
	.product-grid {
		margin-top: -30px;
		@media (max-width: 767px) {
			margin-top: -20px;
		}
	}
}

.product-grid {
	margin-top: -60px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -15px;
		bottom: 0;
		width: 15px;
		background: #fff;
		z-index: 2;
	}
	@media (max-width: 767px) {
		margin-top: -30px;
	}
	.row {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 30px;
			left: 0;
			z-index: 2;
			right: 0;
			height: 1px;
			background: #fff;
			@media (max-width: 767px) {
				top: 20px;
			}
		}
		> div {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			margin-top: 30px;
			@media (max-width: 767px) {
				margin-top: 20px;
			}
		}
	}
}

.product-info .product-center .cart .add-to-cart .quantity #q_up, .product-info .product-center .cart .add-to-cart .quantity #q_down,
.product-bar .container .cart .add-to-cart .quantity #q_up2, .product-bar .container .cart .add-to-cart .quantity #q_down2 {
	border: none;
}

.main-content .footer-newsletter h5 {
	font-weight: 400;
}

.footer-newsletter {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-content .footer-newsletter .checkbox label .custom-control-indicator {
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-content .footer-newsletter .checkbox label .custom-control-input:checked ~ .custom-control-indicator:before {
	color: #118776;
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

.jewelry1-menu-banner {
	height: 262px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px 30px 0px;
	position: relative;
	.banner-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
	.text {
		position: absolute;
		left: 20px;
		right: 20px;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		font-size: 40px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 1098px) {
			font-size: 32px;
		}
	}
}

.jewelry1-menu-banner-2 {
	height: 202px;
	background-size: cover;
	background-position: center;
	margin: 20px 0px 30px 0px;
	position: relative;
	.banner-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
	.text {
		position: absolute;
		left: 20px;
		right: 20px;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		font-size: 40px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 1098px) {
			font-size: 32px;
		}
	}
}

.static-menu {
	position: relative;
	z-index: 2;
}

.menu-love {
	margin: 0px -173px -220px -83px;
	position: relative;
	z-index: 0;
	@media (max-width: 767px) {
		margin: 0px;
	}
}

.jewelry1-menu-products {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
	margin-top: -10px;
	margin-bottom: 10px;
	@media (max-width: 767px) {
		flex-wrap: wrap;
		border: none;
		margin: 0px;
	}
	.product {
		padding-top: 30px;
		text-align: left !important;
		margin-right: 55px;
		@media (max-width: 767px) {
			margin: 0px;
			padding: 5px 0px;
		}
		.image {
			width: 110px;
		}
		.right {
			padding-left: 25px;
			.price {
				font-weight: 600;
			}
		}
	}
}

.header-notice {
	text-align: center;
	font-size: 14px;
	color: #227764;
	text-transform: uppercase;
	font-weight: 400;
	padding: 9px 0px;
	@media (max-width: 767px) {
		font-size: 11px;
	}
	strong {
		font-weight: 600;
		color: #227764;
	}
	.close-notice {
		right: 0 !important;
		background: url(../img/close-notice-2.png) center no-repeat !important;
	}
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 60px;
	@media (max-width: 767px) {
		padding-bottom: 40px;
	}
}

.common-home .main-content .pattern > .container, .common-home .standard-body .main-content .pattern > .container {
	padding-bottom: 0px;
	@media (max-width: 767px) {
		padding-bottom: 0px;
	}
}

.standard-body {
	.footer {
		.background {
			background: #fff;
		}
	}
}

.common-home {
	.footer {
		.background {
			.pattern {
				> .container {
					> div:first-child {
						border-top: none;
					}
				}
			}
		}
	}
}

.footer {
	.background {
		background: #fff;
		.pattern {
			color: #000;
			> .container {
				> div:first-child {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
			}
			a {
				color: #000;
				&:hover {
					color: #000;
				}
			}
		}
		h4 {
			color: #118776;
		}
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
	}
}

.standard-body {
	.copyright {
		.background {
			background: #fff;
		}
	}
}

.copyright {
	.background {
		background: #fff;
		.pattern {
			color: #999999;
			text-align: center;
			a {
				color: #999;
			}
		}
	}
	.jewelry3-about-us {
		text-align: center;
		padding-top: 23px;
		@media (max-width: 767px) {
			padding-top: 13px;
		}
		.logo {
			img {
				max-height: 30px;
			}
		}
		p {
			font-size: 15px;
			color: #000;
			padding: 22px 0px 0px 0px;
			margin: 0px;
			span {
				color: #118776;
				text-transform: uppercase;
			}
		}
	}
	.jewelry3-footer-links {
		ul {
			list-style: none;
			padding: 50px 0px 9px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding: 35px 0px 9px 0px;
				white-space: nowrap;
				overflow: scroll;
			}
			li {
				padding: 0px 10px;
				&:first-child {
					margin-left: auto;
				}
				&:last-child {
					margin-right: auto;
				}
				a {
					font-size: 14px;
					color: #000 !important;
				}
			}
		}
	}
}

.jewelry3-banner-gold {
	position: relative;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
	}
	&:hover {
		img {
			// transform: scale(1.03);
			// -webkit-transform: scale(1.03);
			// -moz-transform: scale(1.03);
		}
		&:before {
			top: 50%;
			opacity: 0.5;
		}
	}
	img {
		transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 75%;
		bottom: 0;
		background: rgba(212,228,239,0);
		background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
		opacity: 0;
		transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		z-index: 1;
	}
	.banner-content {
		position: absolute;
		left: 0;
		top: 50%;
		right: 59.6%;
		text-align: center;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		z-index: 2;
		p {
			padding: 0px;
			margin: 0px;
			font-size: 20px;
			line-height: 1;
			color: #63c7b9;
			font-weight: 300;
			text-transform: uppercase;
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
		h4 {
			padding: 15px 0px 0px 0px;
			margin: 0px;
			font-size: 60px;
			line-height: 1;
			color: #fff;
			font-weight: 400;
			text-transform: uppercase;
			@media (max-width: 1098px) {
				font-size: 48px;
			}
			@media (max-width: 767px) {
				font-size: 20px;
				padding-top: 10px;
			}
			@media (max-width: 360px) {
				font-size: 16px;
				padding-top: 5px;
			}
		}
		.btn {
			background: #d8ae5b !important;
			padding: 13px 50px !important;
			margin-top: 34px;
			@media (max-width: 767px) {
				padding: 9px 20px !important;
				margin-top: 20px;
			}
			@media (max-width: 360px) {
				margin-top: 10px;
				padding: 7px 15px !important;
			}
		}
	}
}

.jewelry3-banners-01 {
	&.type-2 {
		margin-top: 50px;
		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}
	.row {
		margin: 0px -10px;
		> div {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.banner {
		margin: 20px 0px 0px 0px;
		height: 520px;
		position: relative;
		overflow: hidden;
		@media (max-width: 1098px) {
			height: 400px;
		}
		@media (max-width: 767px) {
			height: 240px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			top: 76px;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 2;
			@media (max-width: 767px) {
				top: 40px;
			}
			p {
				color: #fff;
				padding: 0px;
				margin: 0px;
				font-size: 20px;
				line-height: 1;
				text-transform: uppercase;
				@media (max-width: 767px) {
					font-size: 16px;
				}
			}
			h4 {
				color: #fff;
				padding: 8px 0px 0px 0px;
				margin: 0px;
				font-size: 50px;
				line-height: 1;
				text-transform: uppercase;
				@media (max-width: 1098px) {
					font-size: 42px;
				}
				@media (max-width: 767px) {
					font-size: 30px;
				}
			}
			.btn {
				margin-top: 35px;
				@media (max-width: 767px) {
					margin-top: 20px;
				}
				&.btn-white {
					background: #fff !important;
					color: #000 !important;
				}
				&.btn-brown {
					background: #d8ae5b !important;
				}
			}
		}
	}
}

.jewelry3-categories {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 38px;
	@media (max-width: 767px) {
		overflow: scroll;
		padding-bottom: 33px;
	}
	.item {
		padding-top: 40px;
		padding-left: 45px;
		padding-right: 45px;
		@media (max-width: 767px) {
			white-space: nowrap;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 35px;
		}
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			margin-right: auto;
		}
		a {
			display: block;
			text-align: center;
			img {
				display: block;
				margin: 0px auto;
				@media (max-width: 767px) {
					min-width: 96px;
				}
			}
			span {
				display: block;
				text-align: center;
				font-size: 20px;
				line-height: 1;
				font-weight: 300;
				text-transform: uppercase;
				padding-top: 11px;
				@media (max-width: 767px) {
					font-size: 17px;
				}
			}
		}
	}
}

/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #118776;
}

.post-entry .post-content .quote {
	border-left-color: #118776;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #118776 !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #118776;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #118776 !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #118776;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #000;
}

/* header 12 */

#top .top-center .right .desktop-search .search_form .search-cat {
	background: #118776;
}

#top .top-center .right .desktop-search .search_form .search-cat + .overflow-input input {
	@media (min-width: 1301px) {
		padding-left: 20px;
	}
}

/* header 14 */

#top .top-center .desktop-search .search_form .search-cat {
	background: #118776;
}

#top .top-center .desktop-search .search_form .search-cat + .overflow-input input {
	@media (min-width: 1301px) {
		padding-left: 20px;
	}
}

/* Header 17 */

#slider .desktop-search .search_form {
	border-color: #118776;
}

#slider .desktop-search .search_form .search-cat + .overflow-input input {
	padding-left: 20px;
}