a:hover,
.dropdown-menu a:hover,
#top-bar .right .welcome-text a,
ul.megamenu > li > a:hover, 
ul.megamenu > li.active > a, 
ul.megamenu > li.home > a, 
ul.megamenu > li:hover > a,
#modalAddToCartProduct .desctope .left .tt-modal-messages i,
#modalAddToCartProduct .desctope .right .tt-cart-total .tt-price,
#main .mfilter-heading,
.pagination-results ul.pagination li.active,
.rating i.active,
.product-list .product .right .price .price-new,
.product-info .product-center .price .price-new,
.product-info .product-center .hurry-up .heading span,
.htabs a.selected,
#accordion2 .card .card-header .btn-link:not(.collapsed),
#accordion4 .card .card-header .btn-link:not(.collapsed),
.product-info .product-center .options .form-group > label,
.contact-page > ul li i,
.banners-2 .banner .banner-content p,
.contact-box ul li i,
.contact-box .items .item p span,
.product-filter .open-filter,
.product-grid .product-type-2 .right .price .price-new,
.product-list.type-2 .product-2 .center .price .price-new,
.product-bar .container .form-group > label,
.product-bar .container .name .price,
#main .mfilter-checkbox .mfilter-col-input.mfilter-input-active:after,
.advanced-grid .advanced-grid-products .product .right .price .price-new,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active,
ul.megamenu li .sub-menu .content .static-menu a.main-menu,
ul.megamenu li .sub-menu .content .hover-menu li:hover > a,
#modalAddToCartProduct .mobile i,
.box-category ul li a.active {
	color: #0068d9;
}

ul.megamenu > li > a:hover:before,
ul.megamenu > li.active > a:before,
ul.megamenu > li:hover > a:before {
	background: #0068d9;
}

ul.megamenu li .sub-menu .content .hover-menu li:hover > a:before {
	border-left-color: #0068d9;
}

@media (max-width: 767px) {
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
		color: #0068d9 !important;
	}
}

.button,
.btn,
ul.megamenu > li > a:before,
.bottom-bar .open-cart a .cart-count,
.product-info .product-center .hurry-up .line .line2,
#mobile-header-2 .top-center .open-cart2 a .cart-count,
#mobile-header-3 .top-center .open-cart a .cart-count,
.filter-product .filter-tabs .bg-filter-tabs .bg-filter-tabs2 .nav-tabs .nav-item .nav-link.active:before {
	background: #0068d9 !important;
}

.product-info .product-image .product-image-left ul li a.active,
.product-info.product-type-4 .product-image .product-image-left ul li a.active,
.product-info .product-center .options .radio-type-button2.active label,
.product-bar .container .radio-type-button2.active label {
	border-color: #0068d9;
}

.bottom-bar .open-cart a svg path, .bottom-bar .open-cart a svg g,
#mobile-header-2 .top-center .open-cart2 a svg path, #mobile-header-2 .top-center .open-cart2 a svg g,
#mobile-header-3 .top-center .open-cart a svg path, #mobile-header-3 .top-center .open-cart a svg g {
	fill: #0068d9 !important;
}

.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
	background: #000 !important;
}

#top .top-center .right .wishlist .wishlist-count,
header .slider-header #top .wishlist .wishlist-count {
	background: #000;
	color: #fff;
}

header .top-center .right #cart_block .cart-heading .cart-count,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #0068d9 !important;
	color: #fff !important;
}

header #top .top-center .right #cart_block .cart-heading .open-cart svg,
#mobile-header-3 .top-center .open-cart a svg,
#mobile-header-2 .top-center .open-cart2 a svg,
header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	g, path {
		fill: none !important;
		stroke: #000 !important;
	}
}

.bottom-bar .open-cart a svg {
	g, path {
		fill: none !important;
		stroke: #fff !important;
	}
}

#mobile-header-2 .top-center .open-cart2 a .cart-count {
	z-index: 2;
}

.bottom-bar .open-account a svg,
.bottom-bar .open-wishlist a svg {
	g, path, * {
		fill: none !important;
		stroke: #fff !important;
	}
}

.bottom-bar .open-home a svg {
	width: 28px;
	height: 28px;
	margin: 0px;
}

#top .top-center .right .wishlist svg {
	path, g {
		fill: none !important;
		stroke: #000 !important;
	}
}

#top .top-center .right .my-account svg {
	path, g, circle {
		fill: none !important;
		stroke: #000 !important;
	}
}

.is-countdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -51px;
	.countdown-amount {
		font-size: 14px;
		color: #0068d9;
	}
	.countdown-section {
		font-size: 9px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.product-info {
	.is-countdown {
		.countdown-amount {
			color: #fff;
		}
	}
}

.product-grid .product .price .price-new {
	color: #fb5c00;
}

.new:not(.day) {
	background: #0068d9;
}

.sale {
	background: #fb5c00;
}

.product-grid .product .image .add-to-cart a {
	background: #0068d9;
}

.product-grid .product .image .only-hover ul li a {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-filter {
	z-index: 2;
}

.product-filter h1,
.box .box-heading,
h1, h2, h3, h4, h5, h6,
legend,
.mfilter-tb-as-td,
.htabs a,
ul.megamenu li .sub-menu .content .hover-menu a,
table.attribute thead td, table.list thead td, .wishlist-product table thead td, .wishlist-info table thead td, .compare-info thead td, .cart-info table thead td, .checkout-product table thead td, .table thead td, table.attribute thead th, table.list thead th, .wishlist-product table thead th, .wishlist-info table thead th, .compare-info thead th, .cart-info table thead th, .checkout-product table thead th, .table thead th {
	text-transform: none !important;
}

.quickview .mfp-iframe-holder .mfp-content {
	height: 590px;
}

.mfilter-heading {
	color: #000 !important;
	text-transform: none !important;
	font-size: 15px !important;
}

.mfilter-category ul li a,
.mfilter-tb-as-td {
	font-size: 14px !important;
	font-weight: 400 !important;
}

#mobile-header-1,
#mobile-header-2,
#mobile-header-3 {
	position: relative;
	z-index: 2;
	background: #fff;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.07);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.07);
	.top-center .open-wishlist a .wishlist-count {
		background: #000;
		color: #fff;
	}
	.search_form {
		input {
			background: #ebebeb;
			color: #000;
			&::-webkit-input-placeholder {
				color: #000;
			}
			&::-moz-placeholder {
				color: #000;
			}
			&:-ms-input-placeholder {
				color: #000;
			}
		}
		.button-search {
			color: #000;
		}
	}
	.dropdown .dropdown-toggle {
		color: #000;
		&:after {
			border-top-color: #b2b2b2 !important;
		}
	}
	.top-center .open-menu2 a svg path, .top-center .open-menu2 a svg g {
		fill: #000 !important;
	}
	.top-center .open-account a svg path, .top-center .open-account a svg circle, .top-center .open-account a svg g,
	.top-center .open-wishlist a svg path, .top-center .open-wishlist a svg g, .top-center .open-wishlist a svg circle {
		stroke: #000 !important;
	}
	.top-bottom .open-menu2 span {
		color: #000;
	}
	.top-bottom .open-menu2 svg path, .top-bottom .open-menu2 svg g {
		fill: #000 !important;
	}
	.top-bottom .right .social-links li a {
		color: #000;
		&:hover {
			color: #000;
		}
	}
}

ul.megamenu > li > a strong {
	text-transform: none;
}

header {
	#top {
		.top-center {
			.desktop-search {
				.search_form {
					.search-cat {
						background: #ebebeb;
						border-right: 1px solid #d3d3d3;
						&:before {
							border-top-color: #000;
						}
						select {
							color: #000;
						}
					}
					input {
						background: #ebebeb;
					}
				}
			}
			ul.megamenu {
				> li {
					&.marketlight1-shop-by-category {
						margin-right: 20px;
						&:hover {
							> a {
								color: #0068d9 !important;
								&:before,
								&:after,
								span:before {
									background: #0068d9 !important;
								}
							}
						}
						> a {
							color: #000 !important;
							padding-left: 30px;
							font-size: 18px;
							position: relative;
							padding-top: 4px;
							height: 32px;
							&:before {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 10px;
								width: 16px;
								height: 4px;
								background: #000 !important;
								transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-moz-transition: all 0.2s ease-in;
							}
							&:after {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 16px;
								width: 16px;
								height: 4px;
								background: #000 !important;
								transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-moz-transition: all 0.2s ease-in;
							}
							span:before {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 22px;
								width: 16px;
								height: 4px;
								background: #000 !important;
								transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-moz-transition: all 0.2s ease-in;
							}
						}
					}
					.sub-menu {
						padding-top: 25px;
					}
				}
			}
		}
	}
}

.slider-text {
	.first-heading {
		font-size: 26px;
		color: #fb5c00;
		font-weight: 300;
	}
	.second-heading {
		text-transform: none;
		font-size: 60px;
		line-height: 1;
		color: #fff;
		strong {
			font-weight: bold;
		}
	}
	.slider-button {
		padding: 32px 0px 0px 0px;
		margin: 0px;
		a {
			display: inline-block;
			background: #fff;
			color: #000;
			padding: 8px 50px 7px 50px;
		}
	}
}

.main-content .pattern > .container, .standard-body .main-content .pattern > .container {
	padding-bottom: 60px;
	@media (max-width: 767px) {
		padding-bottom: 40px;
	}
}

.breadcrumb {
	&:before {
		display: none;
	}
	.clearfix {
		padding-top: 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			border: none;
		}
		a {
			text-transform: none;
		}
	}
}

.marketlight1-megamenu {
	h3 {
		font-size: 15px;
		color: #000;
		font-weight: 600;
		text-transform: none;
		padding: 7px 0px 0px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding: 0px;
		}
	}
	ul {
		list-style: none;
		padding: 18px 0px 43px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding-bottom: 0px;
		}
		li {
			a {
				font-size: 15px;
				line-height: 25px;
				&:hover {
					color: #000;
				}
			}
		}
	}
	.megamenu-banner-1 {
		height: 412px;
		background-size: cover;
		background-position: center;
		position: relative;
		margin: 11px 0px 0px 0px;
		@media (max-width: 767px) {
			height: 255px;
			margin: 0px;
		}
		.banner-content {
			position: absolute;
			left: 50px;
			top: 45px;
			text-align: left;
			@media (max-width: 1098px) {
				left: 40px;
				top: 35px;
			}
			@media (max-width: 767px) {
				left: 30px;
				top: 25px;
			}
			h4 {
				color: #000;
				padding: 0px 0px 10px 0px;
				margin: 0px;
				font-size: 20px;
				line-height: 1.25;
				font-weight: 400;
			}
			h3 {
				font-size: 35px;
				line-height: 1;
				color: #000;
				text-transform: none;
				font-weight: 600;
				padding: 0px 0px 10px 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 30px;
				}
				@media (max-width: 991px) {
					font-size: 26px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #f1c600 !important;
				color: #000 !important;
				padding: 6px 20px 5px 20px;
				font-size: 13px !important;
				margin-top: 15px;
				text-transform: uppercase;
				font-weight: 600 !important;
			}
		}
	}
	.marketlight1-mixed-menu-brands {
		padding: 30px 0px 15px 0px;
		@media (max-width: 767px) {
			padding: 0px 0px 0px 0px;
		}
		.item {
			text-align: center;
			img {
				width: auto;
				margin: 0px auto;
			}
		}
	}
}

.marketlight1-mixed-menu {
	.marketlight1-featured-categories {
		padding: 15px 0px 43px 0px;
		margin: 0px 0px 40px 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			margin: 0px;
			padding: 0px;
			border: none;
		}
		.box-heading {
			display: none;
		}
		.items {
			display: flex;
			overflow-x: scroll;
			.item {
				margin: 0px;
				padding: 0px 10px;
				width: 166px;
				min-width: 166px;;
				display: block;
				p {
					margin: 0px auto;
				}
			}
		}
	}
	h3 {
		font-size: 15px;
		color: #000;
		font-weight: 600;
		text-transform: none;
		padding: 7px 0px 0px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding: 0px;
		}
	}
	ul {
		list-style: none;
		padding: 18px 0px 43px 0px;
		margin: 0px;
		@media (max-width: 767px) {
			padding-bottom: 0px;
		}
		li {
			a {
				font-size: 15px;
				line-height: 25px;
				&:hover {
					color: #000;
				}
			}
		}
	}
	.menu-banner-1 {
		margin: -8px 0px 6px 0px;
		position: relative;
		@media (max-width: 767px) {
			margin: 15px 0px 0px 0px;
		}
		a {
			display: block;
			img {
				display: block;
				margin: 0px;
				width: 100%;
			}
		}
	}
}

.furniture1-rooms-menu {
	margin: -30px auto -30px auto;
	position: relative;
	max-width: 1140px;
	@media (max-width: 767px) {
		margin: -20px;
		background: none;
		> .d-flex {
			flex-wrap: wrap;
		}
	}
	.menu-left {
		width: 263px;
		min-width: 263px;
		background: #fff;
		border-right: 1px solid #e5e5e5;
		@media (max-width: 767px) {
			width: 100px;
			min-width: 100px;
			display: none;
		}
		ul {
			list-style: none;
			padding: 22px 30px 22px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding: 12px 20px 12px 0px;
			}
			li {
				&.active {
					a {
						color: #0068d9;
						span {
							text-decoration: underline;
						}
					}
				}
				a {
					display: block;
					font-size: 15px;
					color: #000;
					font-weight: 600;
					padding: 10px 0px;
					@media (max-width: 767px) {
						font-size: 11px;
						padding: 5px 0px;
					}
					&:hover {
						color: #0068d9;
						span {
							text-decoration: underline;
						}
					}
					img {
						vertical-align: middle;
						display: inline-block;
						max-width: 25px;
						margin-right: 22px;
						@media (max-width: 767px) {
							display: none;
						}
					}
					span {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.menu-left + .menu-right {
		@media (max-width: 767px) {
			border-top: none;
		}
	}
	.menu-right {
		display: none;
		width: 100%;
		padding: 0px 0px 40px 40px;
		@media (max-width: 991px) {
			padding: 0px 0px 30px 30px;
		}
		@media (max-width: 767px) {
			padding: 20px;
			display: block;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		&.active {
			display: block;
		}
		@media (max-width: 767px) {
			.for-mobile + *, .for-mobile + * + *, .for-mobile + * + * + *, .for-mobile + * + * + * + *, .for-mobile + * + * + * + * + * {
				display: none !important;
			}
			.for-mobile.active + *, .for-mobile.active + * + *, .for-mobile.active + * + * + *, .for-mobile.active + * + * + * + *, .for-mobile.active + * + * + * + * + * {
				display: block !important;
			}
		}
		.for-mobile {
			display: none;
			position: relative;
			@media (max-width: 767px) {
				display: block;
				margin: -10px -20px;
				position: relative;
				padding: 0px 40px 0px 20px;
			}
			a {
				display: -ms-flexbox !important;
				display: flex !important;
				-ms-flex-align: center !important;
				align-items: center !important;
				min-height: 40px;
				padding: 0px 0px;
				font-size: 15px;
				font-weight: 600;
				text-decoration: none;
				p {
					width: 40px;
					padding: 0px 10px 0px 0px;
					margin: 0px;
					img {
						max-width: 100%;
					}
				}
			}
			.close-categories {
				display: block !important;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				cursor: pointer;
			}
			&.active .close-categories:before {
				content: "-";
				font-family: Arial;
				font-weight: 300;
				font-size: 36px;
				line-height: 42px;
				padding: 0px 18px;
			}
			.open-categories {
				display: block !important;
				position: absolute;
				top: 0;
				right: 0;
				height: 45px;
				cursor: pointer;
			}
			&.active .open-categories {
				display: none !important;
			}
			.open-categories:before {
				content: "+";
				font-family: Arial;
				font-weight: 300;
				font-size: 24px;
				line-height: 46px;
				padding: 0px 17px;
			}
		}
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			li {
				padding: 32px 0px 0px 0px;
				@media (max-width: 767px) {
					padding-top: 0px;
				}
				a {
					font-size: 15px;
					color: #000;
					font-weight: 600;
				}
				ul {
					padding: 16px 0px 0px 0px;
					margin: 0px;
					list-style: none;
					li {
						padding: 0px !important;
						a {
							color: #000;
							font-size: 14px;
							font-weight: 400;
							line-height: 25px;
						}
					}
				}
			}
		}
		.menu-banner-1 {
			max-width: 293px;
			height: 166px;
			background-size: cover;
			margin: 32px auto 0px auto;
			position: relative;
			.banner-content {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				h3 {
					font-size: 15px;
					color: #666666;
					font-weight: 400;
					padding: 0px;
					margin: 0px;
				}
				h4 {
					font-size: 25px;
					line-height: 23px;
					font-weight: 600;
					color: #000;
					text-transform: none;
					padding: 5px 0px 0px 0px;
					margin: 0px;
				}
			}
		}
		.menu-banner-3 {
			max-width: 333px;
			height: 166px;
			background-size: cover;
			margin: 32px auto 0px auto;
			position: relative;
			.banner-content {
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				h3 {
					font-size: 15px;
					color: #666666;
					font-weight: 400;
					padding: 0px;
					margin: 0px;
				}
				h4 {
					font-size: 25px;
					line-height: 23px;
					font-weight: 600;
					color: #000;
					text-transform: none;
					padding: 5px 0px 0px 0px;
					margin: 0px;
				}
			}
		}	
		.menu-banner-4 {
			max-width: 357px;
			height: 166px;
			background-size: cover;
			margin: 32px 0px 0px auto;
			position: relative;
			.banner-content {
				position: absolute;
				top: 50%;
				left: 9px;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				h3 {
					font-size: 15px;
					color: #666666;
					font-weight: 400;
					padding: 0px;
					margin: 0px;
				}
				h4 {
					font-size: 25px;
					line-height: 23px;
					font-weight: 600;
					color: #000;
					text-transform: none;
					padding: 5px 0px 0px 0px;
					margin: 0px;
				}
			}
		}		
		.menu-banner-2 {
			height: 100px;
			background-size: cover;
			background-position: center;
			margin: 32px 0px 0px 0px;
			position: relative;
			.banner-content {
				position: absolute;
				left: 50px;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				h3 {
					display: inline-block;
					vertical-align: top;
					color: #fff;
					font-size: 30px;
					line-height: 1;
					@media (max-width: 1098px) {
						font-size: 26px;
					}
					@media (max-width: 991px) {
						font-size: 24px;
					}
					@media (max-width: 767px) {
						font-size: 20px;
					}
				}
				.btn {
					display: inline-block;
					vertical-align: top;
					background: #fff !important;
					color: #000 !important;
					padding: 6px 20px 5px 20px;
					font-size: 13px !important;
					text-transform: uppercase;
					font-weight: 600 !important;
					margin: 0px 0px 0px 30px;
				}
			}
		}
	}
}

.standard-body .footer .background {
	background: #fff;
}

.footer {
	.background {
		background: #fff;
	}
	.pattern {
		color: #000;
		a {
			color: #000;
			&:hover {
				color: #000;
			}
		}
		h4 {
			color: #000;
			font-size: 15px;
			padding: 58px 0px 19px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding-top: 36px;
			}
		}
		ul {
			padding-top: 54px;
			@media (max-width: 767px) {
				padding: 0px;
			}
			li {
				a {
					color: #000;
					text-transform: none;
					font-weight: 400;
					&:hover {
						color: #000;
					}
				}
			}
		}
		.open-footer-menu {
			.icon {
				span {
					background: #000;
				}
			}
			.text {
				color: #000;
			}
		}
		.social-links {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 68px 0px 0px 0px;
			margin: 0px;
			@media (max-width: 767px) {
				padding-top: 28px;
			}
			li {
				margin: 0px 0px 0px 23px;
				&:first-child {
					margin-left: auto;
				}
				@media (max-width: 767px) {
					margin-left: 10px;
					margin-right: 10px;
					&:first-child {
						margin-left: auto;
					}
					&:last-child {
						margin-right: auto;
					}
				}
				a {
					color: #1d1d1b;
					font-size: 17px;
					&:hover {
						color: #000;
					}
				}
			}
		}
		.marketlight1-footer-bar {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			padding: 0px 0px 28px 0px;
			.row {
				> div {
					position: relative;
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 30px;
						left: 0;
						bottom: 5px;
						width: 1px;
						background: rgba(0, 0, 0, 0.1);
						@media (max-width: 767px) {
							display: none;
						}
					}
					&:first-child:before {
						display: none;
					}
				}
			}
			.item {
				margin: 30px 0px 0px 0px;
				text-align: center;
				@media (max-width: 767px) {
					margin: 20px 0px 0px 0px;
				}
				.icon {
					margin: 0px auto;
					min-height: 40px;
					img {
						margin: auto;
					}
				}
				p {
					padding: 4px 0px 0px 0px;
				}
			}
		}
		.marketlight4-need-help {
			padding: 55px 0px 0px 0px;
			@media (max-width: 767px) {
				padding: 35px 0px 0px 0px;
				text-align: center;
				display: block !important;
			}
			.text {
				padding-right: 75px;
				@media (max-width: 767px) {
					padding: 0px;
				}
			}
			.buttons {
				margin: auto 0px auto 0px;
				padding: 0px;
				@media (max-width: 767px) {
					padding: 15px 0px 0px 0px;
				}
			}
			h3 {
				font-size: 20px;
				padding: 0px;
				margin: 0px;
				@media (max-width: 767px) {
					font-size: 18px;
				}
			}
			p {
				padding: 5px 0px 0px 0px;
				margin: 0px;
				font-size: 13px;
				color: #808080;
			}
			.footer-btn {
				display: inline-block;
				margin: 0px 7px 0px 0px;
				background: #f2f2f2;
				border: 1px solid #d9d9d9;
				padding: 6px 19px 5px 19px;
				font-size: 11px;
				font-weight: 600;
				color: #000;
				text-transform: uppercase;
				@media (max-width: 767px) {
					margin-right: 3px;
					margin-left: 4px;
				}
			}
		}
		.payments {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			margin: 52px 0px 0px 0px;
			padding: 46px 0px 0px 0px;
			@media (max-width: 767px) {
				margin: 36px 0px 0px 0px;
				padding: 30px 0px 0px 0px;
				text-align: center;
			}
			h4 {
				padding: 0px;
				margin: 0px;
				@media (max-width: 767px) {
					padding-bottom: 15px;
				}
			}
			.payment {
				a {
					display: inline-block;
					vertical-align: top;
					margin: 4px 7px 0px 0px;
					@media (max-width: 767px) {
						margin-right: 4px;
						margin-left: 3px;
					}
				}
			}
		}
	}
}

.standard-body .copyright .background {
	background: #fff;
}

.copyright {
	.background {
		background: #fff;
	}
	.pattern {
		padding: 0px 0px 14px 0px;
		color: #808080;
		a {
			color: #808080;
			&:hover {
				color: #808080;
			}
		}
		.marketlight4-copyright {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			padding: 15px 0px 0px 0px;
			@media (max-width: 767px) {
				text-align: center;
			}
			ul {
				float: right;
				list-style: none;
				padding: 0px;
				margin: 0px;
				@media (max-width: 767px) {
					float: none;
				}
				li {
					display: inline-block;
					vertical-align: top;
					padding-left: 20px;
					@media (max-width: 767px) {
						padding-left: 7px;
						padding-right: 7px;
						padding-top: 4px;
					}
				}
			}
		}
		.marketlight4-copyright + p {
			display: none;
		}
	}
}

.marketlight1-featured-categories {
	text-align: center;
	padding: 66px 0px 0px 0px;
	@media (max-width: 767px) {
		padding: 36px 0px 0px 0px;
	}
	.box-heading {
		font-size: 30px;
		font-weight: 600;
		margin: 0px 0px -5px 0px;
		position: relative;
		@media (max-width: 1098px) {
			font-size: 28px;
		}
		@media (max-width: 991px) {
			font-size: 26px;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
	}
	.items {
		display: flex;
		overflow-x: scroll;
	}
	.item {
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		min-width: 166px;
		display: block;
		a {
			display: block;
			color: #000;
			p {
				padding: 10px;
				margin: 0px auto;
				width: 116px;
				height: 116px;
				background: #f2f2f2;
				border-radius: 100px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				display: -ms-flexbox !important;
				display: flex !important;
				-ms-flex-align: center !important;
				align-items: center !important;
				@media (max-width: 767px) {
					margin: 0px auto;
				}
				img {
					max-width: 100%;
					margin: auto;
				}
			}
			span {
				display: block;
				font-size: 15px;
				font-weight: 600;
				padding: 11px 0px 0px 0px;
			}
		}
	}
}

.marketlight5-banners-1 {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px 0px;
	@media (max-width: 767px) {
		padding: 15px 0px;
		border: none;
	}
	.row {
		> div {
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 9px;
				bottom: 9px;
				width: 1px;
				background: rgba(0, 0, 0, 0.1);
				@media (max-width: 767px) {
					display: none;
				}
			}
			&:first-child:before {
				display: none !important;
			}
		}
	}
	.item {
		text-decoration: none;
		transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		&:hover {
			opacity: 0.9;
		}
		@media (max-width: 767px) {
			padding: 5px 0px;
		}
		.image {
			padding: 0px;
			margin: 2px 28px 0px 0px;
			min-width: 92px;
			width: 92px;
			text-align: right;
			@media (max-width: 1098px) {
				min-width: 80px;
				width: 80px;
			}
		}
		.text {
			padding: 0px;
			margin: 0px;
			font-size: 14px;
			line-height: 1.15;
			color: #666666;
			span {
				display: block;
				font-size: 20px;
				font-weight: 600;
				color: #000;
				@media (max-width: 1098px) {
					font-size: 18px;
				}
				@media (max-width: 991px) {
					font-size: 17px;
				}
				@media (max-width: 767px) {
					font-size: 16px;
				}
			}
		}
	}
}

.marketlight5-best-promotions {
	&.type-2 {
		margin: 70px 0px 0px 0px;
		padding: 60px 0px 0px 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			margin: 40px 0px 0px 0px;
			padding-top: 20px;
		}
	}
	.row {
		margin: 0px -10px;
		> div {
			padding: 0px 10px;
		}
	}
	.banner-2 {
		margin: 0px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			margin: 20px 0px 0px 0px;
		}
		.overflow-hidden {
			overflow: hidden;
			height: 384px;
			position: relative;
			@media (max-width: 767px) {
				height: 220px;
			}
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.banner-badge {
			position: absolute;
			bottom: 78px;
			right: -10px;
			width: 90px;
			height: 90px;
			background: #fb5c00;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			line-height: 90px;
			font-size: 30px;
			font-weight: 600;
			text-align: center;
			color: #fff;
			z-index: 2;
			@media (max-width: 767px) {
				font-size: 20px;
				width: 60px;
				height: 60px;
				line-height: 60px;
			}
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 50px;
			bottom: 50px;
			text-align: left;
			@media (max-width: 1098px) {
				left: 40px;
				bottom: 40px;
			}
			@media (max-width: 767px) {
				left: 30px;
				bottom: 30px;
			}
			h3 {
				font-size: 30px;
				line-height: 1.08;
				color: #fff;
				text-transform: none;
				font-weight: 500;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 28px;
				}
				@media (max-width: 991px) {
					font-size: 24px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #fff !important;
				color: #000 !important;
				padding: 6px 20px 5px 20px;
				font-size: 13px !important;
				margin-top: 16px;
				text-transform: uppercase;
				font-weight: 600 !important;
			}
		}
	}
	.banner-3 {
		margin: 0px 0px 0px 0px;
		background-size: cover;
		background-position: center;
		position: relative;
		text-align: center;
		height: 162px;
		overflow: hidden;
		@media (max-width: 767px) {
			margin: 20px 0px 0px 0px;
			height: 140px;
		}
		&:hover {
			.banner-image {
				transform: scale(1.03);
				-webkit-transform: scale(1.03);
				-moz-transform: scale(1.03);
				&:before {
					top: 50%;
					opacity: 0.5;
				}
			}
		}
		.link {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
		}
		.banner-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 75%;
				bottom: 0;
				background: rgba(212,228,239,0);
				background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#ffffff', GradientType=0 );
				opacity: 0;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
			}
		}
		.banner-content {
			position: absolute;
			left: 50px;
			text-align: left;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			@media (max-width: 1098px) {
				left: 40px;
			}
			@media (max-width: 767px) {
				left: 30px;
			}
			h3 {
				font-size: 30px;
				line-height: 1.08;
				color: #000;
				text-transform: none;
				font-weight: 500;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 28px;
				}
				@media (max-width: 991px) {
					font-size: 24px;
				}
				@media (max-width: 767px) {
					font-size: 21px;
				}
			}
			.btn {
				background: #000 !important;
				color: #fff !important;
				padding: 6px 20px 5px 20px;
				font-size: 13px !important;
				margin-top: 16px;
				text-transform: uppercase;
				font-weight: 600 !important;
			}
		}
	}
	.banner-1 {
		@media (max-width: 767px) {
			margin: 20px 0px 0px 0px;
		}
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			max-width: 200px;
			position: relative;
			margin: 0px auto;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			&:hover {
				opacity: 0.9;
			}
			.badge {
				position: absolute;
				top: 0;
				left: -5px;
				width: 56px;
				height: 56px;
				background: #fb5c00;
				border-radius: 100px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				line-height: 56px;
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				color: #fff;
				z-index: 2;
				display: block;
				padding: 0px;
				margin: 0px;
				@media (max-width: 767px) {
					font-size: 17px;
				}
			}
			.badge-new {
				position: absolute;
				top: 0;
				left: auto;
				right: -15px;
				width: 56px;
				height: 56px;
				background: #0068d9;
				border-radius: 100px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				line-height: 56px;
				font-size: 15px;
				text-transform: uppercase;
				font-weight: 600;
				text-align: center;
				color: #fff;
				z-index: 2;
				display: block;
				padding: 0px;
				margin: 0px;
			}
			p {
				padding: 16px 0px 0px 0px;
				margin: 0px;
				font-size: 15px;
				line-height: 1.3;
				color: #666666;
				span {
					display: block;
					font-size: 25px;
					font-weight: 600;
					color: #000;
					@media (max-width: 1098px) {
						font-size: 23px;
					}
					@media (max-width: 991px) {
						font-size: 20px;
					}
					@media (max-width: 767px) {
						font-size: 18px;
					}
				}
			}
		}
	}
	.banner-1 + .banner-1 {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 25px;
		margin-top: 25px;
	}
	.banner-3 + .banner-1 {
		margin-top: 55px;
		@media (max-width: 767px) {
			margin-top: 30px;
		}
	}
}

.marketlight5-products-1 {
	border: 2px solid #fb5c00;
	margin: 74px 0px 0px 0px !important;
	padding: 44px 55px 55px 55px;
	@media (max-width: 767px) {
		margin: 40px 0px 0px 0px !important;
		padding: 19px 25px 25px 25px;
	}
	.box {
		padding: 0px;
		max-width: 900px;
		margin: 0px auto !important;
		.prev, .next {
			display: none;
		}
		&:not(.title) {
			margin: 0px;
			padding: 0px;
			.box-heading {
				display: none;
			}
			.box-content {
				padding: 0px;
				margin: 0px;
			}
		}
		&.title {
			.box-heading {
				padding-bottom: 0px;
			}
			ul {
				text-align: center;
				padding: 0px 0px 26px 0px;
				margin: 0px;
				list-style: none;
				li {
					display: inline-block;
					vertical-align: top;
					padding: 10px 15px 0px 15px;
					@media (max-width: 767px) {
						padding: 10px 10px 0px 10px;
					}
					a {
						font-weight: 600;
						color: #000;
					}
				}
			}
		}
		.sale {
			width: 56px;
			height: 56px;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			text-align: center;
			line-height: 56px;
			font-size: 20px;
			padding: 0px;
		}
	}
}

.marketlight5-banners-2 {
	padding: 38px 0px 0px 0px;
	.row {
		margin: 0px -1px;
		> div {
			padding: 0px 1px;
		}
	}
	.col-md-12 + .col-md-6 {
		border: none;
	}
	.col-md-6 {
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
			border: none;
		}
		.banner {
			height: 150px;
			background: #fff;
			margin: 2px 0px 0px 0px;
			@media (max-width: 767px) {
				height: 120px;
			}
			.banner-content {
				left: 51.3%;
				h3 {
					font-size: 15px;
					color: #666666;
					@media (max-width: 767px) {
						font-size: 14px;
					}
				}
				h4 {
					font-size: 25px;
					line-height: 1;
					padding: 4px 0px 0px 0px;
					@media (max-width: 767px) {
						font-size: 18px;
					}
				}
			}
		}
	}
	.banner {
		margin: 2px 0px 60px 0px;
		background: #f2f2f2;
		position: relative;
		height: 275px;
		text-align: left;
		@media (max-width: 767px) {
			height: 180px;
			margin-bottom: 30px;
		}
		.banner-content {
			position: absolute;
			left: 17.5%;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			z-index: 2;
			@media (max-width: 767px) {
				left: 25px;
			}
			h3 {
				font-size: 26px;
				font-weight: 300;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 24px;
				}
				@media (max-width: 991px) {
					font-size: 21px;
				}
				@media (max-width: 767px) {
					font-size: 18px;
				}
			}
			h4 {
				font-size: 40px;
				font-weight: 600;
				padding: 0px;
				margin: 0px;
				@media (max-width: 1098px) {
					font-size: 36px;
				}
				@media (max-width: 991px) {
					font-size: 32px;
				}
				@media (max-width: 767px) {
					font-size: 24px;
				}
			}
			.btn {
				background: #000 !important;
				color: #fff !important;
				padding: 6px 20px 5px 20px;
				font-size: 13px !important;
				margin-top: 25px;
				text-transform: uppercase;
				font-weight: 600 !important;
			}
		}
		.banner-image {
			position: absolute;
			img {
				max-width: 100%;
			}
		}
		.banner-badge {
			position: absolute;
			width: 136px;
			height: 136px;
			background: #fb5c00;
			border-radius: 200px;
			-webkit-border-radius: 200px;
			-moz-border-radius: 200px;
			z-index: 2;
			text-align: center;
			color: #fff;
			padding: 34px 0px 0px 0px;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1;
			@media (max-width: 767px) {
				width: 90px;
				height: 90px;
				font-size: 14px;
				padding-top: 24px;
			}
			p {
				padding: 0px;
				margin: 0px;
				font-size: 50px;
				font-weight: 600;
				line-height: 1;
				@media (max-width: 767px) {
					font-size: 28px;
				}
			}
		}
	}
}


.marketlight5-products-2 {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 59px !important;
	padding-top: 80px;
	@media (max-width: 767px) {
		margin-top: 40px !important;
		padding-top: 40px;
	}
	.box {
		padding: 0px 0px 0px 35px;
		margin: 0px;
		@media (max-width: 767px) {
			padding: 0px;
		}
		.box-heading {
			display: none;
		}
		.prev, .next {
			// display: none;
			width: 30px;
			height: 30px;
			background: #e5e5e5;
			line-height: 30px;
			top: 40%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			@media (max-width: 767px) {
				display: none;
			}
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		.next {
			right: -45px;
		}
		.prev {
			left: -25%;
		}
	}
	.promo-info {
		margin: 0px -40px 0px 0px;
		position: relative;
		text-align: center;
		@media (max-width: 767px) {
			margin: 0px;
		}
		.badge {
			display: block;
			width: 156px;
			height: 156px;
			background: #fb5c00;
			border-radius: 200px;
			-webkit-border-radius: 200px;
			-moz-border-radius: 200px;
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 45px 0px 0px 0px;
			margin: 0px auto 16px auto;
			@media (max-width: 767px) {
				width: 90px;
				height: 90px;
				padding-top: 25px;
				font-size: 10px;
			}
			p {
				padding: 3px 0px 0px 0px;
				margin: 0px;
				font-size: 50px;
				@media (max-width: 767px) {
					font-size: 30px;
				}
			}
		}
		a {
			font-weight: 600;
			color: #000;
		}
	}
}

.marketlight5-products-2 + .marketlight5-products-2 {
	border: none;
	padding: 0px;
	margin: 70px 0px 0px 0px !important;
	@media (max-width: 767px) {
		margin: 40px 0px 0px 0px !important;
	}
}

.marketlight5-categories {
	.box-content {
		margin-top: -49px;
		position: relative;
		@media (max-width: 767px) {
			margin-top: -30px;
		}
	}
	h3 {
		padding: 49px 0px 0px 0px;
		margin: 0px;
		font-size: 15px;
		font-weight: 600;
		@media (max-width: 767px) {
			padding-top: 39px;
		}
	}
	ul {
		list-style: none;
		padding: 19px 0px 0px 0px;
		margin: 0px;
		li {
			a {
				font-size: 14px;
				line-height: 25px; 
			}
		}
	}
}

.marketlight5-bar {
	max-width: 760px;
	margin: 54px auto 0px auto;
	background: #ffeee5;
	padding: 5px 20px;
	text-align: center;
	font-size: 13px;
	color: #666666;
	@media (max-width: 767px) {
		margin: 40px auto 0px auto;
	}
	strong {
		color: #fb5c00;
	}
}

.marketlight5-posts {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 60px 0px 0px 0px;
	padding: 30px 0px 0px 0px;
	@media (max-width: 767px) {
		margin: 40px 0px 0px 0px;
		padding: 10px 0px 0px 0px;
	}
	.item {
		padding: 30px 0px 0px 0px;
		.image {
			width: 50%;
			max-width: 270px;
			.tags {
				display: none;
			}
		}
		.right {
			width: 50%;
			padding-left: 30px;
			@media (max-width: 767px) {
				padding-left: 25px;
				width: 60%;
			}
			.name {
				a {
					text-transform: none;
					font-size: 30px;
					line-height: 1.15;
					@media (max-width: 1098px) {
						font-size: 28px;
					}
					@media (max-width: 991px) {
						font-size: 26px;
					}
					@media (max-width: 767px) {
						font-size: 20px;
					}
				}
			}
		}
	}
}


/* 28.12.2019 */

/* colors */

#modalAddToCartProduct .desctope .left .tt-total .price-new,
.about-1 .parallax p,
.about-3 .item h5,
.carouselItem .testimonial .fa-quote-right {
	color: #0068d9;
}

.post-entry .post-content .quote {
	border-left-color: #0068d9;
}

.bar3 .item .icon svg path, .bar3 .item .icon svg g {
	fill: #0068d9 !important;
}

/* header 5 */

header #top-bar .right #cart_block {
	background: #0068d9;
}

header #top-bar .right #cart_block .cart-heading .open-cart svg,
header #top-bar .right .wishlist svg {
	path, g {
		fill: transparent !important;
		stroke: #fff !important;
	}
}

/* Header 6 */

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading svg {
	path, g {
		fill: transparent !important;
		stroke: #000 !important;
	}
}

header .slider-header #top .menu2 .desktop-cart #cart_block .cart-heading .cart-count {
	background: #0068d9;
	color: #fff;
}

header .slider-header #top .menu2 .wishlist .wishlist-count {
	background: #000;
	color: #fff;
}