.standard-body .full-width .container {
	max-width: none;
	width: 1098px;
}

.standard-body .fixed .background {
	width: 1058px;
	max-width: none;
}

.main-fixed {
	width: 1058px;
	max-width: none;
}

@media (min-width:992px) and (max-width:1098px) {
	.standard-body .full-width .container {
		width: 966px;
	}
	
	.standard-body .fixed .background {
		width: 926px;
	}
	
	.main-fixed {
		width: 926px;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.standard-body .full-width .container {
		width: 768px;
	}
	
	.standard-body .fixed .background {
		width: 728px;
	}
	
	.main-fixed {
		width: 728px;
	}
}
	
@media (max-width:768px) {
	.standard-body .full-width .container {
		width: auto;
	}
	
	.standard-body .fixed .background {
		width: auto;
	}
	
	.main-fixed {
		width: auto;
	}
}